@import "../../lib/header/variable";

body{
    background-color: #fffaf4;
}
div.sam_co{
    img{
        width:100%;
    }
    *{
        box-sizing: border-box;
        font-family: 'Noto Sans TC Light', '微軟正黑體', sans-serif;
    }
    div.container{
        width:85%;
        // border:1px solid black;
        margin:50px auto 20px;
        display:flex;
        div.leftWrap{
            width:60%;
            // border:1px solid red;
            margin-bottom: 10%;
            div.smallPhoto{
                display:flex;
                justify-content:space-between;
                margin-top:17px;
                img{
                    width: 32%;
                    border:1px solid #865454;
                    cursor:pointer;
                }
            }
            div.blackBack{
                position: fixed;
                width:100%;
                height: 100vh;
                background-color: rgba(97,97,97,.8);
                z-index: 5;
                top:0;
                left:0;
                opacity: 0;
                z-index: -1;
                transition: opacity 1s;
                div.secondBack{
                    width:70%;
                    margin:0 auto;
                    border:1px solid rgb(155, 155, 155);
                    background-color: #fffaf4;
                    margin-top: 2%;
                    position: relative;
                    div.opacityBox{
                        width:90%;
                        border:1px solid rgb(100, 70, 70);
                        background-color: #fffaf4;
                        font-size: 0;
                        margin: 3% auto;
                        img.cancel{
                            position: absolute;
                            width: 35px;
                            height: 35px;
                            top:1%;
                            right:1%;
                            cursor:pointer;
                        }
                    }   
                }
            }
            div.blackBack.-on{
                opacity: 1;
                z-index: 2;
            }
            div.blackBack.-opacity-zero{
                opacity: 0;
            }
            div.blackBack2{
                position: fixed;
                width:100%;
                height: 100vh;
                background-color: rgba(97,97,97,.8);
                z-index: 5;
                top:0;
                left:0;
                opacity: 0;
                z-index: -1;
                transition: opacity 1s;
                div.secondBack{
                    width:70%;
                    margin:0 auto;
                    border:1px solid rgb(155, 155, 155);
                    background-color: #fffaf4;
                    margin-top: 2%;
                    position: relative;
                    div.opacityBox{
                        width:90%;
                        border:1px solid rgb(100, 70, 70);
                        background-color: #fffaf4;
                        font-size: 0;
                        margin: 3% auto;
                        img.cancel{
                            position: absolute;
                            width: 35px;
                            height: 35px;
                            top:1%;
                            right:1%;
                            cursor:pointer;
                        }
                    }   
                }
            }
            div.blackBack2.-on{
                opacity: 1;
                z-index: 2;
            }
            div.blackBack2.-opacity-zero{
                opacity: 0;
            }
        }
        div.blackBack3{
            position: fixed;
            width:100%;
            height: 100vh;
            background-color: rgba(97,97,97,.8);
            z-index: 5;
            top:0;
            left:0;
            opacity: 0;
            z-index: -1;
            transition: opacity 1s;
            div.secondBack{
                width:70%;
                margin:0 auto;
                border:1px solid rgb(155, 155, 155);
                background-color: #fffaf4;
                margin-top: 2%;
                position: relative;
                div.opacityBox{
                    width:90%;
                    border:1px solid rgb(100, 70, 70);
                    background-color: #fffaf4;
                    font-size: 0;
                    margin: 3% auto;
                    img.cancel{
                        position: absolute;
                        width: 35px;
                        height: 35px;
                        top:1%;
                        right:1%;
                        cursor:pointer;
                    }
                }   
            }
        }
        div.blackBack3.-on{
            opacity: 1;
            z-index: 2;
        }
        div.blackBack3.-opacity-zero{
            opacity: 0;
        }
        div.rightWrap{
            width:40%;
            // border:1px solid pink;
            margin-left:30px;
            
            h1{
                color:#54383b;
                font-family: 'Noto Sans TC Regular';    
                margin :3% 0px 6% 0px;
            }
            p{
                font-size:24px;
                color:#54383b;
                font-family: 'Noto Sans TC Light';
                margin-top:3%;
                &:nth-child(5){
                    margin-top:6%;
                }
            }
            div.form{
                width:90%;
                margin:6% auto 0px;;
                border:1px solid #BDA79e;
                position: relative;
                &:after{
                    content:'';
                    display:inline-block;
                    background-color: rgba(189,167,156,.1);
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top:-3%;
                    left:-3%;
                    z-index: -1;
                }
                form{
                    margin-left:15%;
                    label{
                        display:block;
                        font-size:24px;
                        color:#54383b;
                        font-family: 'Noto Sans TC Light';
                        margin-top: 7%;
                    }
                    input{
                        background:none;
                        cursor:pointer;
                        border:none;
                        border-bottom:1px solid #BDA79e;
                        margin-top:5%;
                        width:80%;
                        outline:none;
                    }
                    span.error{
                        
                    }
                    button{
                        display:block;
                        border:1px solid #BDA79e;
                        background:none;
                        width:105px;
                        height: 45px;
                        font-size:24px;
                        color:#54383b;
                        font-family: 'Noto Sans TC Light';
                        margin-top: 10%;
                        margin-bottom:8%;
                        transition:background-color,.5s;
                        cursor:pointer;
                        outline:none;
                        z-index: 1;
                        &:hover{
                            color:#fff;
                            background-color: #BDA79e;
                        }
                    }
                }
            }
        }
    }
    @media (max-width:1500px){
        div.container{
            div.rightWrap{
                p{
                    font-size: 20px;
                }
                div.form{
                    form{
                        label{
                            font-size: 20px;
                        }
                        button{
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }
    @media (max-width:1200px){
        div.container{
            div.leftWrap{
                div.bigPhoto{
                    img{
                        height:500px;
                    }
                }
                div.blackBack{
                    div.secondBack{
                        div.opacityBox{
                            img.cancel{
                                width: 20px;
                                height:20px;
                            }
                        }
                    }
                }
                div.blackBack2{
                    div.secondBack{
                        div.opacityBox{
                            img.cancel{
                                width: 20px;
                                height:20px;
                            }
                        }
                    }
                }
                div.blackBack3{
                    div.secondBack{
                        div.opacityBox{
                            img.cancel{
                                width: 20px;
                                height:20px;
                            }
                        }
                    }
                }
            }
        }
    }
    @media (max-width:992px){
        div.container{
            div.leftWrap{
                div.bigPhoto{
                    img{
                        height:400px;
                    }
                }
            }
            div.rightWrap{
                p{
                    font-size: 16px;
                }
                div.form{
                    form{
                        label{
                            font-size: 16px;
                        }
                        button{
                            width:80px;
                            height:35px;
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
    @media (max-width:768px){
        div.container{
            flex-wrap: wrap;
            div.leftWrap{
                width:90%;
                margin:0 auto;
                div.bigPhoto{
                    img{
                        height:auto;
                    }
                }
                div.blackBack{
                    div.secondBack{
                        div.opacityBox{
                            img.cancel{
                                width: 14px;
                                height:14px;
                            }
                        }
                    }
                }
                div.blackBack2{
                    div.secondBack{
                        div.opacityBox{
                            img.cancel{
                                width: 14px;
                                height:14px;
                            }
                        }
                    }
                }
                div.blackBack3{
                    div.secondBack{
                        div.opacityBox{
                            img.cancel{
                                width: 14px;
                                height:14px;
                            }
                        }
                    }
                }
            }
            div.rightWrap{
                width:90%;
                margin:0 auto;
            }
        }
    }
    @media (max-width:576px){
        div.container{
            div.rightWrap{
                p{
                    font-size: 12px;
                }
                div.form{
                    form{
                        label{
                            font-size: 12px;
                        }
                        button{
                            font-size: 12px;
                            width:60px;
                            height: 30px;
                        }
                    }
                }
            }
        }
    }
    @media (max-width:500px){
        div.container{
            div.leftWrap{
                div.blackBack{
                    div.secondBack{
                        top:25%;
                        div.opacityBox{
                            img.cancel{
                                width: 12px;
                                height:12px;
                                top:0;
                                right:0;
                            }
                        }
                    }
                }
                div.blackBack2{
                    div.secondBack{
                        top:25%;
                        div.opacityBox{
                            img.cancel{
                                width:12px;
                                height:12px;
                                top:0;
                                right:0;
                            }
                        }
                    }
                }
                div.blackBack3{
                    div.secondBack{
                        top:25%;
                        div.opacityBox{
                            img.cancel{
                                width: 12px;
                                height:12px;
                                top:0;
                                right:0;
                            }
                        }
                    }
                }
            }
        }
    }
    @media (max-width:360px){
        div.container{
            div.leftWrap{
                div.blackBack{
                    div.secondBack{
                        div.opacityBox{
                            img.cancel{
                                width: 11px;
                                height:11px;
                                top:0;
                                right:0;
                            }
                        }
                    }
                }
                div.blackBack2{
                    div.secondBack{
                        div.opacityBox{
                            img.cancel{
                                width:11px;
                                height:11px;
                                top:0;
                                right:0;
                            }
                        }
                    }
                }
                div.blackBack3{
                    div.secondBack{
                        div.opacityBox{
                            img.cancel{
                                width: 11px;
                                height:11px;
                                top:0;
                                right:0;
                            }
                        }
                    }
                }
            }
        }
    }




























    @include titlem();



}
.common .product{
    font-family: 'Noto Sans TC regular', '微軟正黑體', sans-serif;
}