@import "../../lib/header/variable";



body {
    background-color: #fffaf4;
    overflow: hidden;
}

div.sam_index {
    img {
        width: 100%;
    }

    * {
        box-sizing: border-box;
        font-family: 'Noto Sans TC Light', '微軟正黑體', sans-serif;
    }

    div.container {
        // border:1px solid red;
        position: relative;

        div.left {
            width: 70%;
            height: 1080px;
            background-image: url(../img/product/index-background12801200.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: left center;
            // border:1px solid blue;
            display: inline-block;

            div.box {
                margin-left: 68%;
                margin-top: 10%;

                div.front {
                    border: 2px solid #54383b;
                    width: 400px;
                    height: 180px;
                    text-align: center;
                    display: inline-block;
                    position: relative;
                    z-index: 1;

                    &:after {
                        content: '';
                        display: block;
                        background-color: rgba(255, 250, 244, .5);
                        position: absolute;
                        width: 400px;
                        height: 180px;
                        top: -6%;
                        left: -3%;
                        z-index: -1;
                    }

                    a {
                        text-decoration: none;
                        z-index: 1;

                        h2 {
                            color: #fffaf4;
                            font-family: 'Noto Sans TC Light';
                            font-size: 78px;
                            margin-top: 10%;
                            z-index: 1;
                        }
                    }
                }

                span.logo {
                    position: absolute;
                    top: 30%;
                    right: 21%;

                    img {
                        width: 350px;
                        height: 250px;
                    }

                }
            }
        }

        div.right {
            // border:5px solid green;
            display: inline-block;

            div.back {
                border: 2px solid #54383b;
                width: 400px;
                height: 180px;
                text-align: center;
                display: inline-block;
                position: relative;
                z-index: 1;
                margin-left: 20px;

                &:after {
                    content: '';
                    display: block;
                    background-color: rgba(189, 167, 158, .6);
                    position: absolute;
                    width: 400px;
                    height: 180px;
                    top: -6%;
                    left: 2.5%;
                    z-index: -1;
                }

                a {
                    text-decoration: none;
                    z-index: 1;

                    h2 {
                        color: #865454;
                        font-family: 'Noto Sans TC Light';
                        font-size: 78px;
                        margin-top: 10%;
                        z-index: 1;
                    }
                }
            }
        }

        span.house {
            img {
                width: 680px;
                height: 800px;
                position: absolute;
                bottom: 0%;
                right: -15%;
            }
        }
    }

    @media (max-width:1700px) {
        div.container {
            div.left {
                div.box {
                    div.front {
                        width: 300px;
                        height: 140px;

                        &:after {
                            width: 300px;
                            height: 140px;
                            top: -6%;
                            left: -3%;
                        }

                        a {
                            h2 {
                                font-size: 50px;
                                margin-top: 12%;
                            }
                        }
                    }
                }
            }

            div.right {
                div.back {
                    width: 300px;
                    height: 140px;

                    &:after {
                        width: 300px;
                        height: 140px;
                        top: -6%;
                        left: -3%;
                    }

                    a {
                        h2 {
                            font-size: 50px;
                            margin-top: 12%;
                        }
                    }
                }
            }
        }
    }

    @media (max-width:1500px) {
        div.container {
            div.left {
                div.box {
                    margin-left: 50%;

                    span.logo {
                        right: 20%;

                        img {
                            width: 300px;
                            height: 200px;
                        }

                    }
                }
            }

            span.house {
                img {
                    width: 580px;
                    height: 600px;
                    position: absolute;
                    bottom: 12%;
                    right: -15%;
                }
            }
        }
    }

    @media (max-width:1200px) {
        div.container {
            div.left {
                div.box {
                    div.front {
                        width: 200px;
                        height: 100px;

                        &:after {
                            width: 200px;
                            height: 100px;
                            top: -8%;
                            left: -4%;
                        }

                        a {
                            h2 {
                                font-size: 36px;
                                margin-top: 12%;
                            }
                        }
                    }

                    span.logo {
                        right: 2%;

                        img {
                            width: 350px;
                            height: 250px;
                        }

                    }
                }
            }

            div.right {
                div.back {
                    width: 200px;
                    height: 100px;

                    &:after {
                        width: 200px;
                        height: 100px;
                        top: -8%;
                        left: -4%;
                    }

                    a {
                        h2 {
                            font-size: 36px;
                            margin-top: 12%;
                        }
                    }
                }
            }

            span.house {
                display: none;
            }
        }
    }

    @media (max-width:768px) {
        div.container {
            div.left {
                div.box {
                    div.front {
                        position: absolute;
                        top: 10%;
                    }

                    span.logo {
                        right: 0%;

                        img {
                            width: 200px;
                            height: 100px;
                        }

                    }
                }
            }

            div.right {
                div.back {
                    position: absolute;
                    top: 22%;
                    left: 40%;
                }
            }
        }
    }

    @media (max-width:360px) {
        div.container {
            div.left {
                div.box {
                    div.front {
                        position: absolute;
                        top: 10%;
                        left: 10%;
                    }

                    span.logo {
                        right: -12%;

                        img {
                            width: 200px;
                            height: 100px;
                        }

                    }
                }
            }

            div.right {
                div.back {
                    position: absolute;
                    top: 22%;
                    left: 10%;
                }
            }
        }
    }
}

.backendlogin {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid #BDA79E;
    background-color: rgb(240, 235, 229);
    padding: 15px 30px 20px;
    white-space: nowrap;
    color: #865454;
    font-family: 'Noto Sans TC regular', '微軟正黑體', sans-serif;
    z-index: 10;

    h2 {
        text-align: center;
        font-size: 20px;
        margin-bottom: 20px;
    }

    label {
        margin-right: 10px;
    }

    input {
        margin-bottom: 10px;
        border: #865454 1px solid;
        outline: none;
        font-size: 16px;
        padding-left: 10px;
    }

    .btnbox {
        display: flex;
        justify-content: space-around;

        button {
            margin: 0px 10px 0;
            padding: 5px 8px;
            border: none;
            outline: none;
            border-bottom: 1px solid #BDA79E;
            background-color: rgb(240, 235, 229);
            color: #865454;
            font-size: 16px;

            &:hover {
                cursor: pointer;
                background-color: #BDA79E;
                color: white;
            }
        }
    }
}

@media (max-width:576px) {
    .backendlogin {
        padding: 6px;
    }
}