@import "../../lib/header/variable";

body{
    background-color: #fffaf4;
}
div.sam{
    *{
        box-sizing: border-box;
        font-family: 'Noto Sans TC Light', '微軟正黑體', sans-serif;
    }
    img{
        width: 100%;
    }
    div.banner{
        width:73%;
        margin:0 auto;
        // border:1px solid pink;
        font-size:0;
        position: relative;

        img.bannerImg{
            width:100%;
        }
        h2.bannerWord01{
            font-size:30px;
            position: absolute;
            left:30%;
            top:40%;
            font-weight: 300;
            color:#54383b;
            font-family: 'Noto Sans TC Light'
        }
        h2.bannerWord02{
            font-size:30px;
            position: absolute;
            left:55%;
            bottom:30%;
            font-weight: 300;
            color:#54383b;
            font-family: 'Noto Sans TC Light'
        }
    }
    div.selectBar{
        // border:1px solid maroon;
        width:84%;
        margin:0 auto;
        font-size: 0;
        display:flex;
        justify-content: center;
        // &::after{
        //     content:'';
        //     display:block;
        //     width:100%;
        //     margin:0 auto;
        //     border:1px solid #BDA79E;
        //     margin-bottom:80px;
        // }
        button.iconButton{
            width: 12%;
            height: 75px;
            background-color:#fffaf4 ;
            border:1px solid #54383b;
            border-radius: 15px;
            margin-top:80px;
            margin-left:10px;
            margin-right:10px;
            position: relative;
            cursor: pointer;
            outline:none;
            transition:transform .3s;
            &:focus{
                content:'';
                border:4px solid #865454;
            }
            &:hover{
                content:'';
                transform: translateY(-6px);
            }
            h2.iconWord{
                font-size:30px;
                display:inline-block;
                margin-left:10px;
                // border:1px solid red;
            }
            img.icon1{
                width:35%;
                height:40px;
                // border:1px solid red;
                vertical-align: bottom;
            }
            img.icon2{
                width:35%;
                height:40px;
                // border:1px solid red;
                vertical-align: bottom;
            }
            img.icon3{
                width:35%;
                height:40px;
                // border:1px solid red;
                vertical-align: bottom;
            }
            img.icon4{
                width:35%;
                height:40px;
                // border:1px solid red;
                vertical-align: bottom;
            }
            img.icon5{
                width:30%;
                height:40px;
                // border:1px solid red;
                vertical-align: bottom;
            }
            img.icon6{
                width:30%;
                height:40px;
                // border:1px solid red;
                vertical-align: bottom;
            }
            span.singleWord{
                display:none;
            }
        }
    }
    @media (max-width:1600px){
        div.selectBar{
            flex-wrap: wrap;
            button.iconButton{
                width:20%;
                margin:20px 25px;
            }
        }
    }
    @media (max-width:1200px){
        div.selectBar{
            button.iconButton{
                margin:20px 15px;
            }
        }
    }
    @media (max-width:992px){
        div.selectBar{
            button.iconButton{
                height: 50px;
                img.icon1{
                    height: 30px;
                }
                img.icon2{
                    height: 30px;
                }
                img.icon3{
                    height: 30px;
                }
                img.icon4{
                    height: 30px;
                }
                img.icon5{
                    height: 30px;
                }
                img.icon6{
                    height: 30px;
                }
                img.icon7{
                    height: 30px;
                }
            }
        }
    }
    @media (max-width:768px){
        div.banner{
            width:65%;
        }
        div.selectBar{
            button.iconButton{
                margin:20px 10px;
                h2.iconWord{
                    display:none;
                }
                span.singleWord{
                    display:block;
                    font-size: 24px;
                    color:#54383b;
                }
            }
        }
    }
    @media (max-width:472px){
        div.selectBar{
            button.iconButton{
                margin:10px 5px;
            }
        }
    }
    @media (max-width:414px){
        div.banner{
            h2.bannerWord01{
                left:25%;
                top:30%;
            }
            h2.bannerWord02{
                bottom:25%;
            }
        }
    }
    @media (max-width:360px){
        div.banner{
            h2.bannerWord01{
                left:25%;
                top:30%;
            }
            h2.bannerWord02{
                bottom:25%;
            }
        }
        div.selectBar{
            button.iconButton{
                height: 40px;
                margin:10px 5px;
                span.singleWord{
                    font-size: 20px;
                }
            }
        }
        span.line1{
            margin:10px auto;
        }
    }
    div.productBox{
        width: 84%;
        margin:0 auto;
        display:flex;
        flex-wrap: wrap;
        justify-content:center;
        div.product{
            overflow: hidden;
            // border:1px solid rgb(108, 108, 126);
            width: 31%;
            position: relative;
            margin-bottom:60px;
            margin-left:5px;
            margin-right:5px;
            span.discount{
                position: absolute;
                color:#865454;
                font-size:24px;
                border:1px solid #865454;
                padding:2px 6px;
                top:1%;
                right:2%;
            }
            img.threed{
                position: absolute;
                width: 10%;
                height: 10%;
                top:2%;
                right:2%;
            }
            img#championIcon{
                position: absolute;
                width: 10%;
                height: 10%;
                top:2%;
                right:2%;
            }
            h2.productWord01{
                font-size: 40px;
                display:inline-block;
                margin-left:35px;
                width:35%;
                margin-top: 15px;
                color:#54383b;
            }
            h2.productWord02{
                font-size: 30px;
                display:inline-block;
                // border:1px solid red;
                position: absolute;
                right:0;
                margin-top: 15px;
                color:#54383b;
            }
            p.productWord03{
                font-size: 24px;
                margin-top:15px;
                margin-left:35px;
                color:#54383b;
            }
        }
    }
    span.line{
        width:84%;
        margin:0 auto;
        display:block;
        border:1px solid #BDA79E;
    }
    span.line1{
        width:84%;
        margin:50px auto;
        display:block;
        border:1px solid #BDA79E;
    }
    h1.orderTitle{
        font-size:40px;
        margin:40px 0px 40px 150px;
    }
    div.orderBox{
        width: 84%;
        margin:0 auto;
        display:flex;
        justify-content: space-between;
        div.orderCase{
            overflow: hidden;
            // border:1px solid purple;
            width: 31%;
            position: relative;
            margin-bottom:60px;
            h2.orderTitle{
                font-size: 30px;
                margin-top: 15px;
                color:#54383b;
            }
        }
    }
    @media (max-width:360px){
        span.line1{
            margin:0px auto 10px;
        }
    }
    @media (max-width:1500px){
        div.productBox{
            div.product{
                p.productWord03{
                    font-size:20px;
                }
            }
        }
    }
    @media (max-width:992px){
        div.productBox{
            div.product{
                h2.productWord01{
                    margin-left:20px;
                }
                p.productWord03{
                    font-size:16px;
                    margin-left:20px;
                }
            }
        }
        h1.orderTitle{
            margin-left:80px;
        }
    }
    @media (max-width:768px){
        div.productBox{
            width:100%;
            justify-content:center;
            div.product{
                width: 45%;
                margin-left:5px;
                margin-right:5px;
                span.discount{
                    font-size:12px;
                }
            }
        }
        div.orderBox{
            flex-wrap: wrap;
            justify-content: center;
            div.orderCase{
                width:100%;
            }
        }
    }
    @media (max-width:576px){
        div.productBox{
            div.product{
                p.productWord03{
                    font-size:12px;
                }
            }
        }
        h1.orderTitle{
            margin-left:50px;
        }
        span.line1{
            margin:30px auto;
        }
    }
    @media (max-width:360px){
        div.productBox{
            div.product{
                width:44%;
                h2.productWord01{
                    margin-left:10px;
                }
                p.productWord03{
                    margin-left:10px;
                }
            }
        }
        h1.orderTitle{
            margin-left:30px;
        }
    }



    @include titlem();















}
/////////////////SLIDER/////////////////////

.common .product{
    font-family: 'Noto Sans TC regular', '微軟正黑體', sans-serif;
}