body{
    background-color: #fffaf4;
}
div.sam{
    *{
        box-sizing: border-box;
    }
    img{
        width: 100%;
    }
    div.banner{
        width:73%;
        margin:0 auto;
        border:1px solid pink;
        font-size:0;
        position: relative;

        img.bannerImg{
            width:100%;
        }
        h2.bannerWord01{
            font-size:30px;
            position: absolute;
            left:30%;
            top:40%;
            font-weight: 300;
        }
        h2.bannerWord02{
            font-size:30px;
            position: absolute;
            left:55%;
            bottom:30%;
            font-weight: 300;
        }
    }
    div.selectBar{
        // border:1px solid maroon;
        width:84%;
        margin:0 auto;
        font-size: 0;
        &::after{
            content:'';
            display:block;
            width:100%;
            margin:0 auto;
            border:1px solid #BDA79E;
            margin-bottom:80px;
        }
        button.iconButton{
            width: 12%;
            height: 75px;
            background-color:#fffaf4 ;
            border:1px solid #54383b;
            border-radius: 15px;
            margin-top:80px;
            margin-bottom:80px;
            margin-left:26px;
            position: relative;
            cursor: pointer;
            img.icon1{
                width:50px;
                height:40px;
                border:1px solid red;
                vertical-align: bottom;
            }
            p.iconWord{
                font-size:30px;
                display:inline-block;
                margin-left:10px;
                border:1px solid red;
            }
            img.icon2{
                width:70px;
                height:40px;
                border:1px solid red;
                vertical-align: bottom;
            }
            img.icon3{
                width:70px;
                height:40px;
                border:1px solid red;
                vertical-align: bottom;
            }
            img.icon4{
                width:70px;
                height:40px;
                border:1px solid red;
                vertical-align: bottom;
            }
            img.icon5{
                width:50px;
                height:40px;
                border:1px solid red;
                vertical-align: bottom;
            }
            img.icon6{
                width:50px;
                height:40px;
                border:1px solid red;
                vertical-align: bottom;
            }
        }
    }
    div.productBox{
        width: 84%;
        margin:0 auto;
        display:flex;
        flex-wrap: wrap;
        justify-content: space-between;
        div.product{
            overflow: hidden;
            border:1px solid blue;
            width: 31%;
            position: relative;
            margin-bottom:60px;
            p.productWord01{
                font-size: 40px;
                display:inline-block;
                margin-left:35px;
                width:35%;
                margin-top: 15px;
            }
            p.productWord02{
                font-size: 30px;
                display:inline-block;
                border:1px solid red;
                position: absolute;
                right:0;
                margin-top: 15px;
            }
            p.productWord03{
                font-size: 24px;
                margin-top:15px;
                margin-left:35px;
            }
        }
    }
    span.line{
        width:84%;
        margin:0 auto;
        display:block;
        border:1px solid #BDA79E;
    }
    h1.orderTitle{
        font-size:40px;
        margin:40px 0px 40px 150px;
    }
    div.orderBox{
        width: 84%;
        margin:0 auto;
        display:flex;
        justify-content: space-between;
        div.orderCase{
            overflow: hidden;
            border:1px solid purple;
            width: 31%;
            position: relative;
            margin-bottom:60px;
            p.orderTitle{
                font-size: 30px;
                margin-top: 15px;
            }
        }
    }
    img#qqq{
        width: 1500px;
        height: 1200px;
        margin: 0 auto;
        border:1px solid red;
    }















}


