<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>傢俱賞 | 參考案例</title>
    <link rel="stylesheet" href="../lib/reset.css">
    <link rel="stylesheet" href="../css/14.css">
    <link rel="Shortcut Icon" href="../img/favicon.ico">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js"></script>
    <script src="../js/14/14.js"></script>
    <link rel="stylesheet" href="css/uikit.min.css" />
    <script src="js/uikit.min.js"></script>
    <script src="js/uikit-icons.min.js"></script>
    <script src="../lib/js/vue.js"></script>
    <link rel="stylesheet" href="../css/footer.css">
    <!-- header設定 -->
    <link rel="stylesheet" href="../css/logSign.css">
    <script src="../lib/login/lazy-line-painter-1.9.6.min.js"></script>
    <script defer src="../lib/login/logSign.js"></script>
    <!-- <script src="../js/14/photoPathAjax.js"></script> -->
</head>

<body>
    <!-- 登入燈箱 -->
    <div id="login">
        <div class="login">
            <h1 class="titleFont2">歡迎回來</h1>
            <form action="LoginR.php" class="login" name="login" method="POST">
                <div>
                    <label for="account" class="titleFont3">帳號</label>
                    <input type="text" id="account" name="account" class="titleFont3" minlength="8" maxlength="12"
                        required="required" autocomplete="off">
                    <label for="pwd" class="titleFont3">密碼</label>
                    <input type="password" class="titleFont3" id="pwd" name="pwd" minlength="8" maxlength="12"
                        required="required" autocomplete="off">
                    <input type="checkbox" id="alive" name="alive" class="alive detailFont">
                    <label for="alive" class="alive" id="alivebox"></label>
                    <label for="alive" class="alive detailFont">保持登入</label>
                    <p class="detailFont guestlogin">訪客用帳號</p>
                </div>
                <div>
                    <p class="detailFont"><a>忘記密碼</a></p>
                    <button type="button" class="login titleFont2">登入</button>
                    <p class="detailFont"><a href="javascript: void(0)" class="signLink">註冊新會員</a></p>
                </div>
            </form>
            <svg xmlns="http://www.w3.org/2000/svg" width="500" height="500" viewBox="0 0 603 693"
                data-llp-composed="true" id="logIn" class="lazy-line-painter">
                <path id="Path_17" data-name="Path 17"
                    d="M4.5,244.5,304.5,3l300,241.5V624c0,38.108-29.848,69-66.667,69H71.167C34.348,693,4.5,662.108,4.5,624Z"
                    transform="translate(-3 -1.5)" fill="none" data-llp-id="logIn-0" data-llp-duration="5000"
                    data-llp-delay="0" fill-opacity="0" style="" />
                <path id="Path_18" data-name="Path 18" d="M13.5,162.7V18h86.819V162.7"
                    transform="translate(244 518.801)" fill="none" data-llp-id="logIn-1" data-llp-duration="5000"
                    data-llp-delay="0" fill-opacity="0" style="" />
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="500" height="500" viewBox="0 0 603 693"
                data-llp-composed="true" id="logInDoor" class="lazy-line-painter">
                <path id="Path_19" data-name="Path 19" d="M13.5,162.7V18h86.819V162.7"
                    transform="translate(244 518.801)" fill="none" data-llp-id="logIn-2" data-llp-duration="5000"
                    data-llp-delay="0" fill-opacity="0" style="" />
            </svg>

            <div class="closebtn">
                <img class="closebtn" src="../img/homepage/Iconcancel.png">
            </div>
        </div>
    </div>

    <!-- 註冊燈箱 -->
    <div id="signUp">
        <div class="signUp">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 953 1009" data-llp-composed="true" id="signUp"
                class="lazy-line-painter">
                <g id="Rectangle_457" data-name="Rectangle 457" fill="none" stroke="#865454" stroke-width="1">
                    <rect width="953" height="1009" data-llp-id="signUp-0" data-llp-duration="5000" data-llp-delay="0"
                        fill-opacity="0" style="" />
                </g>
            </svg>
            <h1 class="titleFont1">加入會員享受輕鬆購物</h1>
            <form action="SignR.php" class="signUp" name="signUp">
                <div>
                    <div>
                        <label for="memName" class="titleFont3">姓名</label>
                        <input type="text" name="memName" class="titleFont3" id="memNameJH" required="required"
                            autocomplete="off" placeholder="請輸入姓名">
                    </div>
                    <div>
                        <label for="Phone" class="titleFont3">手機</label>
                        <input type="text" name="memPhone" class="titleFont3" id="memPhoneJH" maxlength="10"
                            required="required" autocomplete="off" placeholder="請輸入手機號碼">
                    </div>
                </div>
                <div>
                    <label for="email" class="titleFont3">信箱</label>
                    <input type="email" name="memEmail" class="titleFont3" id="memEmailJH" required="required"
                        autocomplete="off" placeholder="請輸入信箱">
                </div>
                <div id="addressOption">
                    <label for="address" class="titleFont3">地址</label>
                    <select name="memCity" id="memCityJH" class="detailFont" required="required">
                        <option name="memCity" selected disabled value="0">請選擇縣市</option>
                        <option v-for="city in citys" class="detailFont" name="memCity" :value="city">{{city}}</option>
                    </select>
                    <input type="text" name="memAddress" class="titleFont3" id="memAddressJH" required="required"
                        autocomplete="off" placeholder="請輸入地址">
                </div>
                <div>
                    <label for="account" class="titleFont3">帳號</label>
                    <input type="text" name="memAccount" class="titleFont3" id="memAccountJH" minlength="6"
                        maxlength="12" required="required" autocomplete="off" placeholder="請輸入英文或數字(6-12字元)">
                </div>
                <div>
                    <label for="pwd" class="titleFont3">密碼</label>
                    <input type="password" name="memPwd" class="titleFont3" id="memPwdJH" minlength="6" maxlength="12"
                        required="required" autocomplete="off" placeholder="請輸入密碼(6-12字元)">
                </div>
                <div>
                    <label for="checkP" class="titleFont3">密碼確認</label>
                    <input type="password" name="memCheckP" class="titleFont3" id="memCheckPJH" required="required"
                        autocomplete="off" placeholder="請重複輸入密碼">
                </div>
                <div>
                    <!-- <button type="button" class="titleFont3 signup">註冊</button> -->
                    <button type="button" class="titleFont3 signup">註冊</button>
                </div>
                <div>
                    <span class="detailFont">註冊表示同意<a class="detailFont">商店服務條款</a>與<a
                            class="detailFont">會員責任規範及個資聲明</a>。</span>
                </div>
                <div>
                    <a href="javascript: void(0)" class="detailFont logLink">回登入頁面</a>
                </div>
            </form>
            <div class="closebtn">
                <img class="closebtn" src="../img/homepage/Iconcancel.png">
            </div>
        </div>
    </div>

    <!-- 彈窗確認 -->
    <div class="confirmDiv ">
        <div>
            <p class="contentFont lineHeight"></p>
            <input type="button" class="detailFont" id="sureGoHome" value="確認">
            <input type="button" class="detailFont" id="notsureGoHome" value="取消">
        </div>
    </div>

    <header class="common">
        <div class="logo">
            <a href="./home2D.php"><img src="../img/headerFooter/logo.svg"></a>
        </div>
        <nav>
            <div class="nav1">
                <a class="product" href="product/product.html">救世傢俱</a>
                <a class="case" href="./case.html">參考案例</a>
            </div>
            <div class="nav2">
                <a class="qa" href="./qa.html">客戶服務</a>
                <a class="contest" href="./contest_main20.php">傢聚賞</a>
            </div>
        </nav>
        <div class="icon">
            <a class="login ">
                <img src="../img/headerFooter/loginIcon.svg" class="logMem" alt="">
            </a>
            <a class="shop " href="shoppingCart.php">
                <img src="../img/headerFooter/shoppingCart.svg" alt="" onclick="location.href='shoppingCart.php'">
            </a>
            <a class="ham">
                <span></span>
                <span></span>
                <span></span>
            </a>
            <div class="logMembox">
                <a href="./meminfo.php">會員中心</a>
                <span class="logout">登出</span>
            </div>
        </div>
    </header>

    <div id="JN">
        <div class="introduce">
            <div class="photo"></div>
            <h1 class="slogan one titleFont1">“ 救世宅是一個專為人們設計的項目。”</h1>
            <div class="intro">
                <div class="introduce_detail">
                    <div class="intro_detail">
                        <div class="designer contentFont">王聖文 (SAM)</div>
                        <div class="saying first contentFont lineHeight">
                            以其高質量的作品而聞名，這使他成為建築領域的參考。
                            鄭冠群（KCC）的建築物，飯店，商店，購物中心，夜總會，酒店和住宅幫助他在國際上樹立了自己的品牌。
                            最令他困擾的是圍繞他的建築風格的一些理論，試圖使他適應特定的流派。
                            對他來說，擁有特定且可識別的風格與失去驚喜元素是一樣的，這在他的練習中被認為是必不可少的。人類的幸福來自情感，這是突然產生的。
                            確切知道某事將要發生完全中斷了這一刻。
                        </div>
                    </div>
                    <div id="intro_sliderBoard">
                        <ul id="pic_intro">
                            <li><img src="../img/interiordesign/introduce/C-ChairDiningChair_GravityFloorLamp_GUBIDiningTable_MategotBowl_MategotFlowerPot_On.jpg"
                                    class="intro_image"></li>
                            <li><img src="../img/interiordesign/introduce/interior-design-ideas-MHouse-7_30_20-12.jpg"
                                    class="intro_image"></li>
                            <li><img src="../img/interiordesign/introduce/6c38934fed34b30522c9552ca605c441 (1).jpg"
                                    class="intro_image"></li>
                            <li><img src="../img/interiordesign/introduce/BatMeetingChair_TSDesk_BL2TableLamp_On.jpg"
                                    class="intro_image"></li>
                        </ul>
                    </div>
                </div>
                <div class="designer_say">
                    <img src="../img/interiordesign/introduce/1-140525_low.jpg" class="designer">
                    <div class="saying second  contentFont">
                        “我不是那種強加概念的建築師，只是想知道我是一個天才，而客戶卻不了解與建築有關的任何東西。我是相反的。我的所有客戶都為我的工作增添了一些寶貴的東西，這並不是偽善。”
                    </div>
                </div>
            </div>
            <div id="sliderBoard">
                <ul id="content">
                    <li><img src="../img/interiordesign/home/lessthan200KB/a66f02deaba3bc80947d6cff5c2520c7.jpg"
                            class="image">
                        <div class="other_text">
                            <P class="other_text_award titleFont1">獎項紀錄</P>
                            <span class="other_text contentFont">2020西班牙安德魯國際設計大賽沙發與木桌共效伴應-金獎</span>
                            <br>
                            <span class="other_text contentFont">2020義大利國際設計大獎-檜木餐桌</span>
                            <br>
                            <span class="other_text contentFont">2020紅點設計概念獎-檜木餐桌</span>
                        </div>
                    </li>
                    <li><img src="../img/interiordesign/home/style/152Z95H4-2.jpg" class="image">
                        <div class="other_text">
                            <p class="other_text_award titleFont1">獎項紀錄</p>
                            <span class="other_text contentFont"> 2018第八屆義大利國際設計大獎裝飾及家居用品設計獎 日出時光書桌－鉑金獎</span>
                            <br>
                            <span class="other_text contentFont">2018西班牙第18屆安德魯國際設計大賽-晨曦辦公桌 銀獎</span>
                        </div>
                    </li>
                    <li><img src="../img/interiordesign/home/style/thumb-1920-1099357.jpg" class="image">
                        <div class="other_text">
                            <p class="other_text_award titleFont1">獎項紀錄</p>
                            <span class="other_text contentFont">2016紅點設計概念獎- 銀獎</span>
                            <span class="other_text contentFont">美國International Design Award-多功能衣櫃-榮譽提名獎</span>
                        </div>
                    </li>
                </ul>
                <ul id="contentButton"></ul>
            </div>
        </div>
        <div class="tab_container">
            <div class="tab_list_block">
                <ul class="tab_list">
                    <li><a href="#" data-target="tab1" class="tab -on titleFont2">居家住宅</a></li>
                    <li><a href="#" data-target="tab2" class="tab titleFont2">商業空間</a></li>
                    <li><a href="#" data-target="tab3" class="tab titleFont2">辦公空間</a></li>
                </ul>
            </div>

            <!-- 居家住宅 -->
            <div class="tab tab1 -on">
                <div class="stylebox_right">
                    <div class="jpgbox" v-for="src in imgsrc.box_one">
                        <div class="inter_pic">
                            <a href="./neihu.html" class="img_inter">
                                <img :src="src.CASE_IMG" class="homepic">
                                <span class="contentFont">{{src.CASE_INTRO}}</span>
                                <span class="contentFont">{{src.CASE_NAME}}</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 商業空間 -->
            <div class="tab tab2">
                <div class="stylebox_right">
                    <div class="jpgbox" v-for="src in imgsrc.box_two">
                        <div class="inter_pic">
                            <a href="./taipei.html" class="img_inter">
                                <img :src="src.CASE_IMG" class="commercial_pic">
                                <span class="contentFont">{{src.CASE_INTRO}}</span>
                                <span class="contentFont">{{src.CASE_NAME}}</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 辦公空間 -->
            <div class="tab tab3">
                <div class="stylebox_right">
                    <div class="jpgbox" v-for="src in imgsrc.box_three">
                        <div class="inter_pic">
                            <a href="./case4.html" class="img_inter">
                                <img :src="src.CASE_IMG" class="office_pic">
                                <span class="contentFont">{{src.CASE_INTRO}}</span>
                                <span class="contentFont">{{src.CASE_NAME}}</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="libft">
        <section class="herf">
            <div class="logo">
                <img src="../img/headerFooter/logo.svg" alt="" onclick="location.href='home2D.php'">
            </div>
            <div class="page">
                <a href="./product/product.html">救世家具</a>
                <a href="./case.html">優質案例</a>
                <a href="./qa.html">客戶服務</a>
                <a href="./qa.html#paper1">聯繫我們</a>
                <a href="./contest_main20.php">傢俱賞</a>
            </div>
        </section>
        <section class="link">
            <div class="scb">
                <label for="mail">訂閱電子報</label>
                <input type="text" class="mail" placeholder="enter your email">
            </div>
            <div class="company">
                <img src="../img/headerFooter/東和鋼鐵.png">
                <img src="../img/headerFooter/cooperate_blum.png">
                <img src="../img/headerFooter/foot_logo.png">
            </div>
        </section>
        <section class="copy">
            <p>Copy right 2020,&ensp;All Right Reserved | By 救世宅</p>
        </section>
    </footer>

    <script src="../lib/header/header.js"></script>
    <!-- <script>
        document.addEventListener('click', e => console.log(e.target))
    </script> -->

    <script>
        let app = new Vue({
            el: '#JN',
            data: {
                imgsrc: {
                    box_one: [],
                    box_two: [],
                    box_three: [],
                    br: '<br>',
                },
            },
            methods: {

            },
            mounted() {
                const self = this;
                // axios.post('../php/14/conn14.php').then(res => {
                // console.log(res);
                //     this.rp = res.data;
                // })
                //1219
                $.ajax({
                    url: '../php/14/photoPath.php',
                    dataType: 'JSON',
                    success: function (res) {
                        console.log(res);
                        for (i = 0; i < res.length; i++) {
                            if (res[i].CASE_TYPE == "居家住宅") {
                                self.imgsrc.box_one.push(res[i]);
                            } else if (res[i].CASE_TYPE == "商業空間") {
                                self.imgsrc.box_two.push(res[i]);
                            } else {
                                self.imgsrc.box_three.push(res[i]);
                            }
                        }
                        // console.log('這是居家' + self.imgsrc.box_one);
                        // console.log('商業空間' + self.imgsrc.box_two);
                        // console.log('辦公空間' + self.imgsrc.box_three);
                    },
                    error: function (error) {
                        console.log(error);
                    }
                })
                // console.log(self.imgsrc.box_one);

            },
        });
    </script>

</body>

</html>