@import './variableJH';
@import '../../lib/header/variable';

body {
    background-color: #FFFAF4;
    @include scrollBar(10, #FFFAF4, #FFFAF4, 0, 0, #F1EADE);
}


div.JHH {
    * {
        box-sizing: border-box;
        font-family: 'Noto Sans TC Light', '微軟正黑體', sans-serif;
        color: #865454;
    }

    > header {
        display: none;
    }

    margin-top: 5vh;
    height: 90vh;
    display: flex;
    justify-content: center;

    div#homeLeft {
        height: 100%;

        >div {
            padding: 0 15px;

            &:first-child {
                width: 100%;
                height: 80%;
                overflow-y: auto;

                @include scrollBar(10, #FFFAF4, #FFFAF4, 0, 0, #F1EADE) {
                    // ::-webkit-scrollbar-button:single-button {
                    //     background-color: #bbbbbb;
                    //     display: block;
                    //     border-style: solid;
                    //     height: 13px;
                    //     width: 16px;
                    // }
                    // ::-webkit-scrollbar-button:single-button:vertical:decrement {
                    //     border-width: 0 8px 8px 8px;
                    //     border-color: transparent transparent #555555 transparent;
                    // }

                    // ::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
                    //     border-color: transparent transparent #777777 transparent;
                    // }

                    // /* Down */
                    // ::-webkit-scrollbar-button:single-button:vertical:increment {
                    //     border-width: 8px 8px 0 8px;
                    //     border-color: #555555 transparent transparent transparent;
                    // }

                    // ::-webkit-scrollbar-button:vertical:single-button:increment:hover {
                    //     border-color: #777777 transparent transparent transparent;
                    // }
                }

                header.common {
                    height: 120px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    position: relative;

                    .logo {
                        display: inline-block;
                        width: 25%;
                        height: 100%;

                        a {
                            text-decoration: none;
                            display: inline-block;
                            height: 100%;

                            img {
                                max-height: 100%;
                            }
                        }
                    }

                    .icon {
                        width: 40%;
                        height: 25px;
                        display: flex;
                        justify-content: space-around;

                        .ham {
                            position: relative;

                            span {
                                background: $c_font_strong;
                                display: block;
                                width: 20px;
                                height: 2px;

                                &:nth-child(1) {
                                    margin-top: 2px;
                                    transform-origin: top right;
                                    transition: all .5s;
                                }

                                &:nth-child(2) {
                                    position: absolute;
                                    top: 50%;
                                    transform: translateY(-50%);

                                    &.-none {
                                        display: none;
                                    }
                                }

                                &:nth-child(3) {
                                    position: absolute;
                                    bottom: 2px;
                                    transform-origin: top right;
                                    transition: all .5s;
                                }
                            }
                        }
                    }
                }

                >div {
                    >div {
                        background-color: #F1EADE;
                        position: relative;
                        width: 100%;

                        h2 {
                            position: absolute;
                        }

                        &:first-child {
                            // 關於我們
                            margin: 60px 0;

                            p {
                                padding: 5px 20px;
                            }
                        }

                        &:last-child {
                            // 最新消息
                            padding: 5px 20px;

                            ul {
                                padding-left: 10px;
                                list-style: upper-roman;
                                color: #787878;

                                li {
                                    color: #787878;
                                    padding-left: 5px;
                                    margin: 30px 0;
                                    border-left: 1px solid #787878;
                                }

                                time {
                                    display: block;
                                }
                            }
                        }
                    }
                }
            }


            &:last-child {
                // 底部
                display: flex;
                flex-direction: column;
                height: 20%;

                >div {
                    &:first-child {
                        // social media
                        display: flex;
                        justify-content: center;

                        >div {

                            position: relative;
                            display: flex;
                            justify-content: center;

                            img {
                                display: inline-block;
                                max-width: 100%;
                                max-height: 100%;
                                position: absolute;
                            }

                            &:first-child,
                            &:nth-child(2),
                            &:last-child {
                                top: 0;
                            }

                            &:nth-child(3) {
                                img {
                                    bottom: 0;
                                }

                            }
                        }
                    }

                    &:last-child {
                        // 版權
                        display: flex;
                        flex-direction: column;
                        text-align: center;

                        p,
                        div,
                        img {
                            display: inline-block;
                            margin: 0;
                            vertical-align: middle;
                        }
                    }
                }
            }
        }
    }

    div#homeRight {
        border: 1px solid;
        position: relative;
        overflow: hidden;

        >div {
            position: absolute;
            top: 0;

            &:first-child {
                width: 220px;
                height: 80px;
                top: 50%;
                left: 0;
                position: relative;

                &::before {
                    content: "";
                    width: 100%;
                    height: 100%;
                    display: inline-block;
                    animation: runbcg 10s both;
                    position: absolute;
                    top: 0;
                    z-index: -1;
                }

                button {
                    border: none;
                    outline: none;
                    background-color: rgba(134, 84, 84, .8);
                    width: 100%;
                    height: 100%;
                    color: #FFFFFF;
                    position: relative;
                    z-index: 2;
                }
            }

            &:nth-child(2) {
                width: 100%;
                height: 100%;
                background-image: url("../../img/product/bookcase01/bk01-01.jpg");
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center center;
            }

            &:nth-child(3) {
                display: none;
            }

            &:last-child {
                display: none;
            }
        }
    }

    div#bottomBox {
        display: none;
    }

}

@keyframes runbcg {
    0% {
        width: 0;
        background-color: rgba(134, 84, 84, .4);
    }

    100% {
        width: 220px;
        background-color: rgba(134, 84, 84, 1);
        z-index: 1;
    }
}


.-hamR {
    transform: rotateZ(-45deg) translate(-3px, -3px);
}

.-hamL {
    transform: rotateZ(45deg) translate(-1px, 2px);
}

@include rwdmF(1920) {
    div.JHH {
        div#homeLeft {
            width: 500px;

            >div {
                &:first-child {
                    >div {
                        >div {
                            h2 {
                                top: -55px;
                                left: 40px;
                            }

                            &:first-child {
                                p {
                                    padding: 5px 40px;
                                }
                            }

                            &:last-child {
                                // 最新消息
                                padding: 5px 40px;
                            }
                        }
                    }
                }

                &:last-child {
                    >div {
                        &:first-child {
                            >div {
                                width: 25px;
                                height: 25px;
                                margin: 40px 20px;
                            }
                        }
                    }
                }
            }
        }

        div#homeRight {
            width: calc(100% - 500px - 200px);
        }
    }
}

;
@include rwdmF(1700);

@include rwdmF(1500) {
    div.JHH {
        div#homeLeft {
            width: 400px;

            >div {
                &:first-child {
                    >div {
                        >div {
                            h2 {
                                top: -48px;
                                left: 40px;
                            }

                            &:first-child {

                                // 關於我們
                                p {
                                    padding: 5px 35px;
                                }
                            }

                            &:last-child {
                                // 最新消息
                                padding: 5px 35px;
                            }
                        }
                    }
                }

                &:last-child {
                    >div {
                        &:first-child {
                            >div {
                                width: 20px;
                                height: 20px;
                                margin: 24px 20px;
                            }
                        }
                    }
                }
            }
        }

        div#homeRight {
            width: calc(100% - 400px - 100px);
        }
    }
}

;
@include rwdmF(1200);

@include rwdmF(992) {
    div.JHH {
        div#homeLeft {
            width: 350px;

            >div {
                &:first-child {
                    >div {
                        >div {
                            h2 {
                                top: -36px;
                                left: 30px;
                            }

                            &:first-child {
                                margin: 40px 0 40px 0;

                                // 關於我們
                                p {
                                    padding: 5px 20px;
                                }
                            }

                            &:last-child {
                                // 最新消息
                                padding: 5px 20px;
                            }
                        }
                    }
                }

                &:last-child {
                    >div {
                        &:first-child {
                            >div {
                                width: 20px;
                                height: 20px;
                                margin: 24px 20px;
                            }
                        }
                    }
                }
            }
        }

        div#homeRight {
            width: calc(100% - 200px - 200px);
        }
    }
}

;

@include rwdmF(768) {
    div.JHH {
        margin-top: 0;
        padding-top: 30px;
        flex-wrap: wrap;
        width: 80vw;
        margin: auto;
        border: 1px solid red;
        > header{
            display: block;
        }
        div#homeLeft {
            width: 100%;
            border: 1px solid blue;

            >div {
                &:first-child {
                    border: 1px solid green;
                    // overflow-y: hidden;

                    >div {
                        border: 1px solid;

                        >div {
                            border: 1px solid;
                            width: 80%;
                            margin: auto;

                            &:first-child {
                                // 關於我們
                                margin: 50px auto;
                            }

                            &:last-child {
                                // 最新消息
                                height: 80%;
                                overflow-y: auto;
                                @include scrollBar(10, #FFFAF4, #FFFAF4, 0, 0, #F1EADE);
                            }
                        }
                    }
                }
            }
        }
    }
}

;
@include rwdmF(576);
@include rwdmF(360);