@import './variableJH';
@import '../../lib/header/variable';

body {
    background-color: #FFFAF4;
    @include scrollBar(10, #FFFAF4, #FFFAF4, 0, 0, #F1EADE);
}

div.JHH {
    * {
        box-sizing: border-box;
        font-family: 'Noto Sans TC Light', '微軟正黑體', sans-serif;
        color: #865454;
    }
    div#homeLeft {
        margin: 30px 0 0 120px;
        width: calc((100% - 120px) / 3);
        border: 1px solid;
        height: 90vh;

        header.common {
            margin-top: 30px;
            height: 80px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border: 1px solid;
            position: relative;

            .logo {
                display: inline-block;
                width: 25%;
                height: 100%;
                border: 1px solid;

                a {
                    text-decoration: none;
                    display: inline-block;
                    height: 100%;

                    img {
                        max-height: 100%;
                    }
                }
            }

            .icon {
                border: 1px solid;
                width: 40%;
                height: 25px;
                display: flex;
                justify-content: space-around;

                .ham {
                    position: relative;

                    span {
                        background: $c_font_strong;
                        display: block;
                        width: 20px;
                        height: 2px;

                        &:nth-child(1) {
                            margin-top: 2px;
                            transform-origin: top right;
                            transition: all .5s;
                        }

                        &:nth-child(2) {
                            position: absolute;
                            top: 50%;
                            transform: translateY(-50%);

                            &.-none {
                                display: none;
                            }
                        }

                        &:nth-child(3) {
                            position: absolute;
                            bottom: 2px;
                            transform-origin: top right;
                            transition: all .5s;
                        }
                    }
                }
            }
        }
    }
}


.-hamR {
    transform: rotateZ(-45deg) translate(-3px, -3px);
}

.-hamL {
    transform: rotateZ(45deg) translate(-1px, 2px);
}