<!DOCTYPE html>
<html lang="zh-Hant">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>案例管理</title>
    <link rel="stylesheet" href="../lib/reset.css">
    <link rel="stylesheet" href="../css/case_authority.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
        integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <script src="../lib/js/vue.js"></script>
    <script src="../lib/js/jquery.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.js'></script>
    <script defer src="../js/14/case_authority.js"></script>
</head>

<body>
    <div class="jk_authority">
        <div class="container">
            <!-- 側邊攔 -->
            <div class="sideMenu">

                <!-- 標題 -->
                <div class="title">救世宅後台管理</div>

                <!-- 欄位 -->
                <div class="menu">
                    <ul>

                        <li>
                            <ul>
                                <li class="item">會員管理<i class="fas fa-chevron-left"></i></li>
                            </ul>
                        </li>

                        <li>
                            <ul>
                                <li class="item">訂單管理<i class="fas fa-chevron-left"></i></li>
                                <li id="jane_authorityChange1">訂單總覽</li>
                            </ul>
                        </li>

                        <li>
                            <ul>
                                <li class="item">
                                    案例管理
                                    <i class="fas fa-chevron-left"></i>
                                </li>
                                <!-- <li id="jk_newManager">新增管理員</li> -->
                                <!-- <a href="./case_authority.html"> -->
                                <li id="jane_authorityChange">案例異動</li>
                                <li id="jane_authorityChange2">案例上架</li>
                                <!-- </a> -->
                            </ul>
                        </li>
                        <li>
                            <ul>
                                <li class="item">消息管理<i class="fas fa-chevron-left"></i></li>
                            </ul>
                        </li>
                        <li>
                            <ul>
                                <li class="item">商品管理<i class="fas fa-chevron-left"></i></li>
                                <li id="sam_authorityChange1">商品總覽</li>
                                <li id="sam_authorityChange2">產品上架</li>
                            </ul>
                        </li>

                        <li>
                            <ul>
                                <li class="item">客服管理<i class="fas fa-chevron-left"></i></li>
                            </ul>
                        </li>
                    </ul>
                </div>

                <div class="arrow"><i class="far fa-arrow-alt-circle-left"></i></div>
            </div>

            <!-- //////////////////從這下面開始改，MAIN的CLASS記得改自己名稱/////////////// -->

            <main class="jane_class" id="app">
                <!-- 頂部資訊 -->
                <div class="top">
                    <div class="path">
                        案例管理 / 案例總覽
                    </div>
                    <div>
                        管理者: <span>Root</span>
                    </div>
                </div>

                <!-- 表格資訊 -->
                <table class="jane_authorityChange">

                    <!-- 表格標頭 -->
                    <tr>
                        <th>案例編號</th>
                        <th>案例名稱</th>
                        <th>案例日期</th>
                        <th>案例型態</th>
                        <th>圖片路徑</th>
                    </tr>

                    <!-- 表格內容 -->
                    <tr v-for="rp in rp">
                        <td>{{rp.CASE_ID}}</td>
                        <td>{{rp.CASE_INTRO}}</td>
                        <td>{{rp.CASE_DATE}}</td>
                        <td>{{rp.CASE_TYPE}}</td>
                        <td>{{rp.CASE_IMG}}</td>
                    </tr>
                </table>

                <!-- 跳窗 -->
                <div class="jane_jump">
                    <div class="secondBack">
                        <img src="../img/icon/icons8-cancel-64.png" alt="" class="cancel-icon">
                        <form action="" method="">
                            <label for="case_number">案例編號</label>
                            <input type="text" name="case_number" id="case_number" placeholder="安安"
                                v-model="formData.case_num">
                            <br>

                            <label for="case_name">案例名稱</label>
                            <input type="text" name="case_name" id="case_name" placeholder="安安"
                                v-model="formData.case_name">
                            <br>

                            <label for="case_date">案例日期</label>
                            <input type="text" name="case_date" id="case_date" placeholder="安安"
                                v-model="formData.case_date">
                            <br>

                            <label for="case_type">案例型態</label>
                            <input type="text" name="case_type" id="case_type" placeholder="安安"
                                v-model="formData.case_type">
                            <br>

                            <label for="case_path">圖片路徑</label>
                            <input type="text" name="case_path" id="case_path" placeholder="安安"
                                v-model="formData.case_path">
                            <br>

                            <button id="case_submit" type="button" @click="send">上架</button>
                        </form>
                    </div>
                </div>
            </main>
        </div>
    </div>
    <script>
        let app = new Vue({
            el: '#app',
            data: {
                rp: '',
                formData: {
                    case_num: '',
                    case_name: '',
                    case_date: '',
                    case_type: '',
                    case_path: ''
                }
            },
            methods: {
                send() {
                    console.log(this.formData);
                    axios.post('../php/14/case.php', this.formData).then(res => {
                    });
                    $('div.jane_jump').addClass('-opacity-zero');
                }
            },
            mounted() {
                const self = this;
                // axios.post('../php/14/conn14.php').then(res => {
                //     console.log(res);
                //     this.rp = res.data;
                // })
                $.ajax({
                    url: '../php/14/conn14.php',
                    dataType: 'JSON',
                    success: function (res) {
                        console.log(res.case);
                        self.rp = res.case;
                    }
                })
            },
        });
    </script>
</body>

</html>