<!DOCTYPE html>
<html lang="zh-Hant">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>案例管理</title>
    <link rel="stylesheet" href="../lib/reset.css">
    <link rel="stylesheet" href="../css/case_authority.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
        integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <script src="../lib/js/vue.js"></script>
    <script src="../lib/js/jquery.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.js'></script>
    <script defer src="../js/14/case_authority.js"></script>
</head>

<body>
    <div class="jk_authority">
        <div class="container">
            <!-- 側邊攔 -->
            <div class="sideMenu">

                <!-- 標題 -->
                <div class="title">救世宅後台管理</div>

                <!-- 欄位 -->
                <div class="menu">
                    <ul>

                        <li>
                            <ul>
                                <li class="item">會員管理<i class="fas fa-chevron-left"></i></li>
                            </ul>
                        </li>

                        <li>
                            <ul>
                                <li class="item">訂單管理<i class="fas fa-chevron-left"></i></li>
                                <li id="jane_authorityChange1">訂單總覽</li>
                            </ul>
                        </li>

                        <li>
                            <ul>
                                <li class="item">
                                    案例管理
                                    <i class="fas fa-chevron-left"></i>
                                </li>
                                <!-- <li id="jk_newManager">新增管理員</li> -->
                                <!-- <a href="./case_authority.html"> -->
                                <li id="jane_authorityChange">案例異動</li>
                                <li id="jane_authorityChange2">案例上架</li>
                                <!-- </a> -->
                            </ul>
                        </li>
                        <li>
                            <ul>
                                <li class="item">消息管理<i class="fas fa-chevron-left"></i></li>
                            </ul>
                        </li>
                        <li>
                            <ul>
                                <li class="item">商品管理<i class="fas fa-chevron-left"></i></li>
                                <li id="sam_authorityChange1">商品總覽</li>
                                <li id="sam_authorityChange2">產品上架</li>
                            </ul>
                        </li>

                        <li>
                            <ul>
                                <li class="item">客服管理<i class="fas fa-chevron-left"></i></li>
                            </ul>
                        </li>
                    </ul>
                </div>

                <div class="arrow"><i class="far fa-arrow-alt-circle-left"></i></div>
            </div>

            <!-- //////////////////從這下面開始改，MAIN的CLASS記得改自己名稱/////////////// -->

            <main class="jane_class" id="app">
                <!-- 頂部資訊 -->
                <div class="top">
                    <div class="path">
                        案例管理 / 案例總覽
                    </div>
                    <div>
                        管理者: <span>Root</span>
                    </div>
                </div>

                <!-- 表格資訊 -->
                <table class="jane_authorityChange">

                    <!-- 表格標頭 -->
                    <tr>
                        <th>案例編號</th>
                        <th>案例區域</th>
                        <th>案例名稱</th>
                        <th>案例日期</th>
                        <th>案例型態</th>
                        <!-- <th>圖片路徑</th> -->
                    </tr>

                    <!-- 表格內容 -->
                    <tr v-for="rp in rp">
                        <td>{{rp.CASE_ID}}</td>
                        <td>{{rp.CASE_INTRO}}</td>
                        <td>{{rp.CASE_NAME}}</td>
                        <td>{{rp.CASE_DATE}}</td>
                        <td>{{rp.CASE_TYPE}}</td>
                        <!-- <td>{{rp.CASE_IMG}}</td> -->
                    </tr>
                </table>

                <!-- 跳窗 -->
                <div class="jane_jump">
                    <div class="secondBack">
                        <img src="../img/interiordesign/icon/Icon-cancel.svg" alt="" class="cancel-icon">
                        <button class="smallbutton" @click="hideButton"></button>
                        <form action="" method="">
                            <label for="case_number">案例編號</label>
                            <input type="text" name="case_number" id="case_number" v-model="formData.case_num">
                            <br>

                            <label for="case_region">案例區域</label>
                            <input type="text" name="case_region" id="case_region" v-model="formData.case_region">
                            <br>

                            <label for="case_name">案例名稱</label>
                            <input type="text" name="case_name" id="case_name" v-model="formData.case_name">
                            <br>

                            <label for="case_date">案例日期</label>
                            <input type="text" name="case_date" id="case_date" v-model="formData.case_date">
                            <br>

                            <label for="case_type">案例型態</label>
                            <select v-model="formData.case_type" name="case_type" id="case_type">
                                <option value="" selected disabled hidden>請選擇案例型態</option>
                                <option value="居家住宅">居家住宅</option>
                                <option value="商業空間">商業空間</option>
                                <option value="辦公空間">辦公空間</option>
                            </select>
                            <br>

                            <label for="case_path">圖片</label>
                            <input type="file" name="case_path" id="case_path" :value="formData.case_path">
                            <br>

                            <button id="case_submit" type="button" @click="send">上架</button>
                        </form>
                    </div>
                </div>
            </main>
        </div>
    </div>
    <script>
        let app = new Vue({
            el: '#app',
            data: {
                rp: '',
                formData: {
                    case_num: '',
                    case_region: '',
                    case_name: '',
                    case_date: '',
                    case_type: '',
                    // case_path: '',
                },
                imgsrc: {
                    box_one: '',
                    box_two: '',
                    box_three: ''
                }

            },
            methods: {
                send() {
                    let img_data = new FormData();
                    let that = this;
                    if (Boolean($('input#case_path').prop('files')[0])) {
                        let newImg = $('input#case_path').prop('files')[0]; // 圖片名稱
                        img_data.append('case_num', that.formData.case_num);
                        img_data.append('case_region', that.formData.case_region);
                        img_data.append('case_name', that.formData.case_name);
                        img_data.append('case_date', that.formData.case_date);
                        img_data.append('case_type', that.formData.case_type);
                        img_data.append('newImg', newImg);
                        // console.log(that.formData);
                        // console.log(img_data);
                    }
                    $.ajax({
                        url: "../php/14/case.php",
                        type: "POST",
                        data: img_data,
                        contentType: false,
                        cache: false,
                        processData: false,
                        success: function (res) {
                            $('div.jane_jump').addClass('-opacity-zero');
                            // console.log(res);
                            // this.rp = res.data;
                        }
                    });
                    // axios.post('../php/14/case.php', this.formData).then(res => {
                    // });
                },
                hideButton() {
                    //左下方按鈕
                    this.formData.case_num = '22';
                    this.formData.case_region = '大安';
                    this.formData.case_name = '忠泰';
                    this.formData.case_date = '20200911';
                    $('select#case_type option:nth-child(2)').attr('selected', true);
                    this.formData.case_type = $('select#case_type').val();
                },
            },
            mounted() {
                const self = this;
                // axios.post('../php/14/conn14.php').then(res => {
                //     console.log(res);
                //     this.rp = res.data;
                // })
                $.ajax({
                    url: '../php/14/conn14.php',
                    dataType: 'JSON',
                    success: function (res) {
                        console.log(res.case);
                        self.rp = res.case;
                    }
                })
            },
        });
    </script>
</body>

</html>