<!DOCTYPE html>
<html lang="zh-Hant">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>比賽管理</title>

    <link rel="stylesheet" href="../lib/reset.css">
    <link rel="stylesheet" href="../css/contestWork_backend.css">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
        integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <script src="../lib/js/vue.js"></script>
    <script src="../lib/js/jquery.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.js'></script>
    <script defer src="../js/15/contestWork_backend.js"></script>


</head>

<body>
    <div class="jk_authority">
        <div class="container">
            <!-- 側邊攔 -->
            <div class="sideMenu">

                <!-- 標題 -->
                <div class="title">救世宅後台管理</div>

                <!-- 欄位 -->
                <div class="menu">
                    <ul>

                        <li>
                            <ul>
                                <li class="item">會員管理<i class="fas fa-chevron-left"></i></li>
                            </ul>
                        </li>

                        <li>
                            <ul>
                                <li class="item">訂單管理<i class="fas fa-chevron-left"></i></li>
                            </ul>
                        </li>

                        <li>
                            <ul>
                                <li class="item">
                                    權限管理
                                    <i class="fas fa-chevron-left"></i>
                                </li>
                                <!-- <li id="jk_newManager">新增管理員</li> -->
                                <li id="jk_authorityChange">權限異動</li>
                            </ul>
                        </li>

                        <li>
                            <ul>
                                <li class="item">消息管理<i class="fas fa-chevron-left"></i></li>
                            </ul>
                        </li>

                        <li>
                            <ul>
                                <li class="item">商品管理<i class="fas fa-chevron-left"></i></li>
                                <li id="sam_authorityChange1">商品總覽</li>
                                <li id="sam_authorityChange2">產品上架</li>
                            </ul>
                        </li>

                        <li>
                            <ul>
                                <li class="item">客服管理<i class="fas fa-chevron-left"></i></li>
                            </ul>
                        </li>

                        <li>
                            <ul>
                                <li class="item">比賽管理<i class="fas fa-chevron-left"></i></li>
                                <li id="jh_authorityChange1">作品總覽</li>
                                <!-- <li id="jh_authorityChange2">作品審核</li> -->
                            </ul>
                        </li>


                    </ul>
                </div>

                <div class="arrow"><i class="far fa-arrow-alt-circle-left"></i></div>
            </div>

            <!-- //////////////////從這下面開始改，MAIN的CLASS記得改自己名稱/////////////// -->

            <main class="jh_class" id="jhApp">
                <!-- 頂部資訊 -->
                <div class="top">
                    <div class="path">
                        比賽管理 / 作品總覽
                    </div>
                    <div>
                        管理者: <span>Root</span>
                    </div>
                </div>

                <!-- 表格資訊 -->
                <table class="jh_authorityChange">

                    <!-- 表格標頭 -->
                    <tr>
                        <th>比賽屆數</th>
                        <th>會員帳號</th>
                        <th>會員姓名</th>
                        <th>身分證號碼</th>
                        <th>身分證圖片</th>
                        <th>作品編號</th>
                        <th>作品名稱</th>
                        <th>作品理念</th>
                        <th>作品草稿</th>
                        <th>作品完稿</th>
                        <th>投票數</th>
                        <th>作品狀態</th>
                        <th>投稿日期</th>
                        <th>作品審核</th>
                    </tr>

                    <!-- 表格內容 -->
                    <tr v-for="wk in work">
                        <td>第{{wk.WK_SESSION}}屆</td>
                        <td>{{wk.MEM_ID}}</td>
                        <td>{{wk.MEM_NAME}}</td>
                        <td>{{wk.CT_PERSONAL_ID}}</td>
                        <td ><img :src="wk.CT_IMG_FRONT"></td>
                        <td>{{wk.WK_ID}}</td>
                        <td>{{wk.WK_NAME}}</td>
                        <td>{{wk.WK_CONCEPT}}</td>
                        <td><img :src="wk.WK_DRAFT"></td>
                        <td><img :src="wk.WK_DRAW"></td>
                        <td>{{wk.WK_VOTES}}</td>
                        <td>{{wk.WK_STATUS}}</td>
                        <td>{{wk.WK_DATE}}</td>
                        <td><button id="jh_authorityChange2" @click="checkWork">審核</button></td>
                    </tr>
                </table>

                <!-- 跳窗 -->
                <check-component v-for="(wk , index) in work" :session="wk.WK_SESSION" :account="wk.MEM_ID" :name="wk.MEM_NAME" :workNum="wk.WK_ID" :workName="wk.WK_NAME" :concept="wk.WK_CONCEPT" :vote="wk.WK_VOTES" :status="wk.WK_STATUS" :date="wk.WK_DATE" :frontimg="wk.CT_IMG_FRONT" :draft="wk.WK_DRAFT" :draw="wk.WK_DRAW" :memid="wk.CT_PERSONAL_ID"></check-component>
            </main>
        </div>
    </div>
    <script>
        Vue.component('checkComponent', {
            props: ['session','account','name','workNum','workName','concept','vote','status','date','frontimg','draft','draw','memid'],
            template: `
            <div class="jh_jump">
                    <div class="secondBack">
                        <img src="../img/product/icon/Icon-cancel.svg" alt="" class="cancel-icon">
                        <form action="" method="">
                            <label for="WK_SESSION">比賽屆數</label
                            <p id="WK_SESSION">第{{session}}屆</p>
                            <br>

                            <label for="MEM_ID">會員帳號</label>
                            <p id="MEM_ID">{{account}}</p>
                            <br>

                            <label for="MEM_NAME">會員姓名</label>
                            <p id="MEM_NAME">{{name}}</p>
                            <br>

                            <label for="CT_PERSONAL_ID">身分證號碼</label>
                            <input type="text" name="CT_PERSONAL_ID" id="CT_PERSONAL_ID" :value="memid">
                            <br>

                            <label for="CT_IMG_FRONT">身分證圖片</label>
                            <label for="newPID" name="file">修改</label>
                            <div class="uploadImg">
                                <img :src="frontimg" id="CT_IMG_FRONT" class="file">
                            </div>
                            <input type="file" name="newPID" id="newPID"  @change="goChange1">
                            <br>

                            <label for="WK_ID">作品編號</label>
                            <p id="WK_ID">{{workNum}}</p>
                            <br>

                            <label for="WK_NAME">作品名稱</label>
                            <p id="WK_NAME">{{workName}}</p>
                            <br>

                            <label for="WK_CONCEPT">作品理念</label>
                            <p id="WK_CONCEPT">{{concept}}</p>
                            <br>

                            <label for="WK_DRAFT">作品草稿</label>
                            <label for="newDraft" name="file">修改</label>
                            <div class="uploadImg">
                                <img :src="draft" id="WK_DRAFT" class="file">
                            </div>
                            <input type="file" name="newDraft" id="newDraft">
                            <br>
                            
                            <label for="WK_DRAW">作品完稿</label>
                            <label for="newDraw" name="file">修改</label>
                            <div class="uploadImg">
                                <img :src="draw" id="WK_DRAW" class="file">
                            </div>
                            <input type="file" name="newDraw" id="newDraw">
                            <br>

                            <label for="WK_VOTES">投票數</label>
                            <p id="WK_VOTES">{{vote}}</p>
                            <br>

                            <label for="WK_STATUS" class="theStatus">作品狀態</label>
                            <select name="newStatus" id="newStatus" class="theStatus">
                                <option value="0" selected disabled>審核狀態</option>

                            </select>
                            <br>

                            <label for="WK_DATE">投稿日期</label>
                            <p id="WK_DATE">{{date}}</p>
                            <br>
                            <button id="work_submit" type="button">保存</button>
                        </form>
                    </div>
                </div>`,
        });

        // <option v-for="status in workStatus" :value="status">{{status}}</option>

        let JHApp = new Vue({
            el: '#jhApp',
            data: {
                work: [],
                workStatus: ['審核中', '投稿失敗','投稿成功'],
                newPID: "",
            },
            methods: {
                checkWork(){
                    $('div.jh_jump').addClass('-on');
                },
                goChange1(e){
                    // let self1 = this;
                    // let file1 = document.getElementById('newPID').files[0];
                    // console.log(file1);
                    // console.log(self1.work[0].CT_IMG_FRONT);
                    // self1.work[0].CT_PERSONAL_ID = file1.name;
                    // let readFile1 = new FileReader();
                    // readFile1.readAsDataURL(file1);
                    // readFile1.addEventListener('load', function (e) {
                    //     self1.work[0].CT_PERSONAL_ID.splice(0, 1, e.target.result);
                    // });
                    console.log(e.target);
                },
            },
            mounted() {
                const that = this;
                $.ajax({
                    type: "POST",
                    url: "./contestWorkR.php",
                    // data: "data",
                    dataType: "json",
                    success: function (res) {
                        let allWork = [];
                        $(res).each((index, value)=>{
                            that.work.push(value);
                        });
                        // console.log(res);
                    }
                });
                // console.log(allWork);
            },
        });
    </script>
</body>

</html>