@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400&display=swap");
header.common {
  position: relative;
  height: 60px;
  padding: 10px 0;
}

header.common * {
  box-sizing: border-box;
  font-family: 'Noto Sans TC thin', '微軟正黑體', sans-serif;
}

header.common img {
  max-height: 100%;
}

header.common a {
  text-decoration: none;
}

header.common .logo {
  height: 60px;
  position: relative;
  z-index: 3;
}

header.common nav {
  position: fixed;
  right: 3%;
  text-align: center;
  display: none;
}

header.common nav a {
  display: block;
  margin-bottom: 15px;
  color: #54383b;
  font-size: 20px;
}

header.common nav a:hover {
  font-family: 'Noto Sans TC regular';
}

header.common .icon {
  position: absolute;
  right: 3%;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  z-index: 3;
}

header.common .icon a {
  height: 20px;
  margin-left: 10px;
}

header.common .icon .logMembox {
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  white-space: nowrap;
  transform: translateY(60%) translateX(-10%);
  color: #54383b;
  font-size: 20px;
  padding: 10px;
  background-color: #F1EADE;
  border: 1px solid #BDA79E;
  display: none;
  z-index: 3;
}

header.common .icon .logMembox a {
  display: block;
  color: #54383b;
  margin-bottom: 15px;
  margin-left: 0;
}

header.common .icon .logMembox a:hover {
  font-family: 'Noto Sans TC regular';
}

header.common .icon .logMembox span {
  display: block;
}

header.common .icon .logMembox span:hover {
  font-family: 'Noto Sans TC regular';
}

header.common .icon .ham {
  position: relative;
}

header.common .icon .ham span {
  background: #54383b;
  display: block;
  width: 20px;
  height: 2px;
}

header.common .icon .ham span:nth-child(1) {
  margin-top: 2px;
  transform-origin: top right;
  transition: all .5s;
}

header.common .icon .ham span:nth-child(2) {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

header.common .icon .ham span:nth-child(2).-none {
  display: none;
}

header.common .icon .ham span:nth-child(3) {
  position: absolute;
  bottom: 2px;
  transform-origin: top right;
  transition: all .5s;
}

.-hamR {
  transform: rotateZ(-45deg) translate(-3px, -3px);
}

.-hamL {
  transform: rotateZ(45deg) translate(-1px, 2px);
}

@media (min-width: 361px) {
  header.common nav a {
    font-size: 20px;
  }
  header.common .logMembox {
    font-size: 20px;
  }
}

@media (min-width: 576px) {
  header.common nav a {
    font-size: 21px;
  }
  header.common .icon .logMembox {
    font-size: 21px;
  }
}

@media (min-width: 768px) {
  header.common {
    display: flex;
    justify-content: center;
    height: 85px;
  }
  header.common .logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 85px;
  }
  header.common nav {
    position: static;
    display: flex !important;
    width: 100vw;
    text-align: center;
    align-items: center;
  }
  header.common nav a {
    font-size: 21px;
    display: inline-block;
    margin-bottom: 0px;
  }
  header.common nav .nav2 {
    text-align: left;
    flex: 1;
    padding-left: 8vw;
    position: relative;
  }
  header.common nav .nav2 a:nth-child(2) {
    margin-left: 15px;
  }
  header.common nav .nav2 a:nth-child(1) {
    margin-left: 5vw;
  }
  header.common nav .nav2:before {
    content: '';
    display: block;
    width: 70%;
    height: 2px;
    background: #CAC3BB;
    position: absolute;
    top: -15px;
    left: 10%;
  }
  header.common nav .nav2::after {
    content: '';
    display: block;
    width: 70%;
    height: 2px;
    background: #CAC3BB;
    position: absolute;
    bottom: -15px;
    right: 10%;
  }
  header.common nav .nav1 {
    position: relative;
    text-align: right;
    flex: 1;
    padding-right: 8vw;
    box-sizing: border-box;
  }
  header.common nav .nav1 a:nth-child(2) {
    margin-left: 15px;
    margin-right: 5vw;
  }
  header.common nav .nav1:before {
    content: '';
    display: block;
    width: 70%;
    height: 2px;
    background: #CAC3BB;
    position: absolute;
    top: -15px;
    left: 10%;
  }
  header.common nav .nav1::after {
    content: '';
    display: block;
    width: 70%;
    height: 2px;
    background: #CAC3BB;
    position: absolute;
    bottom: -15px;
    right: 10%;
  }
  header.common .icon {
    right: 5%;
  }
  header.common .icon .ham {
    display: none;
  }
}

@media (min-width: 992px) {
  header.common {
    height: 115px;
  }
  header.common .logo {
    height: 115px;
  }
  header.common nav a {
    font-size: 23px;
  }
  header.common nav .nav2 {
    padding-left: 12vw;
  }
  header.common nav .nav1 {
    padding-right: 12vw;
  }
  header.common .icon .logMembox {
    font-size: 23px;
  }
}

@media (min-width: 1200px) {
  header.common {
    height: 140px;
  }
  header.common .logo {
    height: 140px;
  }
  header.common nav a {
    font-size: 23px;
  }
  header.common .icon .logMembox {
    font-size: 23px;
  }
}

@media (min-width: 1500px) {
  header.common nav a {
    font-size: 25px;
  }
  header.common .icon .logMembox {
    font-size: 25px;
  }
  header.common .icon {
    right: 8%;
  }
  header.common .icon a img {
    max-height: none;
    height: 25px;
  }
  header.common nav .nav2:before {
    top: -20px;
  }
  header.common nav .nav2::after {
    bottom: -20px;
  }
  header.common nav .nav2 a:nth-child(2) {
    margin-left: 50px;
  }
  header.common nav .nav1:before {
    top: -20px;
  }
  header.common nav .nav1::after {
    bottom: -20px;
  }
  header.common nav .nav1 a:nth-child(2) {
    margin-left: 50px;
  }
}

@media (min-width: 1700px) {
  header.common {
    height: 160px;
  }
  header.common .logo {
    height: 160px;
  }
  header.common nav a {
    font-size: 25px;
  }
  header.common .icon .logMembox {
    font-size: 25px;
  }
  header.common nav .nav2 {
    padding-left: 15vw;
  }
  header.common nav .nav1 {
    padding-right: 15vw;
  }
}

footer.libft {
  width: 100%;
  height: 400px;
  background-color: #CAC3BB;
  display: flex;
  flex-wrap: wrap;
}

footer.libft * {
  box-sizing: border-box;
}

footer.libft img {
  max-width: 100%;
}

footer.libft a {
  text-decoration: none;
}

footer.libft .herf {
  display: flex;
  width: 50%;
  height: 300px;
}

footer.libft .herf .logo {
  padding: 40px 0 0 150px;
  width: 50%;
}

footer.libft .herf .logo img {
  max-width: none;
  height: 200px;
}

footer.libft .herf .page {
  width: 50%;
  font-family: 'Noto Sans TC Thin', '微軟正黑體', sans-serif;
  padding: 50px;
}

footer.libft .herf .page a {
  display: block;
  color: #787878;
  font-size: 20px;
  margin-bottom: 20px;
}

footer.libft .link {
  display: flex;
  width: 50%;
  height: 300px;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 150px;
  justify-content: flex-end;
}

footer.libft .link .scb {
  width: 420px;
  display: flex;
  flex-direction: column;
}

footer.libft .link .scb label {
  font-size: 30px;
  font-family: 'Noto Sans TC Thin', '微軟正黑體', sans-serif;
  color: #787878;
}

footer.libft .link .scb input {
  height: 50px;
  border: none;
  outline: none;
  background: none;
  border-bottom: 1px solid #787878;
  padding: 30px 0 0 10px;
}

footer.libft .link .scb input::placeholder {
  font-family: 'Noto Sans TC Thin', '微軟正黑體', sans-serif;
  color: #FFFAF4;
  font-size: 15px;
}

footer.libft .link .company {
  width: 420px;
  display: flex;
  height: 130px;
  align-items: center;
}

footer.libft .link .company img {
  width: 140px;
  height: 50px;
}

footer.libft .copy {
  display: block;
  width: 100%;
  height: 100px;
  line-height: 100px;
  text-align: right;
  padding: 0 150px;
}

footer.libft .copy p {
  font-size: 20px;
  font-family: 'Noto Sans TC Regular', '微軟正黑體', sans-serif;
  color: #787878;
  border-top: 1px solid #787878;
}

@media all and (max-width: 1500px) {
  footer.libft .herf .logo img {
    height: 180px;
  }
}

@media all and (max-width: 1200px) {
  footer.libft {
    height: 300px;
  }
  footer.libft .herf {
    height: 225px;
  }
  footer.libft .herf .logo {
    padding: 20px 0 0 90px;
  }
  footer.libft .herf .logo img {
    height: 150px;
  }
  footer.libft .herf .page {
    padding: 30px;
  }
  footer.libft .herf .page a {
    font-size: 16px;
    margin-bottom: 15px;
  }
  footer.libft .link {
    height: 225px;
    padding-right: 90px;
  }
  footer.libft .link .scb {
    width: 360px;
  }
  footer.libft .link .scb label {
    font-size: 24px;
  }
  footer.libft .link .scb input {
    height: 40px;
    padding: 25px 0 0 9px;
  }
  footer.libft .link .scb input::placeholder {
    font-size: 12px;
  }
  footer.libft .link .company {
    width: 360px;
    height: 90px;
  }
  footer.libft .link .company img {
    width: 120px;
    height: 35px;
  }
  footer.libft .copy {
    height: 75px;
    line-height: 75px;
    padding: 0 90px;
  }
  footer.libft .copy p {
    font-size: 16px;
  }
}

@media all and (max-width: 992px) {
  footer.libft .herf .logo img {
    height: 120px;
  }
}

@media all and (max-width: 768px) {
  footer.libft {
    height: 250px;
  }
  footer.libft .herf {
    width: 100%;
    height: 110px;
  }
  footer.libft .herf .logo {
    padding: 10px 0 0 50px;
  }
  footer.libft .herf .logo img {
    height: 100px;
  }
  footer.libft .herf .page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 10px;
  }
  footer.libft .herf .page a {
    font-size: 13px;
    margin-bottom: 5px;
  }
  footer.libft .link {
    width: 100%;
    flex-direction: row;
    height: 110px;
    padding-right: 0;
    align-items: center;
  }
  footer.libft .link .scb {
    width: 50%;
    padding-left: 70px;
  }
  footer.libft .link .scb label {
    font-size: 18px;
  }
  footer.libft .link .scb input {
    height: 30px;
    width: 85%;
    padding: 8px 0 0 8px;
  }
  footer.libft .link .scb input::placeholder {
    font-size: 12px;
  }
  footer.libft .link .company {
    width: 50%;
    flex-direction: column;
    justify-content: center;
    height: 110px;
  }
  footer.libft .link .company img {
    width: 80px;
    height: 25px;
    margin: 3px;
  }
  footer.libft .copy {
    height: 20px;
    line-height: 20px;
    padding: 0 40px;
  }
  footer.libft .copy p {
    font-size: 12px;
  }
}

@media all and (max-width: 576px) {
  footer.libft .copy p {
    font-size: 8px;
  }
}

@media (max-width: 360px) {
  footer.libft {
    height: 200px;
  }
  footer.libft .herf {
    height: 90px;
  }
  footer.libft .herf .logo {
    padding: 10px 0 0 25px;
  }
  footer.libft .herf .logo img {
    height: 80px;
  }
  footer.libft .herf .page a {
    font-size: 10px;
    margin-bottom: 5px;
  }
  footer.libft .link {
    height: 90px;
  }
  footer.libft .link .scb {
    padding-left: 40px;
  }
  footer.libft .link .scb label {
    font-size: 12px;
    margin-bottom: 8px;
  }
  footer.libft .link .scb input {
    height: 15px;
    width: 95%;
    padding: 4px 0 2px 4px;
  }
  footer.libft .link .scb input::placeholder {
    font-size: 7px;
  }
  footer.libft .link .company {
    height: 90px;
  }
  footer.libft .link .company img {
    width: 60px;
    height: 20px;
  }
  footer.libft .copy {
    padding: 0 25px;
  }
  footer.libft .copy p {
    font-size: 8px;
  }
}

body {
  border: 1px solid hotpink;
  margin: 0;
  background-color: #FFFAF4;
}

* {
  font-family: 'Noto Sans TC light', '微軟正黑體', sans-serif;
}

div#JN > div {
  border: 1px solid red;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  font-size: 24px;
  /* button */
}

div#JN > div h1 {
  font-size: 60px;
  text-align: center;
  margin-top: 3%;
  font-weight: bold;
}

div#JN > div .photo {
  background-image: url(../img/interiordesign/excellent/BLK_IW_VARANDA_40_PAV_13_ESTAR_4K.jpg);
  width: 100%;
  height: 600px;
  background-attachment: fixed;
  background-position: center center;
  display: inline-block;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

div#JN > div .introduce_detail {
  border: 1px solid darkgoldenrod;
  display: inline-flex;
  margin-top: 5%;
  width: 100%;
}

div#JN > div .intro_detail {
  border: 1px solid blue;
  width: 50%;
  margin: 5%;
  margin-top: 5%;
  line-height: 60px;
  font-size: 24px;
}

div#JN > div .pic_intro {
  border: 1px solid orangered;
}

div#JN > div .designer {
  border: 1px solid purple;
  width: auto;
  position: relative;
}

div#JN > div .designer::after {
  content: "";
  position: absolute;
  background: #865454;
  width: 50%;
  height: 10px;
  bottom: 0;
  left: 0;
}

div#JN > div .first {
  border: 1px solid palevioletred;
  width: auto;
  background-color: rgba(189, 167, 156, 0.1);
  padding: 5%;
  position: relative;
}

div#JN > div .first:after {
  content: '';
  display: inline-block;
  border: 1px solid #bda79e;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 3%;
  left: 3%;
  z-index: -1;
}

div#JN > div .designer_say {
  border: 1px solid navy;
  display: inline-flex;
}

div#JN > div .second {
  border: 1px solid palevioletred;
  width: auto;
  background-color: rgba(189, 167, 156, 0.1);
  padding: 5%;
  position: relative;
  margin: auto 50px;
  line-height: 2;
}

div#JN > div .second:after {
  content: '';
  display: inline-block;
  border: 1px solid #bda79e;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 3%;
  left: 3%;
  z-index: -1;
}

div#JN > div .series {
  border: 1px solid gray;
}

div#JN > div .title {
  border: 1px solid purple;
  display: inline-flex;
  text-align: center;
  width: 50%;
}

div#JN > div .stylelist {
  border: 1px solid blue;
  padding: 10px;
}

div#JN > div .style {
  border: 1px solid blue;
  padding: 10px;
}

div#JN > div .pic {
  border: 1px solid cadetblue;
  text-align: center;
  width: 300px;
  height: 60px;
  margin: auto;
}

div#JN > div #intro_sliderBoard {
  /*div*/
  border: 3px solid firebrick;
  width: 300px;
  margin: 50px auto;
  overflow: hidden;
}

div#JN > div #intro_sliderBoard ul {
  /*ul*/
  width: 1200px;
  position: relative;
  animation: slider 10s infinite;
}

div#JN > div #intro_sliderBoard li {
  /*li*/
  width: 300px;
  height: 400px;
  font: bold 150px Tahoma;
  text-align: center;
  line-height: 400px;
  /* display: inline-block; */
  float: left;
}

@keyframes slider {
  0% {
    left: 0px;
  }
  30% {
    left: -300px;
  }
  60% {
    left: -600px;
  }
  90% {
    left: -900px;
  }
}

div#JN > div .tab_list_block {
  max-width: 1200px;
  width: 100%;
}

div#JN > div .tab_list_block .tab_list {
  border: 1px solid rebeccapurple;
  width: 80%;
  font-size: 0;
}

div#JN > div .tab_list_block .tab_list li {
  display: inline-block;
  border: 1px solid black !important;
}

div#JN > div .tab_list_block .tab_list li a {
  font-size: 30px;
  display: inline-block;
  padding: 5px 60px;
  text-decoration: none;
  color: black;
  padding: 15px 60px;
}

div#JN > div .tab_list_block .tab_list li a:hover {
  cursor: pointer;
  background-color: #865454;
  color: white;
}

div#JN > div .tab_list_block .tab_list li a.-on {
  color: white;
  background-color: #865454;
}

div#JN > div div.tab {
  display: none;
}

div#JN > div div.tab.-on {
  display: block;
}

div#JN > div .jpgbox {
  width: 33.1%;
  height: 240px;
  border: 1px solid red;
  position: relative;
  overflow: hidden;
}

div#JN > div .jpgbox:hover span {
  opacity: 100%;
}

div#JN > div .jpgbox span {
  display: inline-block;
  opacity: 0;
  width: 100%;
  height: 120px;
  text-align: center;
  position: absolute;
  top: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.3);
  line-height: 120px;
  font-size: 30px;
  color: white;
  transition: all .5s;
}

div#JN > div .jpgbox span:last-child {
  top: 120px;
}

div#JN > div .inter_pic {
  width: 100%;
  height: 100%;
}

div#JN > div .img_inter {
  display: inline-block;
  width: 100%;
  height: 100%;
}

div#JN > div img.homepic, div#JN > div img.commercial_pic, div#JN > div img.office_pic {
  border: 1px solid green;
  max-height: 100%;
  position: absolute;
  top: 0;
  left: 0px;
  width: 100%;
  height: fit-content;
}

div#JN > div .stylebox_right {
  border: 1px solid pink;
  max-width: 1200px;
  width: 100%;
  margin-bottom: 20%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

div#JN > div .style_one_one, div#JN > div .style_one_two, div#JN > div .style_one_three, div#JN > div .style_two_one,
div#JN > div .style_two_two, div#JN > div .style_three_one {
  display: inline-flex;
  max-width: 1200px;
  width: 100%;
  justify-content: space-around;
}

div#JN > div .style_one_one div:nth-child(2) img {
  max-width: 120%;
  max-height: 120%;
  top: -10px;
  left: -10px;
}

div#JN > div .style_one_three div:nth-child(2) img, div#JN > div .style_two_one div:nth-child(2) img {
  max-width: 100%;
  max-height: 150%;
}

div#JN > div .style_two_two div:nth-child(3) img {
  max-width: 100%;
  max-height: 150%;
}

div#JN > div .image {
  border: 1px solid #ccc;
  width: 35%;
  position: absolute;
  margin-bottom: 0px;
}

div#JN > div #sliderBoard {
  /*div*/
  border: 1px solid #ccc;
  width: 90%;
  height: 550px;
  margin: 50px auto;
  overflow: hidden;
  position: relative;
}

div#JN > div #content {
  /*ul*/
  position: relative;
  height: 100%;
}

div#JN > div #content li {
  /*li*/
  float: left;
  height: 100%;
}

div#JN > div #contentButton {
  /* border: 1px solid red; */
  text-align: center;
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: 0;
}

div#JN > div #contentButton li {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #ccc;
  display: inline-block;
  margin: 30px 5px;
}

div#JN > div #contentButton li.clickMe {
  background: #888;
}

div#JN > div div.award_list {
  border: 3px solid brown;
  width: 600px;
  height: 450px;
  background-color: #fff;
}

div#JN > div div.other_text {
  border: 5px solid rebeccapurple;
  position: relative;
  right: 0px;
  height: 550px;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.37);
  color: white;
  width: 40%;
  left: 60%;
  line-height: 2.5;
  padding: 0px 40px 0px 10px;
  box-sizing: border-box;
}

div#JN > div .intro_sliderBoard {
  border: 3px solid darkblue;
}

div#JN > div .intro_image {
  width: 100%;
  margin-top: 30%;
}

div#JN > div .other_text_award {
  font-size: 36px;
}

@keyframes runPdt {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translate(-50%);
  }
}

div#JN .select_click {
  border: 1px solid rebeccapurple;
  display: inline-flex;
  max-width: 1200px;
  width: 100%;
  text-align: center;
  height: 100%;
  justify-content: center;
  background-color: #F8F2EB;
}

div#JN .icon_border {
  width: 30px;
  height: 30px;
}

div#JN .icon_left {
  width: 30px;
  height: 30px;
}

div#JN .icon_right {
  width: 30px;
  height: 30px;
}

div#JN .click {
  border: 1px solid green;
  margin-top: 2.5%;
  padding: 5px 20px;
  font-size: 32px;
  display: flex;
  justify-content: center;
}

div#JN .show_pic {
  border: 1px solid darkblue;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3%;
  line-height: 60px;
}

div#JN .exhibit_pic {
  display: flex;
  justify-content: center;
  margin-top: 15%;
}

div#JN .designer_intro {
  border: 1px solid indianred;
  text-align: center;
  margin-top: 35%;
}

div#JN .block_color {
  border: 1px solid palevioletred;
  width: 100%;
  background-color: rgba(189, 167, 156, 0.1);
  padding: 0%;
  position: relative;
  line-height: 2;
}

div#JN .block_color:after {
  content: "";
  position: absolute;
  background: #865454;
  width: 30%;
  height: 0.5rem;
  bottom: 0;
  left: 35%;
}

div#JN .d_pic {
  border: 1px solid darkblue;
  margin-top: 6%;
}

div#JN .pics {
  border: 1px solid brown;
  display: flex;
  width: 300px;
  height: 90px;
  align-items: center;
  justify-content: space-around;
  margin: auto;
  font-size: 32px;
  border: 1px solid palevioletred;
  background-color: rgba(189, 167, 156, 0.1);
  position: relative;
}

div#JN .pics:after {
  content: '';
  display: inline-block;
  border: 1px solid #bda79e;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 3%;
  left: 3%;
  z-index: -1;
}

div#JN .d_pic_flex {
  border: 6px solid yellow;
  width: 100%;
  margin-top: 5%;
}

div#JN .interior_one, div#JN .interior_two, div#JN .interior_three {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 1px solid rebeccapurple;
  width: 100%;
}

div#JN .interior_two {
  display: none;
}

div#JN .interior_pics {
  width: 100%;
  height: 100%;
}

div#JN .d_pic_word {
  width: 100%;
}

div#JN .inter_one {
  width: 250px;
  padding: 2%;
}

div#JN .more_detail {
  border: 1px solid darkblue;
  margin-top: 15%;
  position: relative;
  margin-bottom: 20%;
}

div#JN .more_detail .contact {
  border: 1px solid red;
  position: absolute;
  display: inline-block;
  opacity: 1;
  top: 50%;
  width: 100%;
  text-align: center;
  z-index: 1;
  line-height: 2.5;
  font-size: 30px;
}

div#JN .more_detail .contact .titleFont3 {
  border: 1px solid greenyellow;
}

div#JN .more_detail .contact .more_details {
  border: 1px solid #865454 !important;
  display: inline-block;
  width: 20%;
}

div#JN .more_detail .contact .more_details:hover {
  cursor: pointer;
  background-color: #865454;
  color: white;
}

div#JN .deatil_contact {
  border: 1px solid rebeccapurple;
  max-width: 100%;
  margin-top: 5%;
  display: flex;
  justify-content: center;
  margin: auto;
  background-color: #fff;
  opacity: 0.5;
}

div#JN .inter_one_pack {
  border: 2px solid steelblue;
  display: flex;
}

div#JN #picsLightBox {
  position: fixed;
  width: 100%;
  max-width: 100vw;
  height: 100vh;
  background-color: rgba(97, 97, 97, 0.8);
  z-index: -100;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 1s;
}

div#JN #picsLightBox > div {
  width: 70%;
  border: 1px solid #9b9b9b;
  background-color: #fffaf4;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

div#JN #picsLightBox > div > div {
  width: 90%;
  height: 90%;
  border: 1px solid #644646 !important;
  background-color: #fffaf4;
  font-size: 0;
  margin: 3% auto;
  overflow: hidden;
}

div#JN #picsLightBox > div > div img {
  width: 100%;
  max-width: 100%;
}

div#JN #picsLightBox > div > div .pics_lightbox {
  width: 36px;
  height: 36px;
  cursor: pointer;
  position: absolute;
  right: 5px;
  top: 5px;
}

div#JN .example_exhibit {
  width: 900px;
}

div#JN .exhibit_pic2 {
  width: 600px;
}

div#JN .contact_detail {
  width: 1000px;
  height: 800px;
}

@media all and (max-width: 1200px) {
  .titleFont1 {
    font-size: 34px !important;
    font-family: 'Noto Sans TC Regular', '微軟正黑體', sans-serif !important;
  }
  .titleFont2 {
    font-size: 24px !important;
  }
  .titleFont3 {
    font-size: 19px !important;
  }
  .contentFont {
    font-size: 20px !important;
  }
  .detailFont {
    font-size: 14px !important;
  }
  .lineHeight {
    line-height: 50px !important;
  }
  div#JN > div .show_pic {
    display: grid;
  }
  div#JN > div .designer_intro {
    margin-top: 0%;
  }
  div#JN > div #intro_sliderBoard {
    margin: 50px auto;
  }
  div#JN > div .intro_image {
    width: 100%;
    margin: 0%;
  }
  div#JN > div .image {
    width: 35%;
  }
  div#JN > div #content li {
    /*li*/
    float: left;
    display: flex;
    justify-items: center;
  }
  div#JN > div .interior_two {
    display: none;
  }
  div#JN > div .d_pic_flex {
    display: flex;
    justify-content: center;
  }
  div#JN > div .inter_one {
    width: 310px;
  }
  div#JN > div .example_exhibit {
    width: 700px;
  }
  div#JN > div .exhibit_pic2 {
    width: 600px;
  }
  div#JN > div .contact_detail {
    width: 800px;
    height: 500px;
  }
  div#JN > div .more_detail .contact {
    line-height: 75px;
  }
  div#JN > div .select_click {
    border: 1px solid rebeccapurple;
    display: flex;
    max-width: 1200px;
    width: 90%;
    text-align: center;
    height: 80px;
    justify-content: center;
    background-color: #F8F2EB;
    margin: auto;
  }
  div#JN > div .click {
    padding: 5px 90px;
  }
}

@media all and (max-width: 992px) {
  .titleFont1 {
    font-size: 32px !important;
    font-family: 'Noto Sans TC Regular', '微軟正黑體', sans-serif !important;
  }
  .titleFont2 {
    font-size: 22px !important;
  }
  .titleFont3 {
    font-size: 17px !important;
  }
  .contentFont {
    font-size: 16px !important;
  }
  .detailFont {
    font-size: 12px !important;
  }
  .lineHeight {
    line-height: 40px !important;
  }
  div#JN > div {
    border: 1px solid blue;
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    font-size: 24px;
  }
  div#JN > div .introduce_detail {
    border: 1px solid darkgoldenrod;
    display: grid;
    margin-top: 5%;
    justify-items: center;
  }
  div#JN > div .intro_detail {
    border: 1px solid blue;
    width: 80%;
    margin-left: 5%;
    margin-top: 100px;
    line-height: 60px;
    font-size: 24px;
    order: 2;
  }
  div#JN > div .pic_intro {
    border: 1px solid orangered;
    order: 1;
  }
  div#JN > div .designer_say {
    border: 1px solid navy;
    display: grid;
    margin-top: 15%;
    justify-items: center;
  }
  div#JN > div .style_one_one, div#JN > div .style_one_two, div#JN > div .style_one_three, div#JN > div .style_two_one,
  div#JN > div .style_two_two, div#JN > div .style_three_one {
    display: inline-flex;
    flex-wrap: wrap;
    max-width: 1200px;
    width: 100%;
    justify-content: space-around;
  }
  div#JN > div .intro_image {
    width: 100%;
  }
  div#JN > div div.other_text {
    width: 100%;
    left: 0%;
  }
  div#JN > div #content li {
    /*li*/
    float: left;
    display: flex;
    justify-items: center;
  }
  div#JN > div .d_pic_flex {
    font-family: Arial;
    display: block;
  }
  div#JN > div .interior_one {
    display: flex;
    background: #fff;
    position: relative;
    text-align: center;
  }
  div#JN > div .interior_two {
    display: flex;
    background: #fff;
    position: relative;
    text-align: center;
    flex-wrap: nowrap;
    margin-top: 5%;
  }
  div#JN > div .inter_one_pack {
    border: 2px solid steelblue;
    display: block;
  }
  div#JN > div .tab_list_block .tab_list li a {
    padding: 5px 30px;
  }
  div#JN > div .inter_one {
    width: 100%;
    display: contents;
  }
  div#JN > div .small {
    border: 1px solid rebeccapurple;
    height: auto;
    width: 20%;
    margin: auto;
  }
  div#JN > div .aa {
    display: none;
  }
  div#JN > div .jpgbox {
    width: 49%;
    height: 240px;
    border: 1px solid red;
    position: relative;
    overflow: hidden;
  }
  div#JN > div .jpgbox:hover span {
    opacity: 100%;
  }
  div#JN > div .jpgbox span {
    display: inline-block;
    opacity: 0;
    width: 100%;
    height: 120px;
    text-align: center;
    position: absolute;
    top: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.3);
    line-height: 120px;
    font-size: 30px;
    color: white;
    transition: all .5s;
  }
  div#JN > div .jpgbox span:last-child {
    top: 120px;
  }
  div#JN > div .section div.div_block {
    background-image: url("../img/interiordesign/excellent/award/forest/02.jpg");
    width: 100%;
    height: 350px;
    border: 1px solid red;
  }
  div#JN .example_exhibit {
    width: 600px;
  }
  div#JN .exhibit_pic2 {
    width: 400px;
  }
  div#JN .contact_detail {
    width: 500px;
    height: 300px;
  }
  span.triangle1 {
    display: inline-block;
    border-left: 25px solid transparent !important;
    border-right: 25px solid transparent !important;
    border-bottom: 25px solid #BDA79E !important;
    transform: rotate(270deg);
    width: 0px;
    cursor: pointer;
    margin: auto;
  }
  span.triangle2 {
    display: inline-block;
    border-left: 25px solid transparent !important;
    border-right: 25px solid transparent !important;
    border-bottom: 25px solid #BDA79E !important;
    transform: rotate(90deg);
    width: 0px;
    cursor: pointer;
    margin: auto;
  }
  #picsLightBox {
    display: none;
  }
}

@media all and (max-width: 768px) {
  .titleFont1 {
    font-size: 30px !important;
    font-family: 'Noto Sans TC Regular', '微軟正黑體', sans-serif !important;
  }
  .titleFont2 {
    font-size: 20px !important;
  }
  .titleFont3 {
    font-size: 15px !important;
  }
  .contentFont {
    font-size: 16px !important;
  }
  .detailFont {
    font-size: 12px !important;
  }
  .lineHeight {
    line-height: 40px !important;
  }
  div#JN > div .jpgbox {
    width: 50%;
    height: 240px;
    border: 1px solid red;
    position: relative;
    overflow: hidden;
    margin: auto;
  }
  div#JN > div .jpgbox:hover > span {
    opacity: 100%;
  }
  div#JN > div .tab_list_block .tab_list {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  div#JN > div .tab_list_block .tab_list li a {
    padding: 5px 30px;
  }
  div#JN > div section div.other_text {
    width: 75%;
  }
  div#JN > div .stylebox_right {
    border: 1px solid pink;
    max-width: 1200px;
    width: 100%;
    margin-bottom: 20%;
    display: block;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  div#JN > div .d_pic_flex {
    display: grid;
  }
  div#JN > div .contact_detail {
    width: 600px;
    height: 500px;
  }
  div#JN > div .select_click {
    display: block;
    width: 90%;
    text-align: center;
    height: 30%;
    justify-content: center;
    margin: auto;
  }
  div#JN > div .click {
    padding: 5px 90px;
  }
  div#JN > div .example_exhibit {
    width: 600px;
  }
  div#JN > div .exhibit_pic2 {
    width: 400px;
  }
  div#JN > div .image {
    width: 34%;
  }
  div#JN > div #content li {
    align-items: center;
  }
}

@media all and (max-width: 576px) {
  .titleFont1 {
    font-size: 26px !important;
    font-family: 'Noto Sans TC Regular', '微軟正黑體', sans-serif !important;
  }
  .titleFont2 {
    font-size: 18px !important;
  }
  .titleFont3 {
    font-size: 13px !important;
  }
  .contentFont {
    font-size: 12px !important;
  }
  .detailFont {
    font-size: 10px !important;
  }
  .lineHeight {
    line-height: 30px !important;
  }
  div#JN > div .jpgbox {
    width: 80%;
    height: 240px;
    border: 1px solid red;
    position: relative;
    overflow: hidden;
  }
  div#JN > div .jpgbox:hover > span {
    opacity: 100%;
  }
  div#JN > div .tab_list_block .tab_list {
    width: 100%;
    display: flex;
  }
  div#JN > div .tab_list_block .tab_list li {
    display: block;
    text-align: center;
  }
  div#JN > div .tab_list_block .tab_list li a {
    padding: 5px 30px;
  }
  div#JN > div .contact_detail {
    width: 400px;
    height: 300px;
  }
  div#JN > div .more_detail .contact {
    line-height: 45px;
  }
  div#JN > div .example_exhibit {
    width: 400px;
  }
  div#JN > div .exhibit_pic2 {
    width: 300px;
  }
}

@media all and (max-width: 576px) and (max-width: 360px) {
  .titleFont1 {
    font-size: 20px !important;
    font-family: 'Noto Sans TC Regular', '微軟正黑體', sans-serif !important;
  }
  .titleFont2 {
    font-size: 16px !important;
  }
  .titleFont3 {
    font-size: 11px !important;
  }
  .contentFont {
    font-size: 12px !important;
  }
  .detailFont {
    font-size: 8px !important;
  }
  .lineHeight {
    line-height: 30px !important;
  }
  div#JN div .tab_list_block .tab_list {
    width: 20%;
    display: grid;
  }
  div#JN div .tab_list_block .tab_list li {
    display: block;
    text-align: center;
  }
  div#JN div .tab_list_block .tab_list li a {
    padding: 5px 15px;
  }
  div#JN div .photo {
    width: 100%;
    height: 550px;
    background-position: center center;
    justify-content: center;
  }
}
/*# sourceMappingURL=14.css.map */