@import '../../lib/header/header.scss';
@import'../../lib/header/footer.scss';

body{
    border: 3px solid hotpink;
    margin: 0;
    background-color: #f1ece8;
    // margin-top: 160px;
}


*{
    font-family: 'Noto Sans TC light', '微軟正黑體', sans-serif;
    // font-family: "微軟正黑體";
}

//巢狀寫法
div#JN{
    div{
        border: 2px solid red;
        width: 1200px;
        margin: 0 auto;
        font-size: 24px;

        h1{
            font-size: 60px;
            text-align: center;
            margin-top: 3%;
            font-weight: bold;
        }

        .photo{
            background-image: url(../../img/interiordesign/excellent/BLK_IW_VARANDA_40_PAV_13_ESTAR_4K.jpg);
            width: 100%;
            height: 600px;
            background-attachment: fixed;
            background-position: center center;
            display: inline-block;
            background-size: cover;
            background-repeat: no-repeat;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .intro_detail{
            border: 2px solid blue;
            width: 40%;
            margin-left: 5%;
            margin-top: 100px;
            line-height: 60px;
            font-size: 24px;
        }

        .introduce_detail{
        border: 3px solid darkgoldenrod;   
        display: inline-flex;
        margin-top: 5%;
        }

        .pic_intro{
            border: 2px solid orangered;
            
        }

        .designer{
            border: 2px solid purple;
            width: auto;
        }

        .first{
            border: 2px solid palevioletred;
            width: auto;
        }

        .designer_say{
            border: 5px solid navy;
            display: inline-flex;
            margin-top: 15%;
        }

        .second{
            border: 5px solid darkcyan;
            width: 60%;
            margin-left: 5%;
            line-height: 60px;
            margin-top: 10%;
            height: fit-content;
        }

        // img{
        //     border: 1px solid darkgreen;
        //     width: 100%;
        //     display: flex;
        //     justify-content: center;
        // }

        .series{
            border: 2px solid gray;
        }


        .title{
            border: 3px solid purple;
            display: inline-flex;
            text-align: center;
            width: 50%;
        }

        .style{
            border: 1px solid blue;
            padding: 10px;
        }


        .style_one, .style_two, .style_three{
            border: 2px solid magenta;
            // width: 100%;  
        }

        .style_one_one, .style_one_two,.style_one_three,.style_one_four,
        .style_two_one, .style_three_one{
            border: 5px solid cadetblue;
            width: 100%;
        }

        .home_flex_one, .home_flex_two, .home_flex_three, .home_flex_four,
        .commercial_flex_one, .commercial_flex_two, .commercial_flex_three,
        .commercial_flex_four, .office_flex_one{
            border: 6px solid violet;
            width: 300px;
            display: inline-flex;
            // justify-content: center;
        }

        img.homepic, img.commercial_pic, img.office_pic{
            border: 2px solid green;
            width: 100%;
            // height: 100%;
        }

        // section
        section{
            .award{
                border: 3px solid orange;
                margin-top: 15%;
            }

            div.div_block{
                background-image: url("../img/interiordesign/excellent/award/forest/02.jpg");
                width: 100%;
                height: 750px;
                border: 1px solid red;
            }

            div.div_block_two{
                background-image: url("../img/interiordesign/excellent/award/office/bafc9ce2034689f60e54eaec3784d759.jpg");
                width: 100%;
                height: 750px;
                border: 1px solid red;
            }

            div.div_block_three{
                background-image: url("../img/interiordesign/excellent/award/hampshire-54-master-bed-2.jpg");
                width: 100%;
                height: 750px;
                border: 1px solid red;
            }
            
            div.other_text{
            /*   background-color: yellow; */
                background-color: hsla(0, 0%, 0%, 0.5);
                color: white;
                width: 23%;
                height: 73%;
                margin-left: 720px;
                display: inline-block;
                padding: 100px; 
            /*   opacity: 1; */
            }

            
            p.other_text_award{
                font-size: 50px;
            }

            p.other_text{
                line-height: 50px;
            }
            
    
        }

        .image{
            border: 3px solid fuchsia;
            width: 70%;
            margin: auto;
            margin-top: 15%;
            height: 750px;
        }

        #sliderBoard{
            border: 3px solid indianred;
            width: 50%;
        }
    }

    //第二頁
    .select_click{
        border: 2px solid rebeccapurple;
        display: inline-flex;
        width: 100%;
        text-align: center;
        height: 80px;
        // margin-top: 3%;
    }

    .click{
        margin-top: 3%;
    }

    .show_pic{
        border: 3px solid darkblue;  
        display: flex;
        align-items: center;
        justify-content:  center;
        margin-top: 3%;
        line-height: 60px;
    }


    .exhibit_pic{
        display:  flex;
        align-items: center;
        justify-content:  center;
    }

    .exhibit_pic2{
        width: 600px;
        // height: 200px;
        
    }

    .designer_intro{
        border: 2px solid indianred;
        text-align: center;
        margin-top: 35%;
    }

   .block_color{
        background-color: #b99e9057;
        color: #54383B;
        width: 100%;
    }

   .d_pic{
       border: 3px solid darkblue;
    }

    .d_pic_flex{
        border: 3px solid yellow;
    }

   .interior_one, .interior_two, .interior_three{
    border: 2px solid cadetblue;   
    display: inline-flex;
    }

 
}

    img.exhibit_pic2{
        width: 100%;
    }

    p.pic{
        border: 1px solid cadetblue;
        text-align: center;
    }





//jquery輪播圖
// .image{
// 	/* border: 1px solid #ccc; */
// 	width: 100%;
//     height: 450px;
//     margin-top: 100px;
// }

// #sliderBoard{  /*div*/
// 	border: 1px solid #ccc;
// 	width: 60%;
// 	height: 500px;
// 	margin: 0px auto;
// 	overflow: hidden;
// }

// #content{		/*ul*/
// 	position: relative;
// }

// #content li{	/*li*/
// 	float: left;
// }

// /* button */
// #contentButton{
// 	/* border: 1px solid red; */
// 	text-align: center;
// 	width: 100%;
// 	height: 50px;
// }

// #contentButton li{
// 	width: 20px;
// 	height: 20px;
// 	border-radius: 50%;
// 	background: #ccc;

// 	display: inline-block;
// 	margin: 5px;
// }

// #contentButton li.clickMe{
// 	background: #888;
// }



