//通用
@import '../../lib/header/variable';

//排版設定
// @import 'var';
// @import 'mixin';


body{
    background-color: #FFFAF4;
    
    >.jk_authority{
        *{
            box-sizing: border-box;
        }
        >.container{
            width: 1850px;
            display: flex;
            color: #474747;

            >.sideMenu{
                font-family: 'Noto Sans TC Regular', '微軟正黑體', sans-serif;
                display: flex;
                flex-direction: column;
                align-items: center;

                width: 15.7%;
                min-height: 100vh;
                background-color: #CAC3BB;
                border: 1px solid #707070;

                transition: transform .5s;

                >.title{
                    width: 86.6%;
                    margin-bottom: 60px;
                    padding: 25px 0;
                    border-bottom: 1px solid #707070;
                    text-align: center;
                    font-size: 30px;
                }

                >.menu{
                    width: 100%;

                    >ul{
                        width: 100%;

                        position: relative;

                        //menu大項目
                        >li{
                            width: 100%;
                            font-size: 24px;
                            text-align: center;

                            //menu小項目
                            li{
                                width: 100%;
                                padding: 20px 0;
                                font-size: 24px;
                                text-align: center;
                                cursor: pointer;

                                
                            }
                            
                            //menu小項目隱藏，待點擊後展開
                            li + li{
                                display: none;
                            }

                            i{
                                position: absolute;
                                right: 10%;

                                transition: .5s;
                            }
                        }

                        >li.-on{
                            color: #fff;

                            i{
                                transform: rotate(-90deg);
                            }
                        }
                        
                        >li.-on li:first-child{
                            background-color: #965454;                          
                        }

                        //調整'新增管理員'位置
                        // >li.-on li:nth-child(2){
                        //     margin-left: 21px;
                        //     width: 94%;
                        // }
                    }

                }

                >.arrow{
                    margin-top: 320px;
                    padding-right: 25px;
                    align-self: flex-end;

                    position: fixed;
                    top: 525px;
                    left: 215px;                    

                    >i{
                        font-size: 50px;
                        cursor: pointer;
                        transition: .5s;
                    }
                    
                    >i.-rotate{

                        transform: translateX(100px) rotate(180deg);

                    }
                }
            }

            >.sideMenu.-close{
                transform: translateX(-100%);

            }

//////////////////從這下面開始改，MAIN的CLASS記得改自己名稱////////////////

            >main.jane_class{
                display: none;
                font-family: 'Noto Sans TC Light', '微軟正黑體', sans-serif;
                width: 79.1%;
                margin: 0 auto;
                font-size: 24px;

                >.top{
                    display: flex;
                    justify-content: space-between;

                    border-bottom: 1px solid #707070;
                    margin-top: 26px;
                    padding: 15px 0;
                }

                >table.jane_authorityChange{
                    margin: 60px auto 0;
                    border-top: 1px solid #707070;
                    border-right: 1px solid #707070;
                    border-left: 1px solid #707070;
                    flex-wrap: nowrap;

                    tr{
                        border-bottom: 1px solid #707070;

                        >th{
                            background-color: #CAC3BB;
                            font-weight: bold;
                        }

                        >td{

                            >button.cancel{                                
                                width:70px;
                                height: 25px;
                                border:2px solid #707070;
                                background:none;
                                cursor:pointer;
                                color:#707070;
                                outline:none;
                                transition:all .5s;
                                box-shadow:1px 1px 1px #474747;
                                &:hover{
                                    background-color: #865454;
                                    color:rgb(231, 231, 231);
                                }
                            }
                        }

                        >th, >td{
                            padding: 15px;
                            text-align: center;
                        }
                        >th + th, >td + td{
                            border-left: 1px solid #707070;
                        }
                    }
                }
                div.jane_jump{
                    border:1px solid red;
                    position: fixed;
                    width:100%;
                    height: 100vh;
                    background-color: rgba(97,97,97,.8);
                    top:0;
                    left:0;
                    opacity: 0;
                    z-index: -1;
                    transition: opacity 1s;
                    div.secondBack{
                        width:60%;
                        margin:0 auto;
                        border:1px solid rgb(155, 155, 155);
                        background-color: #fffaf4;
                        margin-top: 4.5%;
                        position: relative;
                        img.cancel-icon{
                            position: absolute;
                            width: 40px;
                            height: 40px;
                            top:1%;
                            right:1%;
                            cursor:pointer;
                        }
                        form{
                            border:1px solid #865454;
                            width:50%;
                            margin:60px auto 60px;
                            position: relative;
                            z-index:2;
                            &:after{
                                content:'';
                                display:block;
                                width:100%;
                                height: 100%;
                                background-color: rgba(189,167,156,0.1);
                                position: absolute;
                                top:1%;
                                right:-1%;
                                z-index:-1;
                            }
                        }
                        label{
                            display:inline-block;
                            margin:2% 20px 0px 2%;
                        }
                        input{
                            display:inline-block;
                            background:none;
                            border:none;
                            outline:none;
                            border-bottom:1px solid #865454;
                            margin-bottom:6%;
                        }
                        button#case_submit{
                            display:block;
                            margin:30px auto;
                            width:150px;
                            height: 50px;
                            border:2px solid #BDA79E;
                            color:#865454;
                            outline:none;
                            cursor:pointer;
                            background:none;
                            font-size:24px;
                            transition:all .5s;
                            &:hover{
                                background-color: #BDA79E;
                                color:#f8f8f8;
                            }
                        }
                    }
                }
                div.jane_jump.-on{
                    opacity: 1;
                    z-index: 2;
                }
                div.jane_jump.-opacity-zero{
                    opacity: 0;
                }
            }


            //////////////////////////////KCC//////////////////////////////////

            >main.kcc_class{
                display: none;
                font-family: 'Noto Sans TC Light', '微軟正黑體', sans-serif;
                width: 79.1%;
                margin: 0 auto;
                font-size: 24px;

                >.top{
                    display: flex;
                    justify-content: space-between;

                    border-bottom: 1px solid #707070;
                    margin-top: 26px;
                    padding: 15px 0;
                }

                >table.kcc_authorityChange{
                    margin: 60px auto 0;
                    border-top: 1px solid #707070;
                    border-right: 1px solid #707070;
                    border-left: 1px solid #707070;

                    tr{
                        border-bottom: 1px solid #707070;

                        >th{
                            background-color: #CAC3BB;
                            font-weight: bold;
                        }

                        >td{

                            >button.cancel{                                
                                width:50px;
                                height: 25px;
                                border:2px solid #707070;
                                background:none;
                                cursor:pointer;
                                color:#707070;
                                outline:none;
                                transition:all .5s;
                                box-shadow:1px 1px 1px #474747;
                                &:hover{
                                    background-color: #865454;
                                    color:rgb(231, 231, 231);
                                }
                            }
                        }

                        >th, >td{
                            padding: 15px;
                            text-align: center;
                        }
                        >th + th, >td + td{
                            border-left: 1px solid #707070;
                        }

                        
                    }
                }
                div.kcc_jump{
                    border:1px solid red;
                    position: fixed;
                    width:100%;
                    height: 100vh;
                    background-color: rgba(97,97,97,.8);
                    top:0;
                    left:0;
                    opacity: 0;
                    z-index: -1;
                    transition: opacity 1s;
                    div.secondBack{
                        width:60%;
                        margin:0 auto;
                        border:1px solid rgb(155, 155, 155);
                        background-color: #fffaf4;
                        margin-top: 4.5%;
                        position: relative;
                        img.cancel-icon{
                            position: absolute;
                            width: 40px;
                            height: 40px;
                            top:1%;
                            right:1%;
                            cursor:pointer;
                        }
                        form{
                            border:1px solid #865454;
                            width:50%;
                            margin:60px auto 60px;
                            position: relative;
                            z-index:2;
                            &:after{
                                content:'';
                                display:block;
                                width:100%;
                                height: 100%;
                                background-color: rgba(189,167,156,0.1);
                                position: absolute;
                                top:1%;
                                right:-1%;
                                z-index:-1;
                            }
                        }
                        label{
                            display:inline-block;
                            margin:2% 20px 0px 2%;
                        }
                        input{
                            display:inline-block;
                            background:none;
                            border:none;
                            outline:none;
                            border-bottom:1px solid #865454;
                            margin-bottom:6%;
                        }
                        button#case_submit{
                            display:block;
                            margin:30px auto;
                            width:150px;
                            height: 50px;
                            border:2px solid #BDA79E;
                            color:#865454;
                            outline:none;
                            cursor:pointer;
                            background:none;
                            font-size:24px;
                            transition:all .5s;
                            &:hover{
                                background-color: #BDA79E;
                                color:#f8f8f8;
                            }
                        }
                    }
                }
                div.kcc_jump.-on{
                    opacity: 1;
                    z-index: 2;
                }
                div.kcc_jump.-opacity-zero{
                    opacity: 0;
                }
            }
        }
    }
}