.bodykm{
  display: flex;
  justify-content: center;

}

.km{

*{
  margin: 0 auto;
  box-sizing: border-box;
}

/* 大背景 */
.bigbox{
    width: 100%;
    background-color:#FFFAF4;
}

/* 內文 */
.contain{
    width: 1200px;
}

/* 大標題 */
p.title{
    font-size: 40px;
    color: #865454;
    text-align: center;
}

/* 篩選鈕 */
.list{
    width: auto;
    background-color: #FFF8F5;

}

  ul.nav_list > li{
    display: inline-block;
    margin-top: 20px;
  }

  ul.nav_list > li > a{
    text-decoration: none;
    border: 1px solid #BDA79E;
    padding: 5px 10px;
    margin: 0 10px;
    color: #BDA79E;
    font-size: 24px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px 0px  #BDA79E;
  }
  ul.nav_list > li > a:hover{
    background-color:#BDA79E;
    color: white;
  }

  /* 大標題 */
  .title2{
    margin-top: 30px;
    width: 100%;
    background-color: #865454;
    color: white;
    font-size: 30px;
    padding: 1px 30px;
    display: flex;
  }

  .about{
    justify-content: flex-start;
  }

  .icon{
    width: 30px;
    height: 30px
    
    }

  .icon{
    background-image: url("");;
  }

  /* 第二標題 */
.title3{
    font-size: 30px;
    color: #865454;
    padding: 0 30px;
}

/* 線 */
.line{
    /* display: inline-block; */
    width: 100%;
    border-top: solid #BDA79E 1px;
}

  /* 第三標題 */
  .title4{
    font-size: 24px;
    color: #865454;
    padding: 0px 90px;
    line-height: 60px;
}

  /* 第四標題 */
  .title5{
    font-size: 24px;
    color: #BDA79E;
    padding: 0px 120px;
}

/* 小線 */
.line2{
    /* display: inline-block; */
    width: 100%;
    border-top: solid #BDA79E 1px;
}

/* 問題表單 */
.paper1{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: #865454;
    
}

.paper2{
    width: 600px;
    background-color: rgba(189, 167, 156, .1);
    padding: 50px 60px;
}

.item{
  margin: 10px 0;
}



/* 輸入 */
label{
    display: inline-block;
  }

// input {
//   display: block;
//   font-size: 30px;
//   outline: none;
// }

.reply{
  background: none;
  border: none;
  border-bottom: solid #BDA79E 1px;
  font-size: 30px;

}

.txt{
  background: none;;
  border: solid #BDA79E 1px;
}

  /* 附件 */
.load{
    margin-top: 30px;
    display: flex;
    /* align-items: center;
    justify-content: center; */
}

.push{
  color: #865454;
  font-size: 30px;
  background: none;
  border: solid #BDA79E 1px;
  
}


/* 送出鈕 */
.button{
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.push{
    color: #865454;
    font-size: 30px;
}


// 對話視窗
.chatbox{
  width: 400px;
  height: 500px;
  border: solid #BDA79E 1px;
  position: fixed;
  right: 0;
  bottom: 0;
  background-color: white;
}

.name{
  background-color: #BDA79E;
  color: white;
  font-size: 30px;
  padding: 3px 10px;

}

.boss{
  border: solid #BDA79E 1px;
  color: #BDA79E;
  margin: 20px 10px;
  padding: 3px 10px;
  border-radius: 10px;
  font-size: 30px;
  
}

.me{
  background-color: #BDA79E;
  color: white;
  text-align: right;
  margin: 20px 10px;
  padding: 3px 10px;
  border-radius: 10px;
  font-size: 30px;
  width: auto;
}

.chatbar{
  bottom: 0;
}

.chat{
  font-size: 30px;
  width: 270px;
  margin: 10px 10px;
  padding: 3px 10px;
  border-radius: 10px;
  background-color: white;
  border: solid #BDA79E 1px;
}

/* 框 */
/* .outside{
    border: solid#865454 1px;
    width: 600px;
    height: 600px;
    position: absolute;
} */



// // 大於1920px
// @media screen (min-width: 1920px) {

// }

 // 1700px~1919px
 @media (max-width:1919px){
  p.title{font-size: 38px;}
  ul.nav_list > li > a {font-size: 28px;}
  .title2 {font-size: 28px;}
  .title3{font-size: 28px;}
  .title4{font-size: 24px;}
  .title5{font-size: 24px;}
  .paper1{font-size: 28px;}
  .push{font-size: 28px;}
}

// 1500px~1699px
@media (max-width:1699px){
  p.title{font-size: 36px;}
  ul.nav_list > li > a {font-size: 26px;}
  .title2 {font-size: 26px;}
  .title3{font-size: 26px;}
  .title4{font-size: 20px;}
  .title5{font-size: 20px;}
  .paper1{font-size: 26px;}
  .push{font-size: 26px;}
}

// 1200px~1499px
@media (max-width:1499px){
  p.title{font-size: 34px;}
  ul.nav_list > li > a {font-size: 24px;}
  .title2 {font-size: 24px;}
  .title3{font-size: 24px;}
  .title4{font-size: 20px;}
  .title5{font-size: 20px;}
  .paper1{font-size: 24px;}
  .push{font-size: 24px;}

}

// 992px~1199px
@media (max-width:1199px){
  .contain{width: 90%;}
  p.title{font-size: 32px;}
  ul.nav_list > li > a {font-size: 22px;}
  .title2 {font-size: 22px;}
  .title3{font-size: 22px;}
  .title4{font-size: 16px;}
  .title5{font-size: 16px;}
  .paper1{font-size: 22px;}
  .push{font-size: 22px;}

}

// 768px~991px
@media (max-width:991px){
  .contain{width: 90%;}
  p.title{font-size: 30px;}
  ul.nav_list > li > a {font-size: 20px;}
  .title2 {font-size: 20px;}
  .title3{font-size: 20px;}
  .title4{font-size: 16px;}
  .title5{font-size: 16px;}
  .paper1{font-size: 20px;}
  .push{font-size: 20px;}

}

// 576px~767px
@media (max-width:767px){
  .contain{width: 90%;}
  p.title{font-size: 26px;}
  ul.nav_list > li > a {font-size: 18px;}
  .title2 {font-size: 18px; text-align: center;}
  .pa{display: none;}
  .title3{font-size: 18px;}
  .title4{font-size: 12px;}
  .title5{font-size: 12px;}
  .paper1{font-size: 18px;}
  .push{font-size: 20px;}

}

//360px~575px
@media (max-width:575px){
  .contain{width: 90%;}
  p.title{font-size: 20px;}
  ul.nav_list > li > a {font-size: 16px;}
  .title2 {font-size: 16px;}
  .pa{display: none;}
  .title3{font-size: 16px;}
  .title4{font-size: 12px;}
  .title5{font-size: 12px;}
  .paper1{font-size: 16px;}
  .push{font-size: 16px;}

}

}
