//meminfo
//container
$containerWidth: 1500;
$containerPaddingTop: 50;

//sidemenu
$sideMenuWidth: 280;
$sideMenuHeight: 830;
$sideMenuPaddingTop: 60;

//main
$mainPaddingTop: 50;

//section
$formWidth: 700;
$noticeWidth: 930;

//input
$inputPadding: 5px;

//font-size
$fzh2: 30px;
$fzp: 24px;
$fzSmall: 16px;


//button
%button{
    width: 150px;
    height: 60px;
    line-height: 60px;
    font-size: 24px;
    background-color: rgba(0, 0, 0, 0);
    outline: none;
    border: 1px solid #465D4C;    
    cursor: pointer;
}





