//通用
@import '../../lib/header/variable';

//排版設定
@import 'var';
@import 'mixin';


body{
    background-color: #FFFAF4;
    
    .jk_favorite{
        background-color: #FFFAF4;
        margin-bottom: 100px;
        *{
            box-sizing: border-box;
        }
        .container{
            display: flex;
            width: 100%;
            max-width: $containerWidth + px;
            min-width: 319px;
            margin: 0 auto;
            padding-top: $containerPaddingTop + px;
            
            .sideMenu{
                font-family: 'Noto Sans TC Regular', '微軟正黑體', sans-serif;
                width: $sideMenuWidth + px;
                height: $sideMenuHeight + px;
                border: 1px solid #465D4C;
                margin-left: 10px;
                font-size: $fzp;
                
                z-index: 1;

                position: relative;

                @include r1200{
                    width: 250px;
                }
                @include r768{
                    width: 100%;
                    height: 70px;
                    border: none;
                    margin: 0;
                    background-color: rgb(120, 143, 126);

                    position: fixed;
                    bottom: 0;
                }
                @include r576{
                    height: 60px;
                }

                &::after{
                    content: '';
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    background-color: #BDA79C;

                    transform: translate(-20px, -20px);
                    opacity: .3;
                    z-index: -1;

                    @include r768{
                        display: none;
                    }
                }
                ul{
                    padding-top: $sideMenuPaddingTop + px;                    

                    @include r768{
                        display: flex;
                        justify-content: space-around;
                        align-items: center;
                        padding: 3px 0 0;
                        height: 100%;
                    }

                    li{
                        width: 130px;
                        margin: 0 auto 30px;
                        font-size: $fzh2;
                        line-height: 2;
                        text-align: center;

                        @include r1200{
                            width: 100px;
                            font-size: 24px;
                        }

                        @include r768{
                            width: 60px;
                            height: 60px;
                            margin: 0;
                            font-size: 12px;                          
                            
                            // background-color: #fff;
                        }
                        @include r576{
                            width: 45px;
                            height: 45px;
                        }                 
                        
                        &:hover{
                            font-size: 31px;
                            // font-weight: bold;
                            transition: .1s;
                            
                            @include r1200{
                                font-size: 25px;
                            }
                            @include r768{
                                font-size: 12px;
                                font-weight: normal;
                            }
                        }

                        >a{
                            text-decoration: none;
                            color: #465D4C;
                            
                            @include r768{
                                display: flex;
                                flex-direction: column;
                                
                                color: #fff;
                            }
                            >span.computer{
                                @include r768{
                                    display: none;
                                }
                            }
                            >span.rwd{
                                display: none;
                                font-size: 14px;
                                font-weight: bold;
                                @include r768{
                                    display: block;
                                }
                            }

                            >i{
                                display: none;
                                margin: 5px;
                                font-size: 24px;

                                @include r768{
                                    display: block;
                                    margin: 5px;
                                }
                                @include r576{
                                    display: block;
                                    margin: 0px;
                                }
                                
                            }
                        }
                    }
                    li.-on{
                        position: relative;
                        &::before{
                            content: '';
                            position: absolute;
                            right: 0;
                            left: 0;
                            bottom: 0;
                            border-bottom: 1px solid #465D4C;
                            
                            @include r768{
                                display: none;
                                
                            }
                            

                        }
                        >a{
                            @include r768{
                                color: #465D4C;
                                
                            }
                        }
                    }
                }
            }

            main{
                font-family: 'Noto Sans TC Light', '微軟正黑體', sans-serif;
                margin: 0 auto;
                padding-top: $mainPaddingTop + px;
                width: 75%;
                max-width: $containerWidth - $sideMenuWidth + px; 
                font-size: $fzp;
                color: #465D4C;
                
                @include r768{
                    padding-top: 0;
                }

                @include r576{
                    font-size: 16px;                       
                    width: 355px;
                }

                @include r360{                        
                    width: 315px;
                }

                >.table{
                    width: 1000px;                    
                    margin: 0 auto 50px;
                    color: #465D4C;
                    
                    
                    @include r1440{
                        width: 800px;
                        font-size: 22px;
                    }
                    @include r1200{
                        width: 650px;
                        font-size: 18px;
                    }
                    
                    @include r992{
                        display: flex;
                        flex-direction: column;
                        width: 470px;
                        margin-bottom: 50px;
                    }

                    @include r576{                        
                        width: 330px;
                        font-size: 12px;
                    }

                    @include r360{                        
                        width: 300px;
                    }

                    &:nth-child(n + 2){

                        >ul.title{
                            display: none;

                            @include r992{
                                display: flex;
                            }                            
                        }
                    }

                    >ul.title{
                        //訂單標頭
                        display: flex;
                        justify-content: space-around;

                        >li{
                            text-align: center;
                            padding: 35px 0;
                            font-weight: bold;


                        }
                    }

                    >ul.item{
                        //收藏內容
                        display: flex;
                        justify-content: space-around;
                        align-items: center;

                        border-bottom: 1px solid #465D4C;

                        >li{
                            display: flex;
                            flex-direction: column;
                            align-items: center;

                            img{
                                width: 100px;
                                height: 100px;
                                margin-bottom: 10px;

                                @include r992{
                                    width: 85px;
                                    height: 85px;
                                }

                                @include r576{
                                    width: 65px;
                                    height: 65px;
                                }

                                @include r360{                        
                                    width: 55px;
                                    height: 55px;
                                }
                            }
                            span{
                                margin-bottom: 10px;
                            }
                        }

                        button{
                            border: 1px solid #465D4C;
                            border-radius: 4px;
                            outline: none;
                            background-color: rgba(0,0,0,0);
                            color: #465D4C;
                            font-size: 16px;

                            width: 110px;
                            padding: 7px;
                            margin: 10px;
                            cursor: pointer;

                            @include r1440{
                                font-size: 14px;
                            }

                            @include r992{
                                width: 90px;
                                font-size: 12px;
                            }

                            @include r768{
                                width: 30px;
                                font-size: 10px;
                            }

                            &:hover{
                                background-color: #465D4C;
                                color: #fff;
                            }

                            span{

                                @include r768{
                                    display: none;
                                }
                            }

                            i{
                                display: none;

                                @include r768{
                                    display: block;
                                    // width: 30px;
                                }
                            }
                        }

                        .remove{
                            border: 1px solid #aaa;
                            color: #aaa;

                        }
                    }

                    .name{
                        width: 20%;
                    }
                    .size{
                        width: 30%;
                    }
                    .price{
                        width: 30%;
                    }
                    .btn{
                        width: 20%;
                    }
                }
            }
        }
    }
}