//通用
@import '../../lib/header/variable';

//排版設定
@import 'var';
@import 'mixin';

//動畫設定
@keyframes stepRotation {
    0%{
        transform: rotate(0);
    }
    25%{
        transform: rotate(-30deg);
    }
    50%{
        transform: rotate(0);
    }
    75%{
        transform: rotate(30deg);

    }
    100%{
        transform: rotate(0);
    }
    
}






body{
    background-color: #FFFAF4;
    
    .jk_order{
        background-color: #FFFAF4;
        margin-bottom: 100px;
        *{
            box-sizing: border-box;
        }
        .container{
            display: flex;
            width: 100%;
            max-width: $containerWidth + px;
            min-width: 319px;
            margin: 0 auto;
            padding-top: $containerPaddingTop + px;
            
            .sideMenu{
                font-family: 'Noto Sans TC Regular', '微軟正黑體', sans-serif;
                width: $sideMenuWidth + px;
                height: $sideMenuHeight + px;
                border: 1px solid #465D4C;
                margin-left: 10px;
                font-size: $fzp;
                
                z-index: 1;

                position: relative;

                @include r1200{
                    width: 250px;
                }
                @include r768{
                    width: 100%;
                    height: 70px;
                    border: none;
                    margin: 0;
                    background-color: rgb(120, 143, 126);

                    position: fixed;
                    bottom: 0;
                }
                @include r576{
                    height: 60px;
                }

                &::after{
                    content: '';
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    background-color: #BDA79C;

                    transform: translate(-20px, -20px);
                    opacity: .3;
                    z-index: -1;

                    @include r768{
                        display: none;
                    }
                }
                ul{
                    padding-top: $sideMenuPaddingTop + px;                    

                    @include r768{
                        display: flex;
                        justify-content: space-around;
                        align-items: center;
                        padding: 3px 0 0;
                        height: 100%;
                    }

                    li{
                        width: 130px;
                        margin: 0 auto 30px;
                        font-size: $fzh2;
                        line-height: 2;
                        text-align: center;

                        @include r1200{
                            width: 100px;
                            font-size: 24px;
                        }

                        @include r768{
                            width: 60px;
                            height: 60px;
                            margin: 0;
                            font-size: 12px;                          
                            
                            // background-color: #fff;
                        }
                        @include r576{
                            width: 45px;
                            height: 45px;
                        }                 
                        
                        &:hover{
                            font-size: 31px;
                            // font-weight: bold;
                            transition: .1s;
                            
                            @include r1200{
                                font-size: 25px;
                            }
                            @include r768{
                                font-size: 12px;
                                font-weight: normal;
                            }
                        }

                        >a{
                            text-decoration: none;
                            color: #465D4C;
                            
                            @include r768{
                                display: flex;
                                flex-direction: column;
                                
                                color: #fff;
                            }
                            >span.computer{
                                @include r768{
                                    display: none;
                                }
                            }
                            >span.rwd{
                                display: none;
                                font-size: 14px;
                                font-weight: bold;
                                @include r768{
                                    display: block;
                                }
                            }

                            >i{
                                display: none;
                                margin: 5px;
                                font-size: 24px;

                                @include r768{
                                    display: block;
                                    margin: 5px;
                                }
                                @include r576{
                                    display: block;
                                    margin: 0px;
                                }
                                
                            }
                        }
                    }
                    li.-on{
                        position: relative;
                        &::before{
                            content: '';
                            position: absolute;
                            right: 0;
                            left: 0;
                            bottom: 0;
                            border-bottom: 1px solid #465D4C;
                            
                            @include r768{
                                display: none;
                                
                            }
                            

                        }
                        >a{
                            @include r768{
                                color: #465D4C;
                                
                            }
                        }
                    }
                }
            }

            main{
                font-family: 'Noto Sans TC Light', '微軟正黑體', sans-serif;
                margin: 0 auto;
                padding-top: $mainPaddingTop + px;
                width: 75%;
                max-width: $containerWidth - $sideMenuWidth + px; 
                font-size: $fzp;

                @include r768{
                    padding-top: 0;
                }

                @include r576{                        
                    width: 355px;
                }

                @include r360{                        
                    width: 315px;
                }

                //每筆訂單
                >.table{
                    width: 1000px;
                    margin: 0 auto;
                    color: #465D4C;                    

                    @include r1440{
                        width: 800px;
                        font-size: 22px;
                    }
                    @include r1200{
                        width: 650px;
                        font-size: 18px;
                    }
                    
                    @include r992{
                        display: flex;
                        flex-direction: column;
                        width: 470px;
                        margin-bottom: 50px;
                    }

                    @include r576{                        
                        width: 330px;
                        font-size: 12px;
                    }

                    @include r360{                        
                        width: 300px;
                    }

                    &:nth-child(n + 2){

                        >ul.title{
                            display: none;

                            @include r992{
                                display: flex;
                            }
                            
                        }
                    }
                    
                    >.rough{

                        @include r992{
                            display: flex;
                        }

                        >ul.title{
                            //訂單標頭
                            display: flex;
                            justify-content: space-between;
                            height: 80px;
                            background-color: #465D4C;
    
                            @include r992{
                                flex-direction: column;
                                width: 30%;
                                height: auto;
                            }
    
                            >li{
                                width: 25%;
                                line-height: 80px;
                                text-align: center;
                                vertical-align: middle;
                                font-weight: bold;
                                color: #fff;
    
                                @include r992{
                                    width: 100%;
                                    // flex-grow: 1;
                                    // line-height: 106.36px;    //之後用js改變行高置中
                                }
                            }
                            
                            //標頭格線
                            >li.name, >li.count, >li.price{
                                border-right: 1px solid #FFFAF4;
                                border-left: 1px solid #FFFAF4;
    
                                @include r992{
                                    border-right: none;
                                    border-left: none;
                                    border-top: 1px solid #FFFAF4;
                                    border-bottom: 1px solid #FFFAF4;
    
                                }
                            }
                                                    
                            >li.primary{
                                border-right: 1px solid #FFFAF4;
                                
                                @include r992{
                                    border-right: none;
                                    border-bottom: 1px solid #FFFAF4;
                                    line-height: 120px;
                                }

                                @include r576{
                                    height: 113px;
                                    line-height: 113px;
                                }
                            }
    
                            >.name{
                                
                                @include r992{

                                    flex-grow: 1;

                                    display: flex;
                                    justify-content: center;                                   
                                    flex-direction: column;
                                    align-items: center;


    
                                    // height: 97px;  //js抓高度
                                    // line-height: 97px;
                                    
                                    // display: flex;
                                    // flex-direction: column;
                                }

                                @include r576{

                                    height: 85px;  //js抓高度
                                    line-height: 85px;
                                }
                                // span{

                                //     @include r992{
    
                                //         height: 28px;  //js抓高度                           
                                //     }
                                // }
                            }
    
                            >.count{
                                @include r992{
                                    display: none;                                    
                                }
                            }
                            
                            >li.status{
                                border-left: 1px solid #FFFAF4;
    
                                @include r992{
                                    border-left: none;
                                    border-top: 1px solid #FFFAF4;
                                }
                            }
                            
                        }
                        
                        //訂單實際內容
                        >ul.item{
                            border-right: 1px solid #465D4C;
                            display: flex;
                            justify-content: space-around;
    
                            @include r992{
                                flex-direction: column;
                                justify-content: flex-start;
                                
                                width: 70%;
                            }
    
                            >li{
                                border-top: 0;                               
                                border-right: 0;
                                border-bottom: 1px solid #465D4C;
                                border-left: 1px solid #465D4C;
                                width: 20%;
                                padding: 10px;
                                text-align: center;
                                
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                vertical-align: middle;
                                
    
                                @include r992{
                                    
                                    width: 100%;
                                }
    
                                >p{
                                    margin: 15px auto;
                                }
    
                                >button{
                                    margin:0 auto 15px;
                                    padding: 6px;
                                    width: 110px;
                                    font-size: 20px;
                                    background-color: rgba(0, 0, 0, 0);
                                    outline: none;
                                    border: 1px solid #465D4C;
                                    color: #465D4C;
                                    cursor: pointer;

                                    @include r1440{
                                        font-size: 20px;
                                    }
                                    
                                    @include r1200{
                                        width: 90px;
                                        font-size: 18px;
                                    }

                                    @include r576{
                                        width: 80px;
                                        font-size: 12px;
                                    }
    
                                    &:hover{
                                        background-color: #465D4C;
                                        color: #fff;
                                    }
                                    
                                }
                                >ol{
                                    
                                    >li{
                                        padding: 10px;
                                    }
                                }
                            }
    
                            >li.primary{
                                
                                font-size: 20px;
                                
                                @include r1440{
                                    font-size: 18px;
                                }

                                @include r1200{
                                    font-size: 16px;
                                }

                                @include r992{
                                    border-top: 1px solid #465D4C;
                                }
                            }
    
                            >li.count{
                                @include r992{
                                    display: none;
                                }                            
                            }
    
                            >.price{
                                @include r992{
                                    height: 82px;
                                    
                                }
                            }
    
                            >.status{
                                @include r992{
                                    height: 81px;
                                    
                                }
                            }
                        }
    
                    }

                    //詳細資訊
                    >.detail{
                        display: none;
                        width: 100%;
                        border-right: 1px solid #465D4C;
                        border-left: 1px solid #465D4C;

                        //訂單進度
                        >.schedule{

                            display: flex;
                            justify-content: space-around;
                            align-items: center;

                            height: 280px;
                            padding: 50px;

                            @include r1440{
                                height: 250px;
                                padding: 35px;
                            }

                            @include r1200{
                                height: 230px;
                                padding: 25px;
                            }

                            @include r992{
                                flex-direction: column;
                                align-items: flex-start;

                                height: 200px;
                                padding: 20px;
                            }

                            //進度階段
                            >div{
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;

                                width: 170px;
                                height: 170px;
                                border-radius: 50%;
                                border: 1px solid #465D4C;

                                position: relative;

                                @include r1440{
                                    width: 150px;
                                    height: 150px;
                                }

                                @include r1200{
                                    width: 135px;
                                    height: 135px;
                                }

                                @include r992{
                                    flex-direction: row;
                                    justify-content: flex-start;

                                    width: 100%;
                                    height: auto;
                                    border: none;
                                }

                                &:hover{

                                    i{
                                        animation-name: stepRotation;
                                        animation-duration: .5s;
                                        animation-iteration-count: infinite;
                                        animation-timing-function: linear;

                                    }


                                }

                                >p{
                                    display: flex;
                                    flex-direction: column;
                                    align-items: center;
                                    padding-bottom: 13px;

                                    @include r1440{
                                        padding-bottom: 10px;
                                    }

                                    @include r1200{
                                        padding-bottom: 8px;
                                    }

                                    @include r992{
                                        flex-direction: row;
                                        justify-content: space-around;

                                        width: 100%;
                                        padding: 0;
                                    }

                                    
                                    >i{
                                        font-size: 27px;
                                        margin-bottom: 17px;

                                        @include r1440{
                                            font-size: 24px;
                                            margin-bottom: 14px;
                                        }

                                        @include r1200{
                                            font-size: 22px;
                                            margin-bottom: 12px;
                                        }

                                        @include r992{
                                            display: none;
                                        }
                                    }
                                    >span{
                                        @include r992{

                                            width: 107.53px;
                                        }
                                    }
                                    >span:nth-child(2){
                                        margin-bottom: 5px;

                                        @include r1440{
                                            font-size: 20px;
                                        }

                                        @include r1200{
                                            font-size: 18px;
                                        }

                                        @include r992{
                                            margin-bottom: 0;
                                        }

                                        
                                    }
                                    >span:last-child{
                                        text-align: center;
                                        padding: 3px;
                                        font-size: 16px;

                                        @include r1440{
                                            font-size: 14px;
                                        }

                                        @include r1200{
                                            font-size: 12px;
                                        }

                                        @include r992{
                                            font-size: 14px;
                                            padding: 0;
                                        }
                                    }

                                }


                                
                            }
                            >div + div{

                                &::before{
                                    content: '';
                                    
                                    width: 56px;
                                    border-bottom: 2px solid #465D4C;

                                    position: absolute;
                                    left: 0;

                                    transform: translateX(-100%);

                                    @include r1440{
                                        width: 33.5px;
                                    }

                                    @include r1200{
                                        width: 16px;
                                    }

                                    @include r992{
                                        border-bottom: none;
                                    }
                                }
                            }
                            div.-now{
                                background-color: #465D4C;
                                color: #fff;

                                @include r992{
                                    color: #465D4C;
                                    background-color: rgba(0, 0, 0, 0);
                                }
                            }
                        }

                        //商品明細
                        >.detail_items{

                            @include r992{
                                border-top: 1px solid #465D4C;
                            }

                            >h3{
                                text-align: center;
                                margin: 30px;

                                @include r1200{
                                    margin: 20px;
                                }

                                @include r992{
                                    font-weight: bold;
                                    margin: 35px;
                                }

                                @include r576{
                                    font-size: 16px;
                                }
                            }

                            >.table{
                                    border-bottom: 1px solid#465D4C;
                                    
                                
                                >ul{

                                    display: flex;
                                    justify-content: space-between;

                                    border-top: 1px solid #465D4C;

                                    @include r992{
                                        border-top: none;
                                    }

                                    li{
                                        text-align: center;
                                        padding: 5px;
                                        font-size: 16px;

                                        @include r992{
                                            padding: 0;
                                        }
                                    }

                                    .pro_price, .pro_count, .pro_dsicount, .pro_total{
                                        border-left: 1px solid #465D4C;

                                        @include r992{
                                            border-left: none;
                                        }
                                    }

                                    li.pro_name{
                                        width: 25%; 
                                    }
                                    li.pro_price{
                                        width: 25%;
                                    }
                                    li.pro_count{
                                        width: 15%;
                                        
                                        @include r992{
                                            width: 20%;
                                        }
                                    }
                                    li.pro_dsicount{
                                        width: 15%;

                                        @include r992{
                                            display: none;
                                        }
                                    }
                                    li.pro_total{
                                        width: 20%;

                                        @include r992{
                                            width: 30%;
                                        }
                                    }
                                }

                                //明細標頭
                                >ul.title{
                                    height: 50px;

                                    @include r992{
                                        height: 35px;
                                    }

                                    >li{
                                        height: 50px;
                                        line-height: 40px;
                                        font-size: 16px;

                                        @include r992{
                                            height: 35px;
                                            line-height: 25px;
                                        }
                                    }
                                }

                                //明細內容
                                ul.item{

                                    ol >li{

                                        padding: 10px;

                                        &:last-child{

                                            @include r992{
                                                padding: 10px 0 20px;

                                            }
                                        }

                                    }
                                }

                                .rwd_discount{
                                    display: none;
                                    border-top: 1px dashed #465D4C;
                                    padding: 15px;                                    
                                    font-size: 16px;
                                    text-align: center;

                                    @include r992{
                                        display: block;

                                    }
                                }

                            }

                        }
                    }
                    
                }
                
                #page{
                    width: 100%;


                    ol{
                        width: 200px;
                        margin: 20px auto;
                        display: flex;
                        justify-content: space-between;

                        li{
                            width: 30px;
                            height: 30px;
                            border: 1px solid #465D4C;
                            line-height: 30px;
                            text-align: center;
                            color: #54383B;
                            font-size: $fzSmall;
                            cursor: pointer;
                        }
                    }
                }
            }          
            
        }
    }

    
}