//排版設定
@import 'var';
@import 'mixin';





body{
    background-color: #FFFAF4;
    
    .jk_wrapper{
        background-color: #FFFAF4;
        margin-bottom: 100px;
        *{
            box-sizing: border-box;
        }
        .container{
            display: flex;
            width: 100%;
            max-width: $containerWidth + px;
            min-width: 319px;
            margin: 0 auto;
            padding-top: $containerPaddingTop + px;
            
            .sideMenu{
                width: $sideMenuWidth + px;
                height: $sideMenuHeight + px;
                border: 1px solid #465D4C;
                margin-left: 10px;
                font-size: $fzp;
                
                z-index: 1;

                position: relative;

                @include r1200{
                    width: 250px;
                }
                @include r768{
                    width: 100%;
                    height: 70px;
                    border: none;
                    margin: 0;
                    background-color: rgb(120, 143, 126);

                    position: fixed;
                    bottom: 0;
                }
                @include r576{
                    height: 60px;
                }

                &::after{
                    content: '';
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    background-color: #BDA79C;

                    transform: translate(-20px, -20px);
                    opacity: .3;
                    z-index: -1;

                    @include r768{
                        display: none;
                    }
                }
                ul{
                    padding-top: $sideMenuPaddingTop + px;                    

                    @include r768{
                        display: flex;
                        justify-content: space-around;
                        align-items: center;
                        padding: 3px 0 0;
                        height: 100%;
                    }

                    li{
                        width: 130px;
                        margin: 0 auto 30px;
                        font-size: $fzh2;
                        line-height: 2;
                        text-align: center;

                        @include r1200{
                            width: 100px;
                            font-size: 24px;
                        }

                        @include r768{
                            width: 60px;
                            height: 60px;
                            margin: 0;
                            font-size: 12px;                          
                            
                            // background-color: #fff;
                        }
                        @include r576{
                            width: 45px;
                            height: 45px;
                        }                 
                        
                        &:hover{
                            font-size: 31px;
                            font-weight: bold;
                            transition: .1s;
                            
                            @include r1200{
                                font-size: 25px;
                            }
                            @include r768{
                                font-size: 12px;
                                font-weight: normal;
                            }
                        }

                        >a{
                            text-decoration: none;
                            color: #465D4C;
                            
                            @include r768{
                                display: flex;
                                flex-direction: column;
                                
                                color: #fff;
                            }
                            >span.computer{
                                @include r768{
                                    display: none;
                                }
                            }
                            >span.rwd{
                                display: none;
                                font-size: 14px;
                                font-weight: bold;
                                @include r768{
                                    display: block;
                                }
                            }

                            >i{
                                display: none;
                                margin: 5px;
                                font-size: 24px;

                                @include r768{
                                    display: block;
                                    margin: 5px;
                                }
                                @include r576{
                                    display: block;
                                    margin: 0px;
                                }
                                
                            }
                        }
                    }
                    li.-on{
                        position: relative;
                        &::before{
                            content: '';
                            position: absolute;
                            right: 0;
                            left: 0;
                            bottom: 0;
                            border-bottom: 1px solid #465D4C;
                            
                            @include r768{
                                display: none;
                                
                            }
                            

                        }
                        >a{
                            @include r768{
                                color: #465D4C;
                                
                            }
                        }
                    }
                }
            }

            main{
                // font-family: 'Noto Sans TC';
                margin: 0 auto;
                padding-top: $mainPaddingTop + px;
                width: 75%;
                max-width: $containerWidth - $sideMenuWidth + px; 
                font-size: $fzp;
                font-weight: lighter;

                //每筆訂單
                >.table{
                    width: 1000px;
                    margin: 0 auto;
                    // border: 1px solid #465D4C;
                    color: #465D4C;

                    @include r1440{
                        width: 800px;
                        font-size: 22px;
                    }
                    @include r1200{
                        width: 650px;
                        font-size: 18px;
                    }
                    
                    @include r992{
                        display: flex;
                        width: 470px;
                        margin-bottom: 50px;
                    }

                    @include r576{                        
                        width: 315px;
                    }

                    &:nth-child(n + 2){

                        >ul.title{
                            display: none;

                            @include r992{
                                display: flex;
                            }
                            
                        }
                    }
                    
                    //訂單標頭
                    >ul.title{
                        display: flex;
                        justify-content: space-around;
                        height: 80px;
                        background-color: #465D4C;

                        @include r992{
                            flex-direction: column;
                            justify-content: space-between;
                            width: 30%;
                            height: auto;
                        }

                        >li{
                            width: 25%;
                            line-height: 80px;
                            text-align: center;
                            vertical-align: middle;
                            font-weight: bold;
                            color: #fff;

                            @include r992{
                                width: 100%;
                                // flex-grow: 1;
                                // line-height: 106.36px;    //之後用js改變行高置中
                            }
                        }
                        
                        //標頭格線
                        >li.name, >li.count, >li.price{
                            border-right: 1px solid #FFFAF4;
                            border-left: 1px solid #FFFAF4;

                            @include r992{
                                border-right: none;
                                border-left: none;
                                border-top: 1px solid #FFFAF4;
                                border-bottom: 1px solid #FFFAF4;

                            }
                        }
                                                
                        >li.primary{
                            border-right: 1px solid #FFFAF4;
                            
                            @include r992{
                                border-right: none;
                                border-bottom: 1px solid #FFFAF4;
                                line-height: 121px;
                            }
                        }

                        >.name{
                            
                            @include r992{

                                height: 97.5px;  //js抓高度
                                line-height: 97.5px;
                                
                            }
                        }

                        >.count{
                            @include r992{
                                display: none;
                                
                            }
                        }
                        
                        >li.status{
                            border-left: 1px solid #FFFAF4;

                            @include r992{
                                border-left: none;
                                border-top: 1px solid #FFFAF4;
                            }
                        }
                        
                    }
                    
                    //訂單實際內容
                    >ul.item{
                        border-right: 1px solid #465D4C;
                        display: flex;
                        justify-content: space-around;

                        @include r992{
                            flex-direction: column;
                            justify-content: flex-start;
                            
                            width: 70%;
                        }

                        >li{
                            border-top: 0;                               
                            border-right: 0;
                            border-bottom: 1px solid #465D4C;
                            border-left: 1px solid #465D4C;
                            width: 20%;
                            padding: 10px;
                            text-align: center;
                            
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            vertical-align: middle;
                            

                            @include r992{
                                
                                width: 100%;
                            }

                            >p{
                                margin: 15px auto;
                            }

                            >button{
                                margin:0 auto 15px;
                                padding: 6px;
                                width: 110px;
                                font-size: 24px;
                                background-color: rgba(0, 0, 0, 0);
                                outline: none;
                                border: 1px solid #465D4C;
                                color: #465D4C;
                                cursor: pointer;
                                
                                @include r1200{
                                    width: 90px;
                                    font-size: 18px;
                                }

                                &:hover{
                                    background-color: #465D4C;
                                    color: #fff;
                                }
                                
                            }
                            >ol{
                                
                                >li{
                                    padding: 10px;
                                }
                            }
                        }

                        >li.primary{
                            
                            @include r992{
                                border-top: 1px solid #465D4C;
                            }
                        }

                        >li.count{
                            @include r992{
                                display: none;
                            }                            
                        }

                        >.price{
                            @include r992{
                                height: 82px;
                                
                            }
                        }

                        >.status{
                            @include r992{
                                height: 81px;
                                
                            }
                        }
                    }

                    
                }
                // table#order{
                //     width: 1000px;
                //     margin: 0 auto;
                //     border: 1px solid #465D4C;
                //     color: #465D4C;

                //     @include r1440{
                //         width: 800px;
                //     }
                //     @include r1200{
                //         width: 650px;
                //         font-size: 20px;
                //     }
                    

                //     tr{
                //         border: 1px solid #465D4C;

                //         >th{
                //             border: 1px solid #465D4C;
                //             height: 40px;
                //             padding: 40px 20px;
                //             font-weight: bold;
                //             color: #fff;
                //             background-color: #465D4C;

                //             @include r1200{
                //                 height: 30px;
                //                 padding: 30px 20px;
                //             }

                //             &:nth-child(3){
                //                 width: 150px;

                //                 @include r1200{
                //                     width: 100px;
                //                 }
                //             }
                //         }
                //         >th + th{
                //             border-left: 2px solid #fff;
                //         }
                //         >td{
                //             border: 1px solid #465D4C;
                //             text-align: center;
                //             padding-top: 10px;

                //             >button{
                //                 margin: 15px auto;
                //                 padding: 6px;
                //                 font-size: 24px;
                //                 background-color: rgba(0, 0, 0, 0);
                //                 outline: none;
                //                 border: 1px solid #465D4C;
                //                 color: #465D4C;
                //                 cursor: pointer;

                //                 @include r1200{
                //                     font-size: 20px;
                //                 }

                //                 &:hover{
                //                     background-color: #465D4C;
                //                     color: #fff;
                //                 }
                //             }
                //             >ol{
                                
                //                 >li{
                //                     line-height: 1.6;
                //                     padding: 10px;
                //                 }

                //             }
                //         }
                //         .primary, .price, .status{
                //             vertical-align: middle;
                //         }

                //     }
                // }
                #page{
                    width: 100%;


                    ol{
                        width: 200px;
                        margin: 20px auto;
                        display: flex;
                        justify-content: space-between;

                        li{
                            width: 30px;
                            height: 30px;
                            border: 1px solid #465D4C;
                            line-height: 30px;
                            text-align: center;
                            color: #54383B;
                            font-size: $fzSmall;
                            cursor: pointer;
                        }
                    }
                }
            }          
            
        }
    }

    
}