@import '../../lib/header/_variable.scss';
$cbg : #FFFAF4;
$csb :#5f9ea0;
$csg : #465d4c;
$csdb : #577c8a;
$csdr : #865454;
$cfs : #54383b;
$cfm : #787878;
$cfl : #bda79e;
$cf :#CAC3BB;

@mixin para() {
        p{
            font-size: 12px !important;
        }
        span{
            font-size: 8px !important;
        }
        button{
            font-size: 12px !important;
        }
    @media (min-width: 361px) {
        p{
            font-size: 12px !important;
        }
        span{
            font-size: 10px !important;
        }
        button{
            font-size: 12px !important;
        }
    }
    @media (min-width: 576px) {
        p{
            font-size: 16px !important;
        }
        span{
            font-size: 12px !important;
        }
        button{
            font-size: 16px !important;
        }
    }
    @media (min-width: 768px) {
        p{
            font-size: 16px !important;
        }
        span{
            font-size: 12px !important;
        }
        button{
            font-size: 16px !important;
        }
    }
    @media (min-width: 992px) {
        p{
            font-size: 20px !important;
        }
        span{
            font-size: 14px !important;
        }
        button{
            font-size: 20px !important;
        }
    }
    @media (min-width: 1200px) {
        p{
            font-size: 20px !important;
        }
        span{
            font-size: 14px !important;
        }
        button{
            font-size: 20px !important;
        }
    }
    @media (min-width: 1500px) {
        p{
            font-size: 24px !important;
        }
        span{
            font-size: 16px !important;
        }
        button{
            font-size: 24px !important;
        }
    }
    @media (min-width: 1700px) {
        p{
            font-size: 24px !important;
        }
        span{
            font-size: 16px !important;
        }
        button{
            font-size: 24px !important;
        }
    }
}

.kcc_htmlmain{
    width: 100vw;
    overflow-x: hidden;
    background-color: $cbg;
}

.kcc_contest{
    *{
        box-sizing: border-box;
        font-family: 'Noto Sans TC Light', '微軟正黑體', sans-serif;
        // outline: red 1px solid;
        text-decoration: none;
    }
    img{
        height: 20px;
        width: 20px;
    }
    .wrap{
        display: flex;
        flex-direction: column-reverse;
        // max-height: calc(100vh - 100px);
        .left{
            position: relative;
        }
        .right{
            // display: none;
            &.-block{
                display: block;
            }
        }
    }

    //right
    .contest_nav{
        padding: 20px 0;
        display: flex;
        justify-content: space-around;
        width: 100%;
        position: relative;
        h2{
        font-family: 'Noto Sans TC regular', '微軟正黑體', sans-serif ;
        color:#BDA79C;
        }
        &::after{
            content: '';
            display: block;
            width: 100%;
            height: 10px;
            background-color: rgba(134, 84, 84, 0.10);
            position: absolute;
            bottom: 15px;
        }
    }
    .rule_contentbox{
        padding: 0 25px;
        display: flex;
        color: $csdr;
        position: relative;
            &::after{
                content: '';
                width: 92%;
                height: 1px;
                background-color: $csdr;
                position: absolute;
                bottom: 10px;
                left: 50%;
                transform: translateX(-50%);
            }
        .spacebox{
            align-self: stretch;
            min-width: 10px;
            border-left: $csdr 1px solid;
        }
        .rule_tab{
            display: flex;
            justify-content: space-around;
            padding: 0 10px 20px;
        }
        .rule_content{
            padding: 0 15px;
            line-height: 30px;
            text-indent: 15px;
            text-align:justify;
            overflow: auto;
            max-height: 300px;
            margin-bottom: 20px;
        }
        .light{
            color:#BDA79C;
            text-decoration: underline;
        }
    }

    //left
    .content_box{
        position: relative;
        .content{
        position: relative;
            &.-none{
                display: none;
            }
            .arrow{
                position: absolute;
            width: 130px;
            height: 130px;
            border: #465d4c 30px solid;
            top: 200px;
            left: 0;
            transform: rotate(45deg)translateX(-70%);
            }
        }
        .year{
            font-size: 15px;
            width: 15px;
            word-break: break-all;
            position: absolute;
            top: 10%;
            left: 10%;
            color: #BDA79C;
        }
        .contest_name{
            font-size: 50px;
            width: 130px;
            height: 130px;
            border: #BDA79C 1px solid;
            text-align: center;
            line-height: 130px;
            margin: auto;
            color: #BDA79C;
            &:nth-child(2){
                transform: translate(-40%,10px);
            }
            &:nth-child(3){
                transform: translate(40%,0px);
            }
            &:nth-child(4){
                transform: translate(0%,-10px);
            }
        }
    }
    .bgbox{
            height: 350px;
            width: 100%;
            background-color: #F5F5F5;
            position: absolute;
            top: 20px;
            z-index: -1;
    }
    .slider_titlebox{
        margin: 10px 0 0 20px;
        color: #BDA79C;
        p{
        font-family: 'Noto Sans TC regular', '微軟正黑體', sans-serif ;
        margin: 10px 0;
        }
    }
    .slider{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        button{
            padding: 0;
            border:none;
            background: none;
            width: 25px;
            img{
                height: 20px;
                width: 20px;
            }
        }
        .picbox{
            float: left;
            overflow: hidden;
            width: 280px;
            height: 70px;
            font-size: 0;
            img{
                width: 70px;
                height: 70px;
            }
        }
    }

    .down{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        min-height: 40px;
        background-color: #F1EADE;
    }











    @include title();
    @include para();

    @include rwd(360){}
    @include rwd(576){
        .rule_contentbox{
            padding:0 50px;
        }

        .slider_titlebox{
        margin: 10px 0 0 100px;
        }
        .slider{
            .picbox{
            width: 450px;
            height: 90px;
                img{
                    width: 90px;
                    height: 90px;
                }
            }
        }
    }
    @include rwd(768){
        .wrap{
            flex-direction: row;
            .left{
                width: 40%;
            }
            .right{
                width: 60%;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        }
        //right
        .rule_contentbox{
            .rule_tab{
                margin: 20px 0;
            }
            .rule_content{
            margin-bottom: 40px;
            }
        }

        //left
        .slider{
            .picbox{
            width: 210px;
            height: 70px;
                img{
                    width: 70px;
                    height: 70px;
                }
            }
        }
        .slider_titlebox{
        margin: 10px 0 0 20px;
        }
        .content_box{
            .year{
                left: 7%;
            }
        }
        .bgbox{
            height: 100%;
            top: 00px;
        }
    }
    @include rwd(992){
        
        //left
        .slider{
            .picbox{
            width: 280px;
            }
        }
        .content_box{
            .year{
                left: 10%;
            }
        }
        .slider_titlebox{
        margin: 10px 0 0 50px;
        }
    }
    @include rwd(1200){
        .wrap .right{
            padding-right: 50px;
        }
        .contest_nav::after{
            height: 20px;
            bottom: 10px;
        }
        //left
        .slider{
            .picbox{
            width: 360px;
            height: 90px;
                img{
                    width: 90px;
                    height: 90px;
                }
            }
        }
    }
    @include rwd(1500){
        .wrap .right{
            padding-right: 70px;
        }
        .rule_contentbox{
            padding-left: 80px;
        }
    }
    @include rwd(1700){
        .wrap{
            height: calc(100vh - 200px);
        }
    }

}







footer.libft{
        display: none;
        position: fixed;
        bottom: 40px;
}