@import '../../lib/header/_variable.scss';
$cbg : #FFFAF4;
$csb :#5f9ea0;
$csg : #465d4c;
$csdb : #577c8a;
$csdr : #865454;
$cfs : #54383b;
$cfm : #787878;
$cfl : #bda79e;
$cf :#CAC3BB;

@mixin para() {
        p{
            font-size: 12px !important;
        }
        span{
            font-size: 8px !important;
        }
        button{
            font-size: 12px !important;
        }
    @media (min-width: 361px) {
        p{
            font-size: 12px !important;
        }
        span{
            font-size: 10px !important;
        }
        button{
            font-size: 12px !important;
        }
    }
    @media (min-width: 576px) {
        p{
            font-size: 16px !important;
        }
        span{
            font-size: 12px !important;
        }
        button{
            font-size: 16px !important;
        }
    }
    @media (min-width: 768px) {
        p{
            font-size: 16px !important;
        }
        span{
            font-size: 12px !important;
        }
        button{
            font-size: 16px !important;
        }
    }
    @media (min-width: 992px) {
        p{
            font-size: 20px !important;
        }
        span{
            font-size: 14px !important;
        }
        button{
            font-size: 20px !important;
        }
    }
    @media (min-width: 1200px) {
        p{
            font-size: 20px !important;
        }
        span{
            font-size: 14px !important;
        }
        button{
            font-size: 20px !important;
        }
    }
    @media (min-width: 1500px) {
        p{
            font-size: 24px !important;
        }
        span{
            font-size: 16px !important;
        }
        button{
            font-size: 24px !important;
        }
    }
    @media (min-width: 1700px) {
        p{
            font-size: 24px !important;
        }
        span{
            font-size: 16px !important;
        }
        button{
            font-size: 24px !important;
        }
    }
}

.kcc_htmlmain{
    width: 100vw;
    overflow-x: hidden;
    background-color: $cbg;
    font-size: 0;
}

.kcc_contest{
    *{
        box-sizing: border-box;
        font-family: 'Noto Sans TC Light', '微軟正黑體', sans-serif;
        text-decoration: none;
    }
    img{
        height: 20px;
        width: 20px;
    }
    .wrap{
        display: flex;
        flex-direction: column-reverse;
        .left{
            position: relative;
        }
        .right{
            display: none;
            &.-block{
                display: block;
            }
        }
    }

    //right
    .contest_nav{
        padding: 20px 0;
        display: flex;
        justify-content: space-around;
        width: 100%;
        position: relative;
        h2{
        font-family: 'Noto Sans TC regular', '微軟正黑體', sans-serif ;
        color:#BDA79C;
        position: relative;
            &:hover{
                color: #865454;
            }
            &:hover:after{
                content: '';
                position: absolute;
                bottom: -10px;
                display: block;
                width: 0%;
                height: 2px;
                background:  #865454;
                animation: navHover 1s both;
            }
        }
        &::after{
            content: '';
            display: block;
            width: 100%;
            height: 10px;
            background-color: rgba(134, 84, 84, 0.10);
            position: absolute;
            bottom: 15px;
            z-index: -1;
        }
        a:nth-child(1) h2{
            color: #865454;
            &:after{
                content: '';
                position: absolute;
                bottom: -10px;
                display: block;
                width: 100%;
                height: 2px;
                background:  #865454;
            }
        }
    }

    .rule_contentbox{
        padding: 0 25px;
        display: flex;
        color: $csdr;
        position: relative;
            &::after{
                content: '';
                width: 92%;
                height: 1px;
                background-color: $csdr;
                position: absolute;
                bottom: 10px;
                left: 50%;
                transform: translateX(-50%);
            }
        span{
            cursor: pointer;
            &.onTarget{
                border-bottom: 1px solid #865454;
                border-top: 1px solid #865454;
                font-family: 'Noto Sans TC regular', '微軟正黑體', sans-serif;
            }
            &:hover{
                border-bottom: 1px solid #865454;
                border-top: 1px solid #865454;
                font-family: 'Noto Sans TC regular', '微軟正黑體', sans-serif;
            }
        }
        .spacebox{
            align-self: stretch;
            min-width: 10px;
            border-left: $csdr 1px solid;
        }
        .rule_tab{
            display: flex;
            justify-content: space-around;
            margin: 10px 0;
            padding: 0 10px;
        }
        .rule_content{
            display: none;
            padding: 0 15px 0 5px;
            line-height: 30px;
            text-indent: 15px;
            text-align:justify;
            overflow: auto;
            min-height: 300px;
            max-height: 300px;
            margin-bottom: 20px;
            @include scrollBar(10, none, none, 10, 10, rgba(134,84,84, .5)){
                &::-webkit-scrollbar-track {
                    -webkit-box-shadow: inset 0 0 6px rgba(134, 84, 84, 0.3);
                }
                &::-webkit-scrollbar-thumb {
                    -webkit-box-shadow: inset 0 0 6px rgba(134, 84, 84, 1);
                }
            }
        }
        .light{
            color:#BDA79C;
            text-decoration: underline;
        }
        .content_rule_tile{
            text-indent: 0px;
        }
        .rule_content_none1{
            display: block;
        }
    }
    @keyframes navHover{
        0%{
            width: 0%;
        }

        100%{
            width: 100%;
        }
    }


    //left
    .content_box{
        position: relative;
        .content{
        position: relative;
            &.-none{
                display: none;
            }
            .arrow{
                position: absolute;
            width: 130px;
            height: 130px;
            border: rgba(255, 255, 255, 0.6) 30px solid;
            top: 200px;
            left: 0;
            transform: rotate(45deg)translateX(-70%);
            }
        }
        .year{
            font-size: 15px;
            width: 15px;
            word-break: break-all;
            position: absolute;
            top: 10%;
            left: 10%;
            color: #BDA79C;
        }
        .contest_name{
            font-size: 50px;
            width: 130px;
            height: 130px;
            border: #BDA79C 1px solid;
            text-align: center;
            line-height: 130px;
            margin: auto;
            color: #BDA79C;
            &:nth-child(2){
                transform: translate(-40%,10px);
            }
            &:nth-child(3){
                transform: translate(40%,0px);
            }
            &:nth-child(4){
                transform: translate(0%,-10px);
            }
        }
    }
    .bgbox{
            height: 350px;
            width: 100%;
            background-color: #F5F5F5;
            position: absolute;
            top: 20px;
            z-index: -1;
    }
    .slider_titlebox{
        margin: 10px 0 0 20px;
        color: #BDA79C;
        p{
            font-family: 'Noto Sans TC regular', '微軟正黑體', sans-serif ;
            margin: 10px 0;
        }
    }
    .slider{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        overflow: hidden;
        button{
            padding: 0;
            border:none;
            background: none;
            width: 25px;
            outline: none;
            img{
                height: 20px;
                width: 20px;
                cursor: pointer;
            }
        }
        .picbox{
            float: left;
            overflow: hidden;
            width: 280px;
            height: 70px;
            font-size: 0;
            position: relative;
            .leave{
                position: absolute;
                left: 0px;
            }
            img{
                width: 70px;
                height: 70px;
            }
        }
    }

    .down{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        min-height: 40px;
        background-color: #F1EADE;
        position: relative;
        z-index: 3;
        img{
            width: 30px;
            height: 30px;
            cursor: pointer;
            transition: all 1s ease-in-out;

            &.-scale{
                transform: scaleY(-1);
            }
        }
    }













    @include title();
    @include para();

    @include rwd(360){}
    @include rwd(576){
        //right
        .rule_contentbox{
            padding:0 50px;
            .rule_content{
                line-height: 40px;
            }
        }
        //left
        
        .slider{
            .picbox{
            width: 450px;
            height: 90px;
                img{
                    width: 90px;
                    height: 90px;
                }
            }
        }
    }
    @include rwd(768){
        .wrap{
            flex-direction: row;
            height: calc(100vh - 145px);
            .left{
                width: 40%;
            }
            .right{
                width: 60%;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        }
        //right
        .rule_contentbox{
            margin-top: 20px;
            .rule_tab{
                margin: 20px 0;
            }
            .rule_content{
            margin-bottom: 40px;
            }
        }

        //left
        .content_box{
            height: 80%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            .contest_name{
                width: 100px;
                height: 100px;
                line-height: 100px;
            }
        }
        .slider_titlebox{
            position: absolute;
            bottom: 0;
        }
        .slider{
            height: 20%;
            .picbox{
            width: 210px;
            height: 70px;
                img{
                    width: 70px;
                    height: 70px;
                }
            }
        }
        .slider_titlebox{
            margin: 10px 0 0 20px;
        }
        .content_box{
            .year{
                left: 7%;
            }
        }
        .bgbox{
            position: fixed;
            height: 100vh;
            width: 40%;
            top: 0;
        }
    }

    @include rwd(992){
        .wrap{
            height: calc(100vh - 175px);
        }
        //right
        .rule_contentbox{
            padding:0 50px;
            .rule_content{
                line-height: 50px;
            }
        }
        //left
        .content_box{
            .contest_name{
                width: 130px;
                height: 130px;
                line-height: 130px;
            }
        }
        .slider{
            .picbox{
            width: 280px;
            }
        }
        .content_box{
            .year{
                left: 10%;
            }
        }
        .slider_titlebox{
        margin: 10px 0 0 50px;
        }
    }
    @include rwd(1200){
        .wrap{
            height: calc(100vh - 200px);
            .right{
                padding-right: 50px;
            }
        }
        .contest_nav::after{
            height: 20px;
            bottom: 10px;
        }
        //left
        .slider{
            .picbox{
            width: 360px;
            height: 90px;
                img{
                    width: 90px;
                    height: 90px;
                }
            }
        }
    }
    @include rwd(1500){
        .wrap .right{
            padding-right: 70px;
        }

        .rule_contentbox{
            .rule_content{
                line-height: 60px;
            }
        }

        .content_box{
            .contest_name{
                width: 160px;
                height: 160px;
                line-height: 160px;
            }
        }
    }
    @include rwd(1700){
        .wrap{
            height: calc(100vh - 220px);
        }
        .wrap .right{
            padding-right: 160px;
        }
        //right
        .rule_contentbox{
            margin-left: 50px;
            .rule_tab{
                margin: 20px 0 40px;
            }
            .rule_content{
                padding: 0 60px;
                margin-bottom: 40px;
                text-indent: 50px;
                min-height: 45vh;
                max-height: 45vh;
            }
        }
        //left
        .content_box{
            .content{
                .arrow{
                    position: absolute;
                    width: 200px;
                    height: 200px;
                    border: #465d4c 30px solid;
                    top: 300px;
                    left: 0;
                    transform: rotate(45deg)translateX(-70%);
                    border: rgba(255, 255, 255, 0.6) 50px solid;
                }
            }
            .year{
                font-size: 30px;
                width: 30px;
                line-height: 40px;
                word-break: break-all;
                position: absolute;
                top: 1%;
                left: 20%;
                color: #BDA79C;
            }
            .contest_name{
                width: 200px;
                height: 200px;
                line-height: 200px;
                font-size: 80px;
                &:nth-child(2){
                    transform: translate(-40%,50px);
                }
                &:nth-child(3){
                    transform: translate(40%,0px);
                }
                &:nth-child(4){
                    transform: translate(0%,-30px);
                }
            }
        }

        .slider{
            .picbox{
            width: 540px;
            height: 90px;
            }
        }

        .bgbox{
            position: fixed;
            height: 100vh;
            width: 40%;
        }
    }


}






footer.libft{
    position: fixed;
    bottom: -400px;
    transition: all 1s ease-in-out;
}

footer.libft.-on{
    bottom: 40px;
}