@import '../../lib/header/_variable.scss';
$cbg : #FFFAF4;
$csb :#5f9ea0;
$csg : #465d4c;
$csdb : #577c8a;
$csdr : #865454;
$cfs : #54383b;
$cfm : #787878;
$cfl : #bda79e;
$cf :#CAC3BB;

.kcc_htmlmain{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.kcc_contest{
    *{
        box-sizing: border-box;
    }


    
}

footer{
        display: none;
}