@import '../../lib/header/_variable.scss';
$cbg : #FFFAF4;
$csb :#5f9ea0;
$csg : #465d4c;
$csdb : #577c8a;
$csdr : #865454;
$cfs : #54383b;
$cfm : #787878;
$cfl : #bda79e;
$cf :#CAC3BB;

@mixin para() {
        p{
            font-size: 12px !important;
        }
        span{
            font-size: 8px !important;
        }
        button{
            font-size: 12px !important;
        }
    @media (min-width: 361px) {
        p{
            font-size: 12px !important;
        }
        span{
            font-size: 10px !important;
        }
        button{
            font-size: 12px !important;
        }
    }
    @media (min-width: 576px) {
        p{
            font-size: 16px !important;
        }
        span{
            font-size: 12px !important;
        }
        button{
            font-size: 16px !important;
        }
    }
    @media (min-width: 768px) {
        p{
            font-size: 16px !important;
        }
        span{
            font-size: 12px !important;
        }
        button{
            font-size: 16px !important;
        }
    }
    @media (min-width: 992px) {
        p{
            font-size: 20px !important;
        }
        span{
            font-size: 14px !important;
        }
        button{
            font-size: 20px !important;
        }
    }
    @media (min-width: 1200px) {
        p{
            font-size: 20px !important;
        }
        span{
            font-size: 14px !important;
        }
        button{
            font-size: 20px !important;
        }
    }
    @media (min-width: 1500px) {
        p{
            font-size: 24px !important;
        }
        span{
            font-size: 16px !important;
        }
        button{
            font-size: 24px !important;
        }
    }
    @media (min-width: 1700px) {
        p{
            font-size: 24px !important;
        }
        span{
            font-size: 16px !important;
        }
        button{
            font-size: 24px !important;
        }
    }
}

body{
    background: $cbg;
}

.kcc_shoppingcat{
    *{
        box-sizing: border-box;
        font-family: 'Noto Sans TC Light', '微軟正黑體', sans-serif;
        // outline: red 1px solid;
    }
    img{
        max-width: 100%;
    }
    a{
        text-decoration: none;
    }
    h2{
        white-space: nowrap;
    }
    .top{
        width: 100%;
        height: 60px;
        display: flex;
        justify-content: center;
        color: $cfl;
        .title{
            display: flex;
            margin: 15px;
            align-items: center;
            .circle{
                border: $cfl 1px solid;
                border-radius: 50%;
                font-size: 16px;
                height: 18px;
                width: 18px;
                line-height: 16px;
                text-align: center;
                margin-right: 8px;
            }
        }
    }
    .all{
        display: none;
    }
    main{
        .left{
            width: 100%;
            min-height: 300px;
            justify-content: center;
            display: flex;
            position: relative;
            &:before{
                    content: '';
                    height: 1px;
                    background: $csg;
                    width: 90%;
                    position: absolute;
            }
            .product{
                width: 85%;
            }
        }
        .list{
            width: 100%;
            height: 180px;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            margin-top: 10px;
            border-bottom: $csg 1px solid;
            .pick{
                height: 100%;
                display: none;
            }
            .picbox{
                height: 70%;
                width: 45%;
                display: flex;
                align-items: center;
                justify-content: center;
                .imgbox{
                    position: relative;
                    width: 130px;
                    border: $csg 1px solid;
                }
                .tag{
                    position: absolute;
                    right: 0px;
                    top: 0px;
                    color: $csdr;
                    border: $csdr 1px solid;
                    width: 15px;
                    height: 15px;
                    text-align: center;
                }
            }
            .discountbox{
                height: 30%;
                display: flex;
                width: 45%;
                justify-content: center;
                align-items: center;
                color: $csdr;
                .discount{
                    display: flex;
                    border: $csdr 1px solid;
                    justify-content: center;
                    align-items: center;
                    padding: 5px;
                    .tag{
                        margin-right: 5px;
                    }
                }
            }
            .info{
                width: 45%;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                height: 50%;
                text-align: center;
                color: #787878;
                .procduct_name{
                    margin-bottom: 20px;
                }
                .material{
                    margin-bottom: 20px;
                }
                .pricebox{
                    display: none;
                }
            }
            .count{
                height: 50%;
                width: 45%;
                display: flex;
                flex-direction: column;
                justify-content: start;
                color: #787878;
                .totalbox{
                    display: flex;
                    justify-content: center;
                    margin-bottom: 40px;
                    align-content: flex-start;
                }
                .numbox{
                    width: 100%;
                    display: flex;
                    height: 20px;
                    justify-content: center;
                    align-items: center;
                    .arrowl{
                        display: flex;
                        align-items: center;
                        width: 20px;
                        height: 20px;
                    }
                    .arrowr{
                        display: flex;
                        align-items: center;
                        width: 20px;
                        height: 20px;
                    }
                    .num{
                        width: 25px;
                        font-size: 18px;
                        border: none;
                        background: none;
                        text-align: center;
                        &::-webkit-outer-spin-button,
                        &::-webkit-inner-spin-button {
                            -webkit-appearance: none;
                            margin: 0;
                        }
                    }
                    input[type=number] {
                            -moz-appearance: textfield;
                        }
                    img{
                        display: flex;
                        align-items: center;
                        width: 20px;
                        height: 15px;
                    }
                }
            }
            .trash{
                    height: 20px;
            }
        }

        .right{
            width: 100%;
            background: $csg;
            position: sticky;
            bottom: 0;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 5px 10px;
            color: $cbg;
            .titlenum{
                display: none;
            }
            .cart_top{
                display: flex;
                justify-content: space-between;
                text-align: center;
            }
            .cart_btn{
                display: flex;
                justify-content: space-between;
            }
            .tatal_list{
                overflow-y: scroll;
                max-height: 50px;
                margin-top: 5px;
                
                p{
                    margin-right: 5px;
                }
            }
            .tatal_li{
                display: flex;
                margin-bottom: 5px;
                border-bottom: 1px solid $cbg;
                padding-bottom: 5px;
            }
            .type{
                margin-right: 5px;
                text-align: right;
            }
            .pricenum{
                min-width: 45px;
            }
            .totalconut{
                display: flex;
                p{
                    margin-bottom: 5px;
                }
            }
            .merge{
                display: flex;
                justify-content: flex-end;
                .dollar{
                    margin-right: 3px;
                }
            }
            button{
                background-color: $csg;
                border: 1px solid $cbg;
                color: $cbg;
                margin: 5px 20px 0;
            }
        }
    }


    @include title();
    @include para();

}