@import '../../lib/header/_variable.scss';
$cbg : #FFFAF4;
$csb :#5f9ea0;
$csg : #465d4c;
$csdb : #577c8a;
$csdr : #865454;
$cfs : #54383b;
$cfm : #787878;
$cfl : #bda79e;
$cf :#CAC3BB;

@mixin para() {
        p{
            font-size: 12px !important;
        }
        span{
            font-size: 8px !important;
        }
        button{
            font-size: 12px !important;
        }
    @media (min-width: 361px) {
        p{
            font-size: 12px !important;
        }
        span{
            font-size: 10px !important;
        }
        button{
            font-size: 12px !important;
        }
    }
    @media (min-width: 576px) {
        p{
            font-size: 16px !important;
        }
        span{
            font-size: 12px !important;
        }
        button{
            font-size: 16px !important;
        }
    }
    @media (min-width: 768px) {
        p{
            font-size: 16px !important;
        }
        span{
            font-size: 12px !important;
        }
        button{
            font-size: 16px !important;
        }
    }
    @media (min-width: 992px) {
        p{
            font-size: 20px !important;
        }
        span{
            font-size: 14px !important;
        }
        button{
            font-size: 20px !important;
        }
    }
    @media (min-width: 1200px) {
        p{
            font-size: 20px !important;
        }
        span{
            font-size: 14px !important;
        }
        button{
            font-size: 20px !important;
        }
    }
    @media (min-width: 1500px) {
        p{
            font-size: 24px !important;
        }
        span{
            font-size: 16px !important;
        }
        button{
            font-size: 24px !important;
        }
    }
    @media (min-width: 1700px) {
        p{
            font-size: 24px !important;
        }
        span{
            font-size: 16px !important;
        }
        button{
            font-size: 24px !important;
        }
    }
}

body{
    background: $cbg;
}

.kcc_shoppingcat{
    *{
        box-sizing: border-box;
        font-family: 'Noto Sans TC Light', '微軟正黑體', sans-serif;
        // outline: red 1px solid;
    }
    img{
        max-width: 100%;
    }
    a{
        text-decoration: none;
    }
    h2{
        white-space: nowrap;
    }
    .top{
        width: 100%;
        height: 60px;
        display: flex;
        justify-content: space-around;
        color: $cfl;
        .title{
            display: flex;
            align-items: center;
            .circle{
                border: $cfl 1px solid;
                border-radius: 50%;
                font-size: 17px;
                height: 18px;
                width: 18px;
                line-height: 15px;
                text-align: center;
                margin-right: 3px;
            }
        }
    }
    .all{
        display: none;
    }
    main{
        .left{
            width: 100%;
            min-height: 300px;
            justify-content: center;
            display: flex;
            position: relative;
            margin-bottom: 40px;
            &:before{
                    content: '';
                    height: 1px;
                    background: $csg;
                    width: 90%;
                    position: absolute;
            }
            .product{
                width: 85%;
            }
        }
        .list{
            width: 100%;
            height: 180px;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            margin-top: 10px;
            border-bottom: $csg 1px solid;
            .pick{
                height: 100%;
                display: none;
            }
            .picbox{
                height: 70%;
                width: 45%;
                display: flex;
                align-items: center;
                justify-content: center;
                .imgbox{
                    position: relative;
                    width: 130px;
                    border: $csg 1px solid;
                }
                .tag{
                    position: absolute;
                    right: 0px;
                    top: 0px;
                    color: $csdr;
                    border: $csdr 1px solid;
                    width: 15px;
                    height: 15px;
                    text-align: center;
                }
            }
            .discountbox{
                height: 30%;
                display: flex;
                width: 45%;
                justify-content: center;
                align-items: center;
                color: $csdr;
                .discount{
                    display: flex;
                    border: $csdr 1px solid;
                    justify-content: center;
                    align-items: center;
                    padding: 5px;
                    .tag{
                        margin-right: 5px;
                    }
                }
            }
            .info{
                width: 45%;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                height: 50%;
                text-align: center;
                color: #787878;
                .procduct_name{
                    margin-bottom: 20px;
                }
                .material{
                    margin-bottom: 20px;
                }
                .pricebox{
                    display: none;
                }
            }
            .count{
                height: 50%;
                width: 45%;
                display: flex;
                flex-direction: column;
                justify-content: start;
                color: #787878;
                .totalbox{
                    display: flex;
                    justify-content: center;
                    margin-bottom: 40px;
                }
                .numbox{
                    width: 100%;
                    display: flex;
                    height: 20px;
                    justify-content: center;
                    align-items: center;
                    .arrowl{
                        display: flex;
                        align-items: center;
                        width: 20px;
                        height: 20px;
                    }
                    .arrowr{
                        display: flex;
                        align-items: center;
                        width: 20px;
                        height: 20px;
                    }
                    .num{
                        width: 25px;
                        font-size: 18px;
                        border: none;
                        background: none;
                        text-align: center;
                        &::-webkit-outer-spin-button,
                        &::-webkit-inner-spin-button {
                            -webkit-appearance: none;
                            margin: 0;
                        }
                    }
                    input[type=number] {
                            -moz-appearance: textfield;
                        }
                    img{
                        display: flex;
                        align-items: center;
                        width: 20px;
                        height: 15px;
                    }
                }
            }
            .trash{
                    height: 20px;
            }
        }

        .right{
            width: 100%;
            background: $csg;
            position: sticky;
            bottom: 0;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 5px 10px;
            color: $cbg;
            .titlenum{
                display: none;
            }
            .cart_top{
                display: flex;
                justify-content: space-between;
                text-align: center;
                .openimg{
                    display: none;
                }
            }
            .cart_top_list{
                font-size: 0;
            }
            .cart_btn{
                display: flex;
                justify-content: space-between;
                .backimg{
                    display: none;
                }
            }
            .tatal_list{
                overflow-y: scroll;
                max-height: 50px;
                margin-top: 5px;
                p{
                    margin-right: 5px;
                }
            }
            .tatal_li{
                display: flex;
                margin-bottom: 5px;
                border-bottom: 1px solid $cbg;
                padding-bottom: 5px;
            }
            .type{
                margin-right: 5px;
                text-align: right;
            }
            .pricenum{
                min-width: 45px;
            }
            .totalconut{
                display: flex;
                p{
                    margin-bottom: 5px;
                }
            }
            .merge{
                display: flex;
                justify-content: flex-end;
                .dollar{
                    margin-right: 3px;
                }
            }
            button{
                background-color: $csg;
                border: 1px solid $cbg;
                color: $cbg;
                margin: 5px 20px 0;
            }
        }
    }


    @include title();
    @include para();




    //cart
    @include rwd(360){

    }
    @include rwd(576){
        .top{
            height: 70px;
            .title{
                .circle{
                    font-size: 21px;
                    height: 22px;
                    width: 22px;
                    line-height: 19px;
                }
            }
        }
        .right{
            .cart_top{
                padding: 0 20px;
            }
            .cart_btn{
                padding: 0 20px;
            }
        }
    }
    @include rwd(768){}
    @include rwd(992){}
    @include rwd(1200){
        .kcc_cartbody{
            // display: flex;
            // justify-content: center;
        }
        .top{
            width: 1200px;
            margin: 0 auto;
            height: 100px;
            .title{
                .circle{
                    font-size: 27px;
                    height: 28px;
                    width: 28px;
                    line-height: 25px;
                    margin-right: 8px;
                }
            }
        }
        .all{
            display: block;
            width: 1200px;
            margin: 20px auto;
            padding-left: 60px;
            .delAll{
                border: $csg 1px solid;
                color: $csg;
                background: none;
                margin-left: 20px;
            }
        }
        main{
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            width: 1200px;
            align-items: flex-start;
            .left{
                width: 800px;
                &:before{
                    width: 100%;
                }
            }
            .list{
                height: 320px;
                .pick{
                    display: block;
                }
                .picbox{
                    order: 1;
                    .imgbox{
                        width: 200px;
                    }
                    .tag{
                        width: 25px;
                        height: 25px;
                    }
                }
                .info{
                    order: 2;
                    height: 30%;
                    flex-direction: row;
                    flex-wrap: wrap;
                    padding: 0 60px;
                    .procduct_name{
                        width: 100%;
                    }
                    .material{
                        width: 50%;
                        text-align: left;
                    }
                    .pricebox{
                        display: flex;
                        width: 50%;
                        justify-content: flex-end;
                    }
                }
                .count{
                    height: 70%;
                    order: 3;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    .totalbox{
                        margin-bottom: 0px;
                        width: 50%;
                    }
                    .numbox{
                        width: 50%;
                    }
                }
                .discountbox{
                    order: 4;
                    height: 30%;
                }
                .trash{
                    order: 5;
                }
            }
            .right{
                width: 300px;
                flex-direction: row;
                flex-wrap: wrap;
                background:none;
                color: #465d4c;
                border: #465d4c solid 1px;
                top: 0;
                .titlenum{
                    display: block;
                    width: 100%;
                    text-align: center;
                }
                .cart_top{
                    width: 100%;
                    flex-direction: column;
                    align-items: center;
                    .openimg{
                        display: block;
                        height: 10px;
                        padding-top: 2px;
                        margin-left: 5px;
                    }
                    .unflod{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-bottom: 10px;
                    }
                }
                .cart_top_list{
                    margin: 10px 0 30px;
                }
                .tatal_list{
                    display: none;
                }
                .totalconut{
                    align-self: flex-end;
                }
                .cart_btn{
                    width: 100%;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    .buy{
                        border:1px solid $csg;
                    }
                    .backstep{
                        display: flex;
                        align-items: center;
                        font-size: 14px !important;
                        .backimg{
                            display: block;
                            height: 10px;
                            margin-right: 5px;
                            padding-top: 2px;
                        }
                    }
                }
                button{
                    background: none;
                    color: #465d4c;
                }
            }
        }

    }
    @include rwd(1500){}
    @include rwd(1700){
        .top{
            height: 140px;
            .title{
                .circle{
                    font-size: 31px;
                    height: 32px;
                    width: 32px;
                    line-height: 25px;
                    margin-right: 12px;
                }
            }
        }
    }




}