@import '../../lib/header/_variable.scss';
$cbg : #FFFAF4;
$csb :#5f9ea0;
$csg : #465d4c;
$csdb : #577c8a;
$csdr : #865454;
$cfs : #54383b;
$cfm : #787878;
$cfl : #bda79e;
$cf :#CAC3BB;

@mixin para() {
        p{
            font-size: 12px !important;
        }
        span{
            font-size: 8px !important;
        }
        button{
            font-size: 12px !important;
        }
    @media (min-width: 361px) {
        p{
            font-size: 12px !important;
        }
        span{
            font-size: 10px !important;
        }
        button{
            font-size: 12px !important;
        }
    }
    @media (min-width: 576px) {
        p{
            font-size: 16px !important;
        }
        span{
            font-size: 12px !important;
        }
        button{
            font-size: 16px !important;
        }
    }
    @media (min-width: 768px) {
        p{
            font-size: 16px !important;
        }
        span{
            font-size: 12px !important;
        }
        button{
            font-size: 16px !important;
        }
    }
    @media (min-width: 992px) {
        p{
            font-size: 20px !important;
        }
        span{
            font-size: 14px !important;
        }
        button{
            font-size: 20px !important;
        }
    }
    @media (min-width: 1200px) {
        p{
            font-size: 20px !important;
        }
        span{
            font-size: 14px !important;
        }
        button{
            font-size: 20px !important;
        }
    }
    @media (min-width: 1500px) {
        p{
            font-size: 24px !important;
        }
        span{
            font-size: 16px !important;
        }
        button{
            font-size: 24px !important;
        }
    }
    @media (min-width: 1700px) {
        p{
            font-size: 24px !important;
        }
        span{
            font-size: 16px !important;
        }
        button{
            font-size: 24px !important;
        }
    }
}

body{
    background: $cbg;
    position: relative;
}

.kcc_shoppingcat{
    *{
        box-sizing: border-box;
        font-family: 'Noto Sans TC Light', '微軟正黑體', sans-serif;
    }
    img{
        max-width: 100%;
    }
    a{
        text-decoration: none;
    }
    h2{
        white-space: nowrap;
    }
    .top{
        width: 100%;
        height: 60px;
        display: flex;
        justify-content: space-around;
        color: $cfl;
        .title{
            display: flex;
            align-items: center;
            .circle{
                border: $cfl 1px solid;
                border-radius: 50%;
                font-size: 17px;
                height: 18px;
                width: 18px;
                line-height: 15px;
                text-align: center;
                margin-right: 3px;
            }
        }
        .title.-onColor{
            color: #54383b;
            .circle{
                background: #54383b;
                color: $cbg;
            }
            h2{
                font-family: 'Noto Sans TC regular', '微軟正黑體', sans-serif;
            }
        }
    }
    .all{
        display: none;
    }
    main{
        .left{
            width: 100%;
            min-height: 300px;
            justify-content: center;
            display: flex;
            position: relative;
            margin-bottom: 40px;
            min-height: 45vh;
            &:before{
                content: '';
                height: 1px;
                background: $csg;
                width: 90%;
                position: absolute;
                top:0px;
            }
            .product{
                width: 85%;
            }
        }

        .list{
            width: 100%;
            height: 180px;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            margin-top: 10px;
            border-bottom: $csg 1px solid;
            .pick{
                height: 100%;
                display: none;
                cursor: pointer;
            }
            .picbox{
                height: 70%;
                width: 45%;
                display: flex;
                align-items: center;
                justify-content: center;
                .imgbox{
                    position: relative;
                    width: 130px;
                    border: $csg 1px solid;
                }
                .tag{
                    position: absolute;
                    right: -0.45px;
                    top: -0.5px;
                    color: $csdr;
                    border: $csdr 1px solid;
                    text-align: center;
                    padding: 2px 4px;
                    p{
                        display: block;
                        margin: auto;
                    }
                }
            }
            .discountbox{
                height: 30%;
                display: flex;
                width: 45%;
                justify-content: center;
                align-items: center;
                color: $csdr;
                .discount{
                    display: flex;
                    border: $csdr 1px solid;
                    justify-content: center;
                    align-items: center;
                    padding: 5px;
                    .tag{
                        margin-right: 5px;
                    }
                }
            }
            .info{
                width: 45%;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                height: 50%;
                text-align: center;
                color: #787878;
                .procduct_name{
                    margin-bottom: 20px;
                }
                .material{
                    margin-bottom: 20px;
                }
                .pricebox{
                    display: none;
                }
            }
            .count{
                height: 50%;
                width: 45%;
                display: flex;
                flex-direction: column;
                justify-content: start;
                color: #787878;
                .totalbox{
                    display: flex;
                    justify-content: center;
                    margin-bottom: 40px;
                }
                .numbox{
                    width: 100%;
                    display: flex;
                    height: 20px;
                    justify-content: center;
                    align-items: center;
                    .arrowl{
                        display: flex;
                        align-items: center;
                        width: 20px;
                        height: 20px;
                        cursor: pointer;
                    }
                    .arrowr{
                        display: flex;
                        align-items: center;
                        width: 20px;
                        height: 20px;
                        cursor: pointer;
                    }
                    .num{
                        width: 25px;
                        font-size: 12px;
                        border: none;
                        background: none;
                        text-align: center;
                        &::-webkit-outer-spin-button,
                        &::-webkit-inner-spin-button {
                            -webkit-appearance: none;
                            margin: 0;
                        }
                    }
                    input[type=number] {
                            -moz-appearance: textfield;
                        }
                    img{
                        display: flex;
                        align-items: center;
                        width: 20px;
                        height: 10px;
                    }
                }
            }
            .trash{
                width: 10%;
                height: 20px;
                cursor: pointer;
            }
        }

        .right{
            width: 100%;
            background: $csg;
            position: sticky;
            bottom: 0;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 5px 10px;
            color: $cbg;
            white-space: nowrap;
            .titlenum{
                display: none;
            }
            .cart_top{
                display: flex;
                justify-content: space-between;
                text-align: center;
                .openimg{
                    height: 8px;
                    margin-left: 5px;
                }
                .unflod{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        cursor: pointer;
                        display: none;
                    }
            }
            .cart_top_list{
                font-size: 0;
                min-width: 20px;
            }
            .cart_btn{
                display: flex;
                justify-content: space-between;
                .backimg{
                    display: none;
                }
            }
            .tatal_list{
                overflow-y: scroll;
                max-height: 50px;
                margin-top: 5px;
                display: none;
                p{
                    margin-right: 5px;
                }
            }
            .tatal_li{
                display: flex;
                margin-bottom: 5px;
                border-bottom: 1px solid $cbg;
                padding-bottom: 5px;
            }
            .type{
                margin-right: 15px;
                text-align: right;
            }
            .pricenum{
                min-width: 45px;
            }
            .totalconut{
                display: flex;
                p{
                    margin-bottom: 5px;
                }
            }
            .merge{
                display: flex;
                justify-content: flex-end;
                .dollar{
                    margin-right: 3px;
                }
            }
            button{
                cursor: pointer;
                outline: none;
                background-color: $csg;
                border: 1px solid $cbg;
                color: $cbg;
                margin: 5px 20px 0;
            }
            .buy:hover{
                background: $cbg;
                color: $csg;
            }
            .backstep:hover{
                background: $cbg;
                color: $csg;
            }
        }


        //left2
        .left2{
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            padding-bottom: 20px;
            *{
                font-family: 'Noto Sans TC regular', '微軟正黑體', sans-serif;
                color: #465d4c;
            }
            h2{
                padding: 20px 0 10px;
            }
            .outer{
                width: 80%;
                border: #465d4c 1px solid;
            }
            .checkT{
                display: flex;
                >input{
                    margin: auto 10px;
                }
            }
            .df{
                display: flex;
            }
            .lh{
                display: inline-block;
                margin: auto 0;
            }
            input{
                background-color: $cbg;
                padding: 0 10px;
                outline: none;
                border: 1px solid #465d4c;
                font-size: 12px;
                font-family: 'Noto Sans TC light', '微軟正黑體', sans-serif;
                color: #787878;
            }

            //購買人
            .memberbox{
                padding: 15px 15px 0;
                white-space: nowrap;
                > div{
                    margin-bottom: 15px;
                }
                button{
                    padding: 0;
                    background: none;
                    outline: none;
                    border: none;
                    color: #787878;
                }
                .innerT{
                    width: 15%;
                    text-align: center;
                }
                .modified{
                    width: 15%;
                }
                input{
                    padding: 0 10px;
                    width: 70%;
                    margin-left: 20px;
                    border: none;
                    border-bottom: 1px solid #465d4c;
                }
            }

            //付款
            .paymentbox{
                padding-top: 15px;
                img{
                    max-width: 100%;
                }
                >div{
                    margin-bottom: 10px;
                }
            }
            .card_box{
                padding: 10px 10px 0;
                width: 80%;
                margin: 0 auto;
                border: #465d4c 1px solid;
                position: relative;
                font-size: 0;
                .inputnum_box{
                    width: 100%;
                }
                input{
                    width: 20%;
                    margin-bottom: 10px;
                    margin-right: 10px;
                    padding: 0 10px;
                }
                p{
                    margin-bottom: 10px;
                }
            }
            .cardicon_box{
                position: absolute;
                right: 15px;
                bottom: 10px;
                img{
                    width: 35px;
                    margin-left: 5px;
                    filter: grayscale(100%);
                }
            }
            .remit_box{
                padding: 10px 10px 0;
                width: 80%;
                margin: 0 auto;
                border: #465d4c 1px solid;
                font-size: 0;
                white-space: nowrap;
                >div{
                    margin-bottom: 10px;
                    >p:nth-child(1){
                        width: 25%;
                        margin-right: 20px;
                    }
                }
                .gary{
                    font-family: 'Noto Sans TC light', '微軟正黑體', sans-serif;
                    color: #787878;
                }
            }

            //運送
            .addsbox{
                padding: 10px 0;
                font-size: 0;
                >div{
                    margin-bottom: 10px;
                }
                .address_box{
                    padding: 10px 10px 0;
                    width: 80%;
                    margin: 0 auto;
                    border: #465d4c 1px solid;
                    font-size: 0;
                    white-space: nowrap;
                    select{
                        font-size: 12px;
                        color: #465d4c;
                        border-color: #465d4c;
                        margin-bottom: 10px;
                        background: none;
                        outline: none;
                    }
                    input{
                        display: block;
                        margin-bottom: 10px;
                        padding: 0 10px;
                    }
                    p{
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }

    //done
    .done_wrap{
        width: 90%;
        margin: 0 auto;
        padding-bottom: 30px;
        h2{
            font-family: 'Noto Sans TC regular', '微軟正黑體', sans-serif;
        }
        .icon{
            width: 45px;
            height: 45px;
            margin: 0 auto 20px;
        }
        .tks{
            text-align: center;
            margin-bottom: 20px;
            color: #54383b;
        }
        .done_payment_text{
            margin: 0 auto 20px;
            width: 60%;
            line-height: 30px;
            text-align:justify;
        }
        .done_detail{
            text-align: center;
            margin-bottom: 10px;
            color: #787878;
        }
        table{
            width: 80%;
            margin: 0 auto 20px;
            text-align: center;
            td,th,tr{
                border: #465d4c 1px solid;
                padding: 10px;
                font-size: 12px;
            }
            th{
                font-family: 'Noto Sans TC regular', '微軟正黑體', sans-serif;
                color: #465d4c;
            }
            td{
                font-family: 'Noto Sans TC light', '微軟正黑體', sans-serif;
                color: #787878;
            }
        }
        .backshop{
            outline: none;
            background: none;
            border: #465d4c 1px solid;
            display: block;
            margin: 0 auto;
            color: #465d4c;
            &:hover{
                background: $csg;
                color: $cbg;
            }
        }
        pre{
            margin-bottom: 10px;
        }
    }




    //paragraph
    @include title();
    @include para();

    //cart
    @include rwd(360){

    }
    @include rwd(576){
        .top{
            height: 70px;
            .title{
                .circle{
                    font-size: 21px;
                    height: 22px;
                    width: 22px;
                    line-height: 19px;
                }
            }
        }
        main{
            .right{
                .cart_top{
                    padding: 0 20px;
                }
                .cart_btn{
                    padding: 0 20px;
                }
            }

            .list{
                .count{
                    .totalbox{
                        margin-bottom: 30px;
                    }
                    .numbox{
                        .num{
                            font-size: 16px;
                        }
                        img{
                            height: 12px;
                        }
                    }
                }
            }
        }
    }
    @include rwd(768){
        main{
            .right{
                .type{
                    margin-right: 0px;
                }
                .cart_top{
                    padding: 0 50px;
                }
                .cart_btn{
                    padding: 0 80px;
                }
                .tatal_list{
                    p:nth-child(1),
                    p:nth-child(2){
                        margin-right: 25px;
                    }
                }
                .pricenum{
                min-width: 110px;
                }
            }
            .left{
                &:before{
                    width: 80%;
                }
            }
            .list{
                width: 85%;
                margin: 0 auto;
                height: 250px;
                margin-top: 20px;
                .picbox{
                    .imgbox{
                        width: 180px;
                    }
                }
                .info{
                    .procduct_name{
                        margin-bottom: 25px;
                    }
                    .material{
                        margin-bottom: 0px;
                    }
                }
                .count{
                    .totalbox{
                        margin-top: 25px;
                        margin-bottom: 30px;
                    }
                }
                .trash{
                height: 25px;
                }
            }
        }
    }
    @include rwd(992){
        main{
            .right{
                .cart_top{
                    padding: 0 90px;
                }
                .cart_btn{
                    padding: 0 110px;
                }
            }
            .list{
                .count{
                    .numbox{
                        .num{
                            font-size: 20px;
                        }
                        img{
                            height: 15px;
                        }
                    }
                }
            }
        }
    }
    @include rwd(1200){
        .kcc_cartbody{
            // display: flex;
            // justify-content: center;
        }
        .top{
            width: 1200px;
            margin: 0 auto;
            height: 100px;
            .title{
                .circle{
                    font-size: 27px;
                    height: 28px;
                    width: 28px;
                    line-height: 25px;
                    margin-right: 8px;
                }
            }
        }
        .all{
            display: block;
            width: 1200px;
            margin: 20px auto;
            padding-left: 60px;
            .delAll{
                border: $csg 1px solid;
                color: $csg;
                background: none;
                margin-left: 20px;
                outline: none;
                &:hover{
                    background: #465d4c;
                    color: $cbg;
                }
            }
        }
        main{
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            width: 1200px;
            align-items: flex-start;
            .left{
                width: 800px;
                &:before{
                    width: 100%;
                }
            }
            .list{
                width: 100%;
                height: 320px;
                justify-content: flex-start;
                padding-bottom: 20px;
                .pick{
                    display: block;
                    height: 70%;
                    background: none;
                }
                .picbox{
                    order: 1;
                    .imgbox{
                        width: 200px;
                    }
                }
                .info{
                    order: 2;
                    height: 30%;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: center;
                    padding: 0 60px;
                    align-items: center;
                    .procduct_name{
                        width: 100%;
                        margin: 10px 0 0;
                    }
                    .material{
                        width: 50%;
                        text-align: center;
                    }
                    .pricebox{
                        // display: flex;
                        width: 50%;
                        justify-content: flex-end;
                    }
                }
                .count{
                    height: 70%;
                    order: 3;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    .totalbox{
                        margin-top: 0;
                        margin-bottom: 0px;
                        width: 50%;
                    }
                    .numbox{
                        width: 50%;
                    }
                }
                .discountbox{
                    order: 4;
                    height: 30%;
                }
                .trash{
                    order: 5;
                    height: 70%;
                    width: 24px;
                }
            }
            .right{
                padding: 10px;
                width: 300px;
                flex-direction: row;
                flex-wrap: wrap;
                background:none;
                color: #787878;
                border: #465d4c solid 1px;
                top: 0;
                .titlenum{
                    display: block;
                    width: 100%;
                    text-align: center;
                }
                .cart_top{
                    width: 100%;
                    flex-direction: column;
                    align-items: center;
                    padding: 0 ;
                    .openimg{
                        display: block;
                        height: 10px;
                        padding-top: 2px;
                        margin-left: 5px;
                    }
                    .unflod{
                        margin-bottom: 10px;
                    }
                }
                .cart_top_list{
                    margin: 10px 0 30px;
                }
                .tatal_list{
                    display: none;
                }
                .totalconut{
                    align-self: flex-end;
                    p{
                    margin-bottom: 10px;
                    }
                }
                .pricenum{
                    min-width: 90px;
                }
                .discount_num{
                    color: $csdr;
                    p{
                        font-family: 'Noto Sans TC regular', '微軟正黑體', sans-serif;
                    }
                }
                .final_num{
                    color: #465d4c;
                    p{
                        font-family: 'Noto Sans TC regular', '微軟正黑體', sans-serif;
                    }
                }
                .cart_btn{
                    width: 100%;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    .buy{
                        order: -1;
                        border:1px solid $csg;
                        margin-top: 15px;
                        &:hover{
                            background: $csg;
                            color: $cbg;
                        }
                    }
                    .backstep{
                        display: flex;
                        align-items: center;
                        font-size: 14px !important;
                        color: #787878;
                        &:hover{
                            color: $csg;
                        }
                        .backimg{
                            display: block;
                            height: 10px;
                            margin-right: 5px;
                            padding-top: 2px;
                        }
                    }
                }
                button{
                    background: none;
                    color: #465d4c;
                }
            }
        }

    }
    @include rwd(1500){
        .all{
            .checkAll{
                width: 18px;
                height: 18px;
            }
            .delAll{
                margin-left: 40px;
            }
        }
        main{
            .list{
                .pick{
                    display: block;
                    height: 70%;
                    width: 18px;
                }
                .picbox{
                    .imgbox{
                        width: 230px;
                    }
                }
                .count{
                    .numbox{
                        .num{
                            font-size: 24px;
                        }
                        img{
                            height: 18px;
                        }
                    }
                }
                .trash{
                    width: 26px;
                }
                .discountbox .discount{
                    padding: 8px;
                }
            }
        }
    }
    @include rwd(1700){
        .top{
            height: 140px;
            .title{
                .circle{
                    font-size: 31px;
                    height: 32px;
                    width: 32px;
                    line-height: 25px;
                    margin-right: 12px;
                }
            }
        }
    }


    //order rwd
    @include rwd(360){
        main{
            .left2{
                width: 100%;
            }
        }
    }
    @include rwd(576){
        main{
            .left2{
                width: 80%;
                margin: 0 auto;
                input{
                padding: 0;
                font-size: 14px;
                }
                .addsbox{
                    .address_box{
                        select{
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
    @include rwd(768){
        main{
            .left2{
                h2{
                    padding: 30px 0 20px;
                }
                .outer{
                    width: 100%;
                }
                input{
                padding: 0;
                }
                .checkT{
                    >input{
                        margin-left: 20px;
                    }
                }
                .memberbox{
                    padding: 20px 20px 0;
                    white-space: nowrap;
                    > div{
                        margin-bottom: 20px;
                    }
                }
                .paymentbox{
                    padding-top: 20px;
                    >div{
                        margin-bottom: 20px;
                    }
                }
                .card_box{
                    padding: 20px 20px 0;
                    input{
                        width: 20%;
                        margin-bottom: 20px;
                        margin-right: 20px;
                    }
                    p{
                        margin-bottom: 20px;
                    }
                }
                .cardicon_box{
                    right: 25px;
                    bottom: 20px;
                    img{
                        width: 50px;
                        margin-left: 15px;
                    }
                }
                .remit_box{
                    padding: 20px 20px 0;
                    >div{
                        margin-bottom: 20px;
                        >p:nth-child(1){
                        margin-right: 30px;
                    }
                    }
                }
                .addsbox{
                    padding: 20px 0;
                    >div{
                    margin-bottom: 20px;
                    }
                    .address_box{
                        padding: 20px 20px 0;
                        select{
                            width: 20%;
                            margin-bottom: 20px;
                        }
                        input{
                            width: 75%;
                            margin-left: 5%;
                            display: inline-block;
                        }
                        p{
                        margin-bottom: 20px;
                        }
                    }
                }
            }
        }
    }
    @include rwd(992){
        main{
            .left2{
                width: 70%;
                input{
                padding: 0;
                font-size: 18px;
                }
                .addsbox{
                    .address_box{
                        select{
                            font-size: 18px;
                        }
                    }
                }
            }
        }
    }
    @include rwd(1200){
        main{
            .left2{
                padding-bottom: 30px;
                width: 800px;
                margin: 0;
                align-items: flex-start;
                h2{
                    padding: 40px 0 30px 10px;
                }
                .info{
                    padding-top: 0;
                }
                input{
                padding: 0;
                }
                .checkT{
                    >input{
                        margin-left: 30px;
                    }
                }
                .memberbox{
                    padding: 30px 30px 0;
                    white-space: nowrap;
                    > div{
                        margin-bottom: 30px;
                    }
                }
                .paymentbox{
                    padding-top: 30px;
                    >div{
                        margin-bottom: 30px;
                    }
                }
                .card_box{
                    padding: 30px 30px 0;
                    input{
                        width: 85px;
                        margin-bottom: 30px;
                        margin-right: 20px;
                    }
                    p{
                        margin-bottom: 30px;
                        margin-right: 10px;
                        width: 25%;
                    }
                    .cardnum_box{
                        display: flex;
                        .inputnum_box{
                            width: auto;
                        }
                    }
                    .carddate_box{
                        display: flex;
                    }
                    .cardcode_box{
                        display: flex;
                    }
                }
                .cardicon_box{
                    right: 30px;
                    bottom: 30px;
                    img{
                        width: 65px;
                        margin-left: 20px;
                    }
                }
                .remit_box{
                    padding: 30px 30px 0;
                    >div{
                        margin-bottom: 30px;
                        >p:nth-child(1){
                        margin-right: 30px;
                    }
                    }
                }
                .addsbox{
                    padding: 30px 0;
                    >div{
                    margin-bottom: 30px;
                    }
                    .address_box{
                        padding: 30px 30px 0;
                        select{
                            width: 20%;
                            margin-bottom: 30px;
                        }
                        input{
                            width: 75%;
                            margin-left: 5%;
                            display: inline-block;
                        }
                        p{
                        margin-bottom: 30px;
                        }
                    }
                }
            }
        }
    }
    @include rwd(1500){
        main{
            .left2{
                input{
                padding: 0 00px;
                font-size: 22px;
                }
                .addsbox{
                    .address_box{
                        select{
                            font-size: 22px;
                        }
                    }
                }
            }
        }
    }
    @include rwd(1700){
        main{
            .left2{
                .checkT{
                    input{
                        width: 18px;
                        height: 18px;
                    }
                }
            }
        }
    }

    //done rwd
    @include rwd(360){
        .done_wrap{
            .done_payment_text{
                width: 150px;
            }
            table{
                width: 60%;
            }
        }
    }
    @include rwd(576){
        .done_wrap{
            .done_payment_text{
                width: 150px;
                line-height: 40px;
            }
            table{
                td,th,tr{
                font-size: 16px;
                }
            }
        }
    }
    @include rwd(768){
        .done_wrap{
            .icon{
                width: 65px;
                height: 65px;
                margin: 10px auto 30px;
            }
            .tks{
                margin-bottom: 30px;
            }
            .done_payment_text{
                margin: 0 auto 30px;
                width: 180px;
            }
            .done_detail{
                margin-bottom: 20px;
            }
            table{
                width: 50%;
                margin-bottom: 20px;
            }
        }
    }
    @include rwd(992){
        .done_wrap{
            .done_payment_text{
                width: 220px;
                line-height: 50px;
            }
            table{
                width: 40%;
                td,th,tr{
                font-size: 20px;
                }
            }
        }
    }
    @include rwd(1200){
        .done_wrap{
            width: 1200px;
            .done_payment_text{
                width: 250px;
            }
            table{
                width: 35%;
            }
        }
    }
    @include rwd(1500){
        .done_wrap{
            .done_payment_text{
                line-height: 60px;
                margin: 0 auto 40px;
            }
            .icon{
                width: 90px;
                height: 90px;
                margin: 20px auto 40px;
            }
            .tks{
                margin-bottom: 40px;
            }
            .done_detail{
                margin-bottom: 30px;
            }
            table{
                margin-bottom: 30px;
                width: 40%;
                td,th,tr{
                    padding: 15px;
                    font-size: 24px;
                }
            }
        }
    }
    @include rwd(1700){
    }
}

.kc_popup{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    border: 5px solid #BDA79E;
    background-color: rgb(240, 235, 229);
    padding: 15px 50px 30px;
    white-space: nowrap;
    color: $csg;
    font-family: 'Noto Sans TC thin', '微軟正黑體', sans-serif;;
    // display: none;
    // opacity: 0;
    .btnbox{
        display: flex;
        justify-content: space-around;
        p{
            margin: 15px 30px 0;
            padding: 10px 30px;
            border: none;
            outline: none;
            border-bottom: 1px solid #BDA79E;
            background-color: rgb(240, 235, 229);
            &:hover {
            cursor: pointer;
            background-color: #BDA79E;
            color: white;
            }
        }
    }
}
@include rwdm(768){
    .kc_popup{
        padding: 10px 10px 10px;
        .btnbox{
        p{
            margin: 10px 15px 0;
            padding: 10px 20px;
        }
    }
    }
}

.bounce-enter-active {
    animation: bounce-in .8s;
}
.bounce-leave-active {
    animation: bounce-in .8s reverse;
}
@keyframes bounce-in {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.slide-fade-enter-active {
    transition: all .3s ease;
}
.slide-fade-leave-active {
    transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
    transform: translateX(10px);
    opacity: 0;
}
.input_erro{
    border:red 1px solid !important;
}